<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sysongy.poms.ordergoods.dao.SysOrderGoodsMapper" >
  <resultMap id="BaseResultMap" type="com.sysongy.poms.ordergoods.model.SysOrderGoods" >
    <id column="order_goods_id" property="orderGoodsId" jdbcType="VARCHAR" />
    <result column="order_id" property="orderId" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="number" property="number" jdbcType="DOUBLE" />
    <result column="sum_price" property="sumPrice" jdbcType="DECIMAL" />
    <result column="goods_type" property="goodsType" jdbcType="VARCHAR" />
    <result column="preferential_cash" property="preferential_cash" jdbcType="DECIMAL" />
    <result column="preferential_type" property="preferential_type" jdbcType="VARCHAR" />
    <association property="goods_type_info" column="goods_type"
                 javaType="com.sysongy.poms.usysparam.model.Usysparam"
                 select="com.sysongy.poms.usysparam.dao.UsysparamMapper.queryCardTypeByMcode">
    </association>
  </resultMap>
  
  <sql id="Base_Column_List" >
    order_goods_id, order_id, price, number, sum_price, goods_type, preferential_type, preferential_cash
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from sys_order_goods
    where order_goods_id = #{orderGoodsId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from sys_order_goods
    where order_goods_id = #{orderGoodsId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.sysongy.poms.ordergoods.model.SysOrderGoods" >
    insert into sys_order_goods (order_goods_id, order_id, price, 
      number, sum_price, goods_type, preferential_type, preferential_cash
      )
    values (#{orderGoodsId,jdbcType=VARCHAR}, #{orderId,jdbcType=VARCHAR}, #{price,jdbcType=DECIMAL}, 
      #{number,jdbcType=DOUBLE}, #{sumPrice,jdbcType=DECIMAL}, #{goodsType,jdbcType=VARCHAR},#{preferential_type,jdbcType=VARCHAR},
      #{preferential_cash,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sysongy.poms.ordergoods.model.SysOrderGoods" >
    insert into sys_order_goods
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orderGoodsId != null" >
        order_goods_id,
      </if>
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="number != null" >
        number,
      </if>
      <if test="sumPrice != null" >
        sum_price,
      </if>
      <if test="goodsType != null" >
        goods_type,
      </if>
      <if test="preferential_type != null" >
        preferential_type,
      </if>
      <if test="preferential_cash != null" >
        preferential_cash,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orderGoodsId != null" >
        #{orderGoodsId,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="number != null" >
        #{number,jdbcType=DOUBLE},
      </if>
      <if test="sumPrice != null" >
        #{sumPrice,jdbcType=DECIMAL},
      </if>
      <if test="goodsType != null" >
        #{goodsType,jdbcType=VARCHAR},
      </if>
      <if test="preferential_type != null" >
        #{preferential_type,jdbcType=VARCHAR},
      </if>
      <if test="preferential_cash != null" >
        #{preferential_cash,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.sysongy.poms.ordergoods.model.SysOrderGoods" >
    update sys_order_goods
    <set >
      <if test="orderId != null" >
        order_id = #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="number != null" >
        number = #{number,jdbcType=DOUBLE},
      </if>
      <if test="sumPrice != null" >
        sum_price = #{sumPrice,jdbcType=DECIMAL},
      </if>
      <if test="goodsType != null" >
        goods_type = #{goodsType,jdbcType=VARCHAR},
      </if>
    </set>
    where order_goods_id = #{orderGoodsId,jdbcType=VARCHAR}
  </update>

  <update id="updateByPrimaryKey" parameterType="com.sysongy.poms.ordergoods.model.SysOrderGoods" >
    update sys_order_goods
    set order_id = #{orderId,jdbcType=VARCHAR},
      price = #{price,jdbcType=DECIMAL},
      number = #{number,jdbcType=DOUBLE},
      sum_price = #{sumPrice,jdbcType=DECIMAL},
      goods_type = #{goodsType,jdbcType=VARCHAR}
    where order_goods_id = #{orderGoodsId,jdbcType=VARCHAR}
  </update>

  <select id="selectByOrderID" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
     from sys_order_goods
     where order_id = #{orderID,jdbcType=VARCHAR}
  </select>
</mapper>