<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sysongy.tcms.advance.dao.TcFleetMapper" >
  <resultMap id="BaseResultMap" type="com.sysongy.tcms.advance.model.TcFleet" >
    <id column="tc_fleet_id" property="tcFleetId" jdbcType="VARCHAR" />
    <result column="station_id" property="stationId" jdbcType="VARCHAR" />
    <result column="fleet_name" property="fleetName" jdbcType="VARCHAR" />
    <result column="sys_user_id" property="sysUserId" jdbcType="VARCHAR" />
    <result column="quota" property="quota" jdbcType="VARCHAR" />
    <result column="is_allot" property="isAllot" jdbcType="INTEGER" />
    <result column="is_deleted" property="isDeleted" jdbcType="VARCHAR" />
    <result column="created_date" property="createdDate" jdbcType="TIMESTAMP" />
    <result column="updated_date" property="updatedDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="MapResultMap" type="java.util.Map" >
    <id column="tc_fleet_id" property="tcFleetId" jdbcType="VARCHAR" />
    <result column="station_id" property="stationId" jdbcType="VARCHAR" />
    <result column="fleet_name" property="fleetName" jdbcType="VARCHAR" />
    <result column="sys_user_id" property="sysUserId" jdbcType="VARCHAR" />
    <result column="quota" property="quota" jdbcType="VARCHAR" />
    <result column="is_allot" property="isAllot" jdbcType="INTEGER" />
    <result column="is_deleted" property="isDeleted" jdbcType="VARCHAR" />
    <result column="created_date" property="createdDate" jdbcType="TIMESTAMP" />
    <result column="updated_date" property="updatedDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    tc_fleet_id, station_id, fleet_name, sys_user_id, quota, is_allot, created_date, updated_date
  </sql>
  <select id="queryFleetList" resultMap="BaseResultMap" parameterType="com.sysongy.tcms.advance.model.TcFleet" >
    select 
    <include refid="Base_Column_List" />
    from tc_fleet
    where is_deleted = 1
    <if test="tcFleetId != null &amp;&amp; tcFleetId !=''" >
      and tc_fleet_id = #{tcFleetId}
    </if>
    <if test="stationId != null &amp;&amp; stationId !=''" >
      and station_id = #{stationId}
    </if>
    <if test="fleetName != null &amp;&amp; fleetName !=''" >
      and fleet_name = #{fleetName}
    </if>
    <if test="sysUserId != null &amp;&amp; sysUserId !=''" >
      and sys_user_id = #{sysUserId}
    </if>
    order by created_date desc
  </select>
  <select id="queryFleetMapList" resultMap="MapResultMap" parameterType="com.sysongy.tcms.advance.model.TcFleet" >
    select tf.*,su.real_name,su.mobile_phone
    from tc_fleet tf left join sys_user su on tf.sys_user_id = su.sys_user_id
    where tf.is_deleted = 1
    <if test="tcFleetId != null &amp;&amp; tcFleetId !=''" >
      and tf.tc_fleet_id = #{tcFleetId}
    </if>
    <if test="stationId != null &amp;&amp; stationId !=''" >
      and tf.station_id = #{stationId}
    </if>
    <if test="fleetName != null &amp;&amp; fleetName !=''" >
      and (tf.fleet_name like CONCAT(#{fleetName,jdbcType=VARCHAR},'%')
      or  su.real_name like CONCAT(#{fleetName,jdbcType=VARCHAR},'%'))
    </if>
    <if test="sysUserId != null &amp;&amp; sysUserId !=''" >
      and tf.sys_user_id = #{sysUserId}
    </if>
    order by tf.created_date desc
  </select>
  <select id="queryFleetListByType" resultMap="MapResultMap" parameterType="com.sysongy.tcms.advance.model.TcFleet" >
    <!--select tv.*,tf.fleet_name
    from tc_fleet_vehicle tfv left join tc_vehicle tv on tfv.tc_vehicle_id = tv.tc_vehicle_id
    left join tc_fleet tf on tfv.tc_fleet_id= tf.tc_fleet_id
    where tv.is_deleted = 1
    <if test="tcFleetId != null &amp;&amp; tcFleetId !=''" >
      and tv.tc_fleet_id = #{tcFleetId}
    </if>
    <if test="stationId != null &amp;&amp; stationId !=''" >
      and tv.station_id = #{stationId}
    </if>
    order by tv.created_date desc-->
    select tc_fleet_id from tc_fleet_vehicle
    where  tc_fleet_id = #{tcFleetId}
    and station_id = #{stationId}
  </select>
  <select id="queryFleet" resultMap="BaseResultMap" parameterType="com.sysongy.tcms.advance.model.TcFleet" >
    select
    <include refid="Base_Column_List" />
    from tc_fleet
    where tc_fleet_id = #{tcFleetId,jdbcType=VARCHAR}
  </select>
  <select id="queryFleetByName" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from tc_fleet
    where station_id = #{0} and fleet_name = #{1}
  </select>
  <delete id="deleteFleet" parameterType="com.sysongy.tcms.advance.model.TcFleet" >
    delete from tc_fleet
    where tc_fleet_id = #{tcFleetId,jdbcType=VARCHAR}
  </delete>
  <insert id="addFleet" parameterType="com.sysongy.tcms.advance.model.TcFleet" >
    insert into tc_fleet
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tcFleetId != null" >
        tc_fleet_id,
      </if>
      <if test="stationId != null" >
        station_id,
      </if>
      <if test="fleetName != null" >
        fleet_name,
      </if>
      <if test="sysUserId != null" >
        sys_user_id,
      </if>
      <if test="quota != null" >
        quota,
      </if>
      <if test="isAllot != null" >
        is_allot,
      </if>
      <if test="isDeleted != null" >
        is_deleted,
      </if>
      <if test="createdDate != null" >
        created_date,
      </if>
      <if test="updatedDate != null" >
        updated_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tcFleetId != null" >
        #{tcFleetId,jdbcType=VARCHAR},
      </if>
      <if test="stationId != null" >
        #{stationId,jdbcType=VARCHAR},
      </if>
      <if test="fleetName != null" >
        #{fleetName,jdbcType=VARCHAR},
      </if>
      <if test="sysUserId != null" >
        #{sysUserId,jdbcType=VARCHAR},
      </if>
      <if test="quota != null" >
        #{quota,jdbcType=DECIMAL},
      </if>
      <if test="isAllot != null" >
        #{isAllot,jdbcType=INTEGER},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=VARCHAR},
      </if>
      <if test="createdDate != null" >
        #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedDate != null" >
        #{updatedDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateFleet" parameterType="com.sysongy.tcms.advance.model.TcFleet" >
    update tc_fleet
    <set >
      <if test="stationId != null" >
        station_id = #{stationId,jdbcType=VARCHAR},
      </if>
      <if test="fleetName != null" >
        fleet_name = #{fleetName,jdbcType=VARCHAR},
      </if>
      <if test="sysUserId != null" >
        sys_user_id = #{sysUserId,jdbcType=VARCHAR},
      </if>
      <if test="quota != null" >
        quota = #{quota,jdbcType=DECIMAL},
      </if>
      <if test="isAllot != null" >
        is_allot = #{isAllot,jdbcType=INTEGER},
      </if>
      <if test="isDeleted != null" >
        is_deleted = #{isDeleted,jdbcType=VARCHAR},
      </if>
      <if test="createdDate != null" >
        created_date = #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedDate != null" >
        updated_date = #{updatedDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where tc_fleet_id = #{tcFleetId,jdbcType=VARCHAR}
  </update>
  <update id="updateFleetMap" parameterType="java.util.Map" >
    update tc_fleet
    <set >
      <if test="stationId != null" >
        station_id = #{stationId,jdbcType=VARCHAR},
      </if>
      <if test="fleetName != null" >
        fleet_name = #{fleetName,jdbcType=VARCHAR},
      </if>
      <if test="sysUserId != null" >
        sys_user_id = #{sysUserId,jdbcType=VARCHAR},
      </if>
      <if test="quota != null" >
        quota = #{quota,jdbcType=DECIMAL},
      </if>
      <if test="isAllot != null" >
        is_allot = #{isAllot,jdbcType=INTEGER},
      </if>
      <if test="isDeleted != null" >
        is_deleted = #{isDeleted,jdbcType=VARCHAR},
      </if>
      <if test="createdDate != null" >
        created_date = #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedDate != null" >
        updated_date = #{updatedDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where tc_fleet_id = #{tcFleetId,jdbcType=VARCHAR}
  </update>
  <!--修改车队额度-->
  <update id="updateFleetQuota" >
    update tc_fleet
    <set >
        quota = #{2},
    </set>
    where tc_fleet_id = #{1} and station_id = #{0}
  </update>
</mapper>