<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sysongy.tcms.advance.dao.TcFleetQuotaMapper" >
  <resultMap id="BaseResultMap" type="com.sysongy.tcms.advance.model.TcFleetQuota" >
    <id column="tc_fleet_quota_id" property="tcFleetQuotaId" jdbcType="VARCHAR" />
    <result column="tc_fleet_id" property="tcFleetId" jdbcType="VARCHAR" />
    <result column="quota" property="quota" jdbcType="VARCHAR" />
    <result column="is_allot" property="isAllot" jdbcType="INTEGER" />
    <result column="created_date" property="createdDate" jdbcType="TIMESTAMP" />
    <result column="updated_date" property="updatedDate" jdbcType="TIMESTAMP" />
    <result column="station_id" property="stationId" jdbcType="VARCHAR" />
  </resultMap>

  <resultMap id="MapResultMap" type="java.util.Map" >
    <id column="tc_fleet_quota_id" property="tcFleetQuotaId" jdbcType="VARCHAR" />
    <result column="tc_fleet_id" property="tcFleetId" jdbcType="VARCHAR" />
    <result column="quota" property="quota" jdbcType="DECIMAL" />
    <result column="is_allot" property="isAllot" jdbcType="INTEGER" />
    <result column="created_date" property="createdDate" jdbcType="TIMESTAMP" />
    <result column="updated_date" property="updatedDate" jdbcType="TIMESTAMP" />
    <result column="station_id" property="stationId" jdbcType="VARCHAR" />
    <result column="alias_name" property="aliasName" jdbcType="VARCHAR" />
    <result column="real_name" property="realName" jdbcType="VARCHAR" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="mobile_phone" property="mobilePhone" jdbcType="VARCHAR" />
    <result column="fleet_name" property="fleetName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    tc_fleet_quota_id, tc_fleet_id, quota, is_allot, created_date, updated_date, station_id
  </sql>
  <select id="queryFleetQuota" resultMap="BaseResultMap" parameterType="com.sysongy.tcms.advance.model.TcFleetQuota" >
    select 
    <include refid="Base_Column_List" />
    from tc_fleet_quota
    where tc_fleet_quota_id = #{tcFleetQuotaId,jdbcType=VARCHAR}
  </select>
  <select id="queryFleetQuotaList" resultMap="BaseResultMap" parameterType="com.sysongy.tcms.advance.model.TcFleetQuota" >
  select
  <include refid="Base_Column_List" />
  from tc_fleet_quota
  where 1 = 1
  <if test="tcFleetId != null" >
    and  tc_fleet_id = #{tcFleetId,jdbcType=VARCHAR}
  </if>
  <if test="quota != null" >
    and  quota = #{quota,jdbcType=DECIMAL}
  </if>
  <if test="isAllot != null" >
    and  is_allot = #{isAllot,jdbcType=INTEGER}
  </if>
  <if test="createdDate != null" >
    and  created_date = #{createdDate,jdbcType=TIMESTAMP}
  </if>
  <if test="updatedDate != null" >
    and  updated_date = #{updatedDate,jdbcType=TIMESTAMP}
  </if>
  <if test="stationId != null" >
    and  station_id = #{stationId,jdbcType=VARCHAR}
  </if>
  order by created_date desc
  </select>
  <select id="queryFleetQuotaMapList" resultMap="MapResultMap" parameterType="com.sysongy.tcms.advance.model.TcFleetQuota" >
  select tf.fleet_name,tf.station_id,tf.tc_fleet_id,sr.real_name,sr.alias_name,sr.user_name,sr.mobile_phone,tf.is_allot,tf.quota,tf.updated_date
  from tc_fleet tf left join sys_user sr on tf.sys_user_id = sr.sys_user_id
  where tf.is_deleted = 1
  and tf.station_id = #{stationId}
  <if test="tcFleetId != null  &amp;&amp; tcFleetId !=''" >
    and  tf.tc_fleet_id = #{tcFleetId,jdbcType=VARCHAR}
  </if>
  <if test="quota != null &amp;&amp; quota !=''" >
    and  tf.quota = #{quota,jdbcType=DECIMAL}
  </if>
  <if test="isAllot != null &amp;&amp; isAllot !=''" >
    and  tf.is_allot = #{isAllot,jdbcType=INTEGER}
  </if>
  <if test="createdDate != null &amp;&amp; createdDate !=''" >
    and  tf.created_date = #{createdDate,jdbcType=TIMESTAMP}
  </if>
  <if test="updatedDate != null &amp;&amp; updatedDate !=''" >
    and  tf.updated_date = #{updatedDate,jdbcType=TIMESTAMP}
  </if>
  <if test="fleetName != null &amp;&amp; fleetName !=''" >
    and (tf.fleet_name like CONCAT(#{fleetName,jdbcType=VARCHAR},'%')
    or  sr.real_name like CONCAT(#{fleetName,jdbcType=VARCHAR},'%'))
  </if>
  order by tf.created_date desc
</select>
  <select id="queryQuotaList" resultMap="MapResultMap" parameterType="com.sysongy.tcms.advance.model.TcFleet" >
    select tfq.*,tf.fleet_name from tc_fleet_quota tfq left join tc_fleet tf on tfq.tc_fleet_id = tf.tc_fleet_id
    where tfq.station_id = #{stationId}
    <if test="fleetName != null &amp;&amp; fleetName !=''" >
      and (tf.fleet_name like CONCAT(#{fleetName,jdbcType=VARCHAR},'%'))
    </if>
    <if test="startDate != null &amp;&amp; endDate !=null  &amp;&amp; startDate != '' &amp;&amp; endDate !='' " >
      and  tfq.created_date between CONCAT(#{startDate,jdbcType=VARCHAR},' 0:00:00') and CONCAT(#{endDate,jdbcType=VARCHAR},' 23:59:59')
    </if>

  </select>
  <delete id="deleteFleetQuota" parameterType="com.sysongy.tcms.advance.model.TcFleetQuota" >
    delete from tc_fleet_quota
    where tc_fleet_quota_id = #{tcFleetQuotaId,jdbcType=VARCHAR}
  </delete>
  <insert id="addFleetQuotaList" parameterType="java.util.List" >
  insert into tc_fleet_quota (tc_fleet_quota_id,tc_fleet_id,station_id,quota,is_allot)
    VALUES
    <foreach collection="list" item="item" index="index" separator="," >
      (#{item.tcFleetQuotaId},#{item.tcFleetId},#{item.stationId},#{item.quota},#{item.isAllot})
    </foreach>
  </insert>
  <insert id="addFleetQuota" parameterType="com.sysongy.tcms.advance.model.TcFleetQuota" >
    insert into tc_fleet_quota
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tcFleetQuotaId != null" >
        tc_fleet_quota_id,
      </if>
      <if test="tcFleetId != null" >
        tc_fleet_id,
      </if>
      <if test="quota != null" >
        quota,
      </if>
      <if test="isAllot != null" >
        is_allot,
      </if>
      <if test="createdDate != null" >
        created_date,
      </if>
      <if test="updatedDate != null" >
        updated_date,
      </if>
      <if test="stationId != null" >
        station_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tcFleetQuotaId != null" >
        #{tcFleetQuotaId,jdbcType=VARCHAR},
      </if>
      <if test="tcFleetId != null" >
        #{tcFleetId,jdbcType=VARCHAR},
      </if>
      <if test="quota != null" >
        #{quota,jdbcType=DECIMAL},
      </if>
      <if test="isAllot != null" >
        #{isAllot,jdbcType=INTEGER},
      </if>
      <if test="createdDate != null" >
        #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedDate != null" >
        #{updatedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="stationId != null" >
        #{stationId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateFleetQuota" parameterType="com.sysongy.tcms.advance.model.TcFleetQuota" >
    update tc_fleet_quota
    <set >
      <if test="tcFleetId != null" >
        tc_fleet_id = #{tcFleetId,jdbcType=VARCHAR},
      </if>
      <if test="quota != null" >
        quota = #{quota,jdbcType=DECIMAL},
      </if>
      <if test="isAllot != null" >
        is_allot = #{isAllot,jdbcType=INTEGER},
      </if>
      <if test="createdDate != null" >
        created_date = #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedDate != null" >
        updated_date = #{updatedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="stationId != null" >
        station_id = #{stationId,jdbcType=VARCHAR},
      </if>
    </set>
    where tc_fleet_quota_id = #{tcFleetQuotaId,jdbcType=VARCHAR}
  </update>
</mapper>