<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sysongy.tcms.advance.dao.TcTransferAccountMapper" >
  <resultMap id="BaseResultMap" type="com.sysongy.tcms.advance.model.TcTransferAccount" >
    <id column="tc_transfer_account_id" property="tcTransferAccountId" jdbcType="VARCHAR" />
    <result column="order_id" property="orderId" jdbcType="VARCHAR" />
    <result column="station_id" property="stationId" jdbcType="VARCHAR" />
    <result column="sys_driver_id" property="sysDriverId" jdbcType="VARCHAR" />
    <result column="full_name" property="fullName" jdbcType="VARCHAR" />
    <result column="mobile_phone" property="mobilePhone" jdbcType="VARCHAR" />
    <result column="amount" property="amount" jdbcType="DECIMAL" />
    <result column="used" property="used" jdbcType="VARCHAR" />
    <result column="created_date" property="createdDate" jdbcType="TIMESTAMP" />
    <result column="updated_date" property="updatedDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="MapResultMap" type="java.util.Map" >
    <id column="deal_id" property="dealId" jdbcType="VARCHAR" />
    <result column="order_id" property="orderId" jdbcType="VARCHAR" />
    <result column="deal_number" property="dealNumber" jdbcType="VARCHAR" />
    <result column="deal_date" property="dealDate" jdbcType="TIMESTAMP" />
    <result column="deal_type" property="dealType" jdbcType="VARCHAR" />
    <result column="cash_back_per" property="cashBackPer" jdbcType="VARCHAR" />
    <result column="cash_back" property="cashBack" jdbcType="DECIMAL" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="run_success" property="runSuccess" jdbcType="VARCHAR" />
    <result column="order_number" property="orderNumber" jdbcType="VARCHAR" />
    <result column="order_type" property="orderType" jdbcType="VARCHAR" />
    <result column="cash" property="cash" jdbcType="DECIMAL" />
    <result column="real_name" property="realName" jdbcType="VARCHAR" />
    <result column="station_id" property="stationId" jdbcType="VARCHAR" />
    <result column="sys_driver_id" property="sysDriverId" jdbcType="VARCHAR" />
    <result column="full_name" property="fullName" jdbcType="VARCHAR" />
    <result column="mobile_phone" property="mobilePhone" jdbcType="VARCHAR" />
    <result column="amount" property="amount" jdbcType="DECIMAL" />
    <result column="used" property="used" jdbcType="VARCHAR" />
    <result column="order_by" property="orderBy" jdbcType="VARCHAR" />
    <result column="created_date" property="createdDate" jdbcType="TIMESTAMP" />
    <result column="updated_date" property="updatedDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    tc_transfer_account_id,order_id, station_id, sys_driver_id, full_name, mobile_phone, amount,
    used, created_date, updated_date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from tc_transfer_account
    where tc_transfer_account_id = #{tcTransferAccountId,jdbcType=VARCHAR}
  </select>
  <!--转账报表-->
  <select id="queryTransferListPage" resultMap="MapResultMap" parameterType="com.sysongy.tcms.advance.model.TcTransferAccount" >
/*    select sr.order_number,sr.order_type,sr.cash,su.real_name,sod.*,tta.full_name,tta.mobile_phone,tta.used
    from sys_order  sr left join sys_order_deal sod  on sr.order_id = sod.order_id
    left join tc_transfer_account tta on sr.debit_account = tta.sys_driver_id
    and sr.order_id = tta.order_id
    left join sys_user su on sr.operator = su.sys_user_id*/
    select max(sr.order_number) order_number,max(sr.order_type) order_type,max(sr.cash) cash,
    max(su.real_name) real_name,max(sod.deal_id) deal_id,max(sod.order_id) order_id,max(sod.deal_number) deal_number,
    max(sod.deal_date) deal_date,max(sod.deal_type) deal_type,max(sod.cash_back_per) cash_back_per,
    sum(sod.cash_back) cash_back,max(sod.run_success) run_success,max(sod.remark) remark,
    max(tta.full_name) full_name,max(tta.mobile_phone) mobile_phone,max(tta.used) used
    from sys_order  sr left join sys_order_deal sod  on sr.order_id = sod.order_id
    left join tc_transfer_account tta on sr.debit_account = tta.sys_driver_id
    and sr.order_id = tta.order_id
    left join sys_user su on sr.operator = su.sys_user_id
    where sr.order_type = #{sysDriverId} and sod.deal_type != '313'
    <if test="fullName != null &amp;&amp; fullName !=''" >
      and (tta.full_name like CONCAT('%',CONCAT(#{fullName,jdbcType=VARCHAR},'%'))
      or  tta.mobile_phone like CONCAT('%',CONCAT(#{fullName,jdbcType=VARCHAR},'%')))
    </if>
    <if test="stationId != null &amp;&amp; stationId != ''">
      and  sr.credit_account = #{stationId}
    </if>
    <if test="startDate != null &amp;&amp; endDate != ''">
      and sod.deal_date between CONCAT(#{startDate,jdbcType=VARCHAR},' 0:00:00') and CONCAT(#{endDate,jdbcType=VARCHAR},' 23:59:59')
    </if>
    group by sr.order_number
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from tc_transfer_account
    where tc_transfer_account_id = #{tcTransferAccountId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.sysongy.tcms.advance.model.TcTransferAccount" >
    insert into tc_transfer_account (tc_transfer_account_id,order_id, station_id, sys_driver_id,
      full_name, mobile_phone, amount, 
      used, created_date, updated_date
      )
    values (#{tcTransferAccountId,jdbcType=VARCHAR},#{orderId,jdbcType=VARCHAR}, #{stationId,jdbcType=VARCHAR}, #{sysDriverId,jdbcType=VARCHAR},
      #{fullName,jdbcType=VARCHAR}, #{mobilePhone,jdbcType=VARCHAR}, #{amount,jdbcType=DECIMAL}, 
      #{used,jdbcType=VARCHAR}, #{createdDate,jdbcType=TIMESTAMP}, #{updatedDate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sysongy.tcms.advance.model.TcTransferAccount" >
    insert into tc_transfer_account
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tcTransferAccountId != null" >
        tc_transfer_account_id,
      </if>
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="stationId != null" >
        station_id,
      </if>
      <if test="sysDriverId != null" >
        sys_driver_id,
      </if>
      <if test="fullName != null" >
        full_name,
      </if>
      <if test="mobilePhone != null" >
        mobile_phone,
      </if>
      <if test="amount != null" >
        amount,
      </if>
      <if test="used != null" >
        used,
      </if>
      <if test="createdDate != null" >
        created_date,
      </if>
      <if test="updatedDate != null" >
        updated_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tcTransferAccountId != null" >
        #{tcTransferAccountId,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="stationId != null" >
        #{stationId,jdbcType=VARCHAR},
      </if>
      <if test="sysDriverId != null" >
        #{sysDriverId,jdbcType=VARCHAR},
      </if>
      <if test="fullName != null" >
        #{fullName,jdbcType=VARCHAR},
      </if>
      <if test="mobilePhone != null" >
        #{mobilePhone,jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="used != null" >
        #{used,jdbcType=VARCHAR},
      </if>
      <if test="createdDate != null" >
        #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedDate != null" >
        #{updatedDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sysongy.tcms.advance.model.TcTransferAccount" >
    update tc_transfer_account
    <set >
      <if test="orderId != null" >
        order_id = #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="stationId != null" >
        station_id = #{stationId,jdbcType=VARCHAR},
      </if>
      <if test="sysDriverId != null" >
        sys_driver_id = #{sysDriverId,jdbcType=VARCHAR},
      </if>
      <if test="fullName != null" >
        full_name = #{fullName,jdbcType=VARCHAR},
      </if>
      <if test="mobilePhone != null" >
        mobile_phone = #{mobilePhone,jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        amount = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="used != null" >
        used = #{used,jdbcType=VARCHAR},
      </if>
      <if test="createdDate != null" >
        created_date = #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedDate != null" >
        updated_date = #{updatedDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where tc_transfer_account_id = #{tcTransferAccountId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sysongy.tcms.advance.model.TcTransferAccount" >
    update tc_transfer_account
    set order_id = #{orderId,jdbcType=VARCHAR},
      station_id = #{stationId,jdbcType=VARCHAR},
      sys_driver_id = #{sysDriverId,jdbcType=VARCHAR},
      full_name = #{fullName,jdbcType=VARCHAR},
      mobile_phone = #{mobilePhone,jdbcType=VARCHAR},
      amount = #{amount,jdbcType=DECIMAL},
      used = #{used,jdbcType=VARCHAR},
      created_date = #{createdDate,jdbcType=TIMESTAMP},
      updated_date = #{updatedDate,jdbcType=TIMESTAMP}
    where tc_transfer_account_id = #{tcTransferAccountId,jdbcType=VARCHAR}
  </update>
</mapper>