<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sysongy.tcms.advance.dao.TcVehicleCardMapper" >
  <resultMap id="BaseResultMap" type="com.sysongy.tcms.advance.model.TcVehicleCard" >
    <id column="tc_vehicle_card_id_id" property="tcVehicleCardId" jdbcType="VARCHAR" />
    <result column="station_id" property="stationId" jdbcType="VARCHAR" />
    <result column="tc_vehicle_id" property="tcVehicleId" jdbcType="VARCHAR" />
    <result column="card_no" property="cardNo" jdbcType="VARCHAR" />
    <result column="created_date" property="createdDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    tc_vehicle_card_id, tc_vehicle_id, card_no, created_date,station_id
  </sql>
  <select id="queryTcVehicleCardByVecId" resultMap="BaseResultMap" parameterType="com.sysongy.tcms.advance.model.TcVehicleCard" >
    select 
    <include refid="Base_Column_List" />
    from tc_vehicle_card
    where tc_vehicle_id = #{tcVehicleId,jdbcType=VARCHAR} and station_id = #{stationId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from tc_vehicle_card
    where tc_vehicle_card_id = #{tcVehicleCardId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.sysongy.tcms.advance.model.TcVehicleCard" >
    insert into tc_vehicle_card (tc_vehicle_card_id, tc_vehicle_id, card_no,
      created_date)
    values (#{tcVehicleCardId,jdbcType=VARCHAR}, #{tcVehicleId,jdbcType=VARCHAR}, #{cardNo,jdbcType=VARCHAR}, 
      #{createdDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="addVehicleCard" parameterType="com.sysongy.tcms.advance.model.TcVehicleCard" >
    insert into tc_vehicle_card
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tcVehicleCardId != null" >
        tc_vehicle_card_id,
      </if>
      <if test="stationId != null" >
        station_id,
      </if>
      <if test="tcVehicleId != null" >
        tc_vehicle_id,
      </if>
      <if test="cardNo != null" >
        card_no,
      </if>
      <if test="createdDate != null" >
        created_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tcVehicleCardId != null" >
        #{tcVehicleCardId,jdbcType=VARCHAR},
      </if>
      <if test="stationId != null" >
        #{stationId,jdbcType=VARCHAR},
      </if>
      <if test="tcVehicleId != null" >
        #{tcVehicleId,jdbcType=VARCHAR},
      </if>
      <if test="cardNo != null" >
        #{cardNo,jdbcType=VARCHAR},
      </if>
      <if test="createdDate != null" >
        #{createdDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sysongy.tcms.advance.model.TcVehicleCard" >
    update tc_vehicle_card
    <set >
      <if test="tcVehicleId != null" >
        tc_vehicle_id = #{tcVehicleId,jdbcType=VARCHAR},
      </if>
      <if test="cardNo != null" >
        card_no = #{cardNo,jdbcType=VARCHAR},
      </if>
      <if test="createdDate != null" >
        created_date = #{createdDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where tc_vehicle_card_id = #{tcVehicleCardId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sysongy.tcms.advance.model.TcVehicleCard" >
    update tc_vehicle_card
    set tc_vehicle_id = #{tcVehicleId,jdbcType=VARCHAR},
      card_no = #{cardNo,jdbcType=VARCHAR},
      created_date = #{createdDate,jdbcType=TIMESTAMP}
    where tc_vehicle_card_id = #{tcVehicleCardId,jdbcType=VARCHAR}
  </update>
</mapper>