<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sysongy.tcms.advance.dao.TcVehicleMapper" >
  <resultMap id="BaseResultMap" type="com.sysongy.tcms.advance.model.TcVehicle" >
    <id column="tc_vehicle_id" property="tcVehicleId" jdbcType="VARCHAR" />
    <result column="plates_number" property="platesNumber" jdbcType="VARCHAR" />
    <result column="tc_fleet_id" property="tcFleetId" jdbcType="VARCHAR" />
    <result column="station_id" property="stationId" jdbcType="VARCHAR" />
    <result column="notice_phone" property="noticePhone" jdbcType="VARCHAR" />
    <result column="copy_phone" property="copyPhone" jdbcType="VARCHAR" />
    <result column="pay_code" property="payCode" jdbcType="VARCHAR" />
    <result column="card_no" property="cardNo" jdbcType="VARCHAR" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="is_deleted" property="isDeleted" jdbcType="VARCHAR" />
    <result column="created_date" property="createdDate" jdbcType="TIMESTAMP" />
    <result column="updated_date" property="updatedDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="MapResultMap" type="java.util.Map" >
    <id column="tc_vehicle_id" property="tcVehicleId" jdbcType="VARCHAR" />
    <result column="fleet_name" property="fleetName" jdbcType="VARCHAR" />
    <result column="card_status" property="cardStatus" jdbcType="VARCHAR" />
    <result column="plates_number" property="platesNumber" jdbcType="VARCHAR" />
    <result column="tc_fleet_id" property="tcFleetId" jdbcType="VARCHAR" />
    <result column="station_id" property="stationId" jdbcType="VARCHAR" />
    <result column="notice_phone" property="noticePhone" jdbcType="VARCHAR" />
    <result column="copy_phone" property="copyPhone" jdbcType="VARCHAR" />
    <result column="pay_code" property="payCode" jdbcType="VARCHAR" />
    <result column="card_no" property="cardNo" jdbcType="VARCHAR" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="is_deleted" property="isDeleted" jdbcType="VARCHAR" />
    <result column="created_date" property="createdDate" jdbcType="TIMESTAMP" />
    <result column="updated_date" property="updatedDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    tc_vehicle_id, plates_number, tc_fleet_id, station_id, notice_phone, copy_phone, 
    card_no, user_name, created_date, updated_date, is_deleted, pay_code
  </sql>
  <select id="queryVehicle" resultMap="BaseResultMap" parameterType="com.sysongy.tcms.advance.model.TcVehicle" >
    select 
    <include refid="Base_Column_List" />
    from tc_vehicle
    where tc_vehicle_id = #{tcVehicleId,jdbcType=VARCHAR}
    and is_deleted = 1
  </select>
  <select id="queryVehicleByNumber" resultMap="BaseResultMap" parameterType="com.sysongy.tcms.advance.model.TcVehicle" >
    select
    <include refid="Base_Column_List" />
    from tc_vehicle
    where plates_number = #{platesNumber,jdbcType=VARCHAR}
    and is_deleted = 1  and station_id = #{stationId,jdbcType=VARCHAR}
  </select>
  <select id="queryVehicleList" resultMap="BaseResultMap" parameterType="com.sysongy.tcms.advance.model.TcVehicle" >
    select
    <include refid="Base_Column_List" />
    from tc_vehicle
    where is_deleted = 1
    <if test="tcVehicleId != null &amp;&amp; tcVehicleId !=''">
      and tc_vehicle_id = #{tcVehicleId}
    </if>
    <if test="platesNumber != null &amp;&amp; platesNumber !=''" >
      plates_number like CONCAT(#{platesNumber,jdbcType=VARCHAR},'%')
    </if>
    <if test="tcFleetId != null &amp;&amp; tcFleetId !=''" >
      and tc_fleet_id = #{tcFleetId}
    </if>
    <if test="stationId != null &amp;&amp; stationId !=''" >
      and station_id = #{stationId}
    </if>
    <if test="noticePhone != null &amp;&amp; noticePhone !=''" >
      and notice_phone = #{noticePhone}
    </if>
    <if test="copyPhone != null &amp;&amp; copyPhone !=''" >
      and copy_phone = #{copyPhone}
    </if>
    <if test="cardNo != null &amp;&amp; cardNo !=''" >
      and card_no = #{cardNo}
    </if>
    <if test="userName != null &amp;&amp; userName !=''" >
      and user_name = #{userName}
    </if>
    order by created_date desc
  </select>
  <select id="queryVehicleMapList" resultMap="MapResultMap" parameterType="com.sysongy.tcms.advance.model.TcVehicle" >
    select tv.tc_vehicle_id, tv.plates_number, tv.tc_fleet_id, tv.station_id, tv.notice_phone, tv.copy_phone,
    tv.user_name, tv.created_date, tv.updated_date, tv.is_deleted, tv.pay_code,tf.fleet_name,tvc.card_no,gc.card_status
    from tc_vehicle tv left join tc_fleet_vehicle tfv on tv.tc_vehicle_id = tfv.tc_vehicle_id
    left join tc_fleet tf on tfv.tc_fleet_id = tf.tc_fleet_id left join tc_vehicle_card tvc on tv.tc_vehicle_id = tvc.tc_vehicle_id
    left join gas_card gc on tvc.card_no = gc.card_no
    where tv.is_deleted = 1 and tv.station_id = #{stationId}
    <if test="tcVehicleId != null &amp;&amp; tcVehicleId !=''">
      and tv.tc_vehicle_id = #{tcVehicleId}
    </if>
    <if test="platesNumber != null &amp;&amp; platesNumber !=''" >
      and tv.plates_number = #{platesNumber}
    </if>
    <if test="tcFleetId != null &amp;&amp; tcFleetId !=''" >
      and tv.tc_fleet_id = #{tcFleetId}
    </if>
    <if test="stationId != null &amp;&amp; stationId !=''" >
      and tv.station_id = #{stationId}
    </if>
    <if test="noticePhone != null &amp;&amp; noticePhone !=''" >
      and tv.notice_phone = #{noticePhone}
    </if>
    <if test="copyPhone != null &amp;&amp; copyPhone !=''" >
      and tv.copy_phone = #{copyPhone}
    </if>
    <if test="cardNo != null &amp;&amp; cardNo !=''" >
      and tv.card_no = #{cardNo}
    </if>
    <if test="userName != null &amp;&amp; userName !=''" >
      and tv.user_name = #{userName}
    </if>
    order by tv.created_date desc
  </select>
  <select id="queryVehicleMapArray" resultMap="MapResultMap" parameterType="com.sysongy.tcms.advance.model.TcVehicle" >
    select tv.* from tc_vehicle tv
    where tv.is_deleted = 1 and tv.station_id = #{stationId}
    order by tv.created_date desc
  </select>
  <delete id="deleteVehicle" parameterType="java.lang.String" >
    delete from tc_vehicle
    where tc_vehicle_id = #{tcVehicleId,jdbcType=VARCHAR}
  </delete>
  <insert id="addVehicle" parameterType="com.sysongy.tcms.advance.model.TcVehicle" >
    insert into tc_vehicle
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tcVehicleId != null" >
        tc_vehicle_id,
      </if>
      <if test="platesNumber != null" >
        plates_number,
      </if>
      <if test="tcFleetId != null" >
        tc_fleet_id,
      </if>
      <if test="stationId != null" >
        station_id,
      </if>
      <if test="noticePhone != null" >
        notice_phone,
      </if>
      <if test="copyPhone != null" >
        copy_phone,
      </if>
      <if test="cardNo != null" >
        card_no,
      </if>
      <if test="payCode != null" >
        pay_code,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="createdDate != null" >
        created_date,
      </if>
      <if test="updatedDate != null" >
        updated_date,
      </if>
      <if test="isDeleted != null" >
        is_deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tcVehicleId != null" >
        #{tcVehicleId,jdbcType=VARCHAR},
      </if>
      <if test="platesNumber != null" >
        #{platesNumber,jdbcType=VARCHAR},
      </if>
      <if test="tcFleetId != null" >
        #{tcFleetId,jdbcType=VARCHAR},
      </if>
      <if test="stationId != null" >
        #{stationId,jdbcType=VARCHAR},
      </if>
      <if test="noticePhone != null" >
        #{noticePhone,jdbcType=VARCHAR},
      </if>
      <if test="copyPhone != null" >
        #{copyPhone,jdbcType=VARCHAR},
      </if>
      <if test="cardNo != null" >
        #{cardNo,jdbcType=VARCHAR},
      </if>
      <if test="payCode != null" >
        #{payCode,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="createdDate != null" >
        #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedDate != null" >
        #{updatedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <insert id="addVehicleList" parameterType="java.util.List" >
  insert into tc_vehicle (tc_vehicle_id, plates_number, station_id, notice_phone, copy_phone,
    card_no, pay_code)
  VALUES
    <foreach collection="list" item="item" index="index" separator="," >
      (#{item.tcVehicleId},#{item.platesNumber},#{item.stationId},#{item.noticePhone},#{item.copyPhone},#{item.cardNo},#{item.payCode})
    </foreach>
  </insert>
  <update id="updateVehicle" parameterType="com.sysongy.tcms.advance.model.TcVehicle" >
    update tc_vehicle
    <set >
      <if test="platesNumber != null" >
        plates_number = #{platesNumber,jdbcType=VARCHAR},
      </if>
      <if test="tcFleetId != null" >
        tc_fleet_id = #{tcFleetId,jdbcType=VARCHAR},
      </if>
      <if test="stationId != null" >
        station_id = #{stationId,jdbcType=VARCHAR},
      </if>
      <if test="noticePhone != null" >
        notice_phone = #{noticePhone,jdbcType=VARCHAR},
      </if>
      <if test="copyPhone != null" >
        copy_phone = #{copyPhone,jdbcType=VARCHAR},
      </if>
      <if test="cardNo != null" >
        card_no = #{cardNo,jdbcType=VARCHAR},
      </if>
      <if test="payCode != null" >
        pay_code = #{payCode,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="createdDate != null" >
        created_date = #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedDate != null" >
        updated_date = #{updatedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null" >
        is_deleted = #{isDeleted,jdbcType=TIMESTAMP},
      </if>
    </set>
    where tc_vehicle_id = #{tcVehicleId,jdbcType=VARCHAR}
  </update>
</mapper>