<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sysongy.poms.message.dao.SysMessageMapper">
	<resultMap id="BaseResultMap" type="com.sysongy.poms.message.model.SysMessage">
		<id column="id" property="id" jdbcType="VARCHAR" />
		<result column="message_title" property="messageTitle" jdbcType="VARCHAR" />
		<result column="message_type" property="messageType" jdbcType="INTEGER" />
		<result column="message_body" property="messageBody" jdbcType="VARCHAR" />
		<result column="message_ticker" property="messageTicker" jdbcType="VARCHAR" />
		<result column="message_group" property="messageGroup" jdbcType="VARCHAR" />
		<result column="message_send_time" property="messageSendTime" jdbcType="TIMESTAMP" />
		<result column="message_created_time" property="messageCreatedTime" jdbcType="TIMESTAMP" />
		<result column="operator" property="operator" jdbcType="VARCHAR" />
		<result column="memo" property="memo" jdbcType="VARCHAR" />
		<result column="message_type" property="messageType" jdbcType="VARCHAR" />
		<result column="driver_name" property="driverName" jdbcType="VARCHAR" />
	</resultMap>
	
	<resultMap id="MapResultMap" type="java.util.Map" >
		<id column="id" property="id" jdbcType="VARCHAR" />
		<result column="message_title" property="messageTitle" jdbcType="VARCHAR" />
		<result column="message_body" property="messageBody" jdbcType="VARCHAR" />
		<result column="message_ticker" property="messageTicker" jdbcType="VARCHAR" />
		<result column="message_group" property="messageGroup" jdbcType="VARCHAR" />
		<result column="message_send_time" property="messageSendTime" jdbcType="TIMESTAMP" />
		<result column="message_created_time" property="messageCreatedTime" jdbcType="TIMESTAMP" />
		<result column="operator" property="operator" jdbcType="VARCHAR" />
		<result column="memo" property="memo" jdbcType="VARCHAR" />
		<result column="message_type" property="messageType" jdbcType="VARCHAR" />
		<result column="driver_name" property="driverName" jdbcType="VARCHAR" />
	</resultMap>

	<sql id="Base_Column_List">
		id, message_title, message_body, message_ticker, message_group,
		message_send_time,province_name,
		message_created_time, operator, memo,message_type,driver_name
	</sql>

	<select id="queryForPage" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from sys_message
		where 1=1
		<trim>
			<if test="messageTitle != null &amp;&amp; messageTitle != ''">
				and message_title LIKE CONCAT(CONCAT('%',
				#{messageTitle,jdbcType=VARCHAR}), '%')
			</if>
			<if
				test="message_created_time_after != null &amp;&amp; message_created_time_after != ''">
				and message_send_time between
				CONCAT(#{message_created_time_after,jdbcType=VARCHAR},' 0:00:00')
				and CONCAT(#{message_created_time_before,jdbcType=VARCHAR},'
				23:59:59')
			</if>
			<if test="messageType != null &amp;&amp; messageType != ''">
				and message_type = #{messageType,jdbcType=VARCHAR}
			</if>
		</trim>
	</select>
	<!-- 获取消息列表 -->
	<select id="queryMsgListForPage" resultMap="MapResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from sys_message
		where 1=1
		<trim>
			<if test="messageType != null &amp;&amp; messageType != ''">
				and message_type = #{messageType,jdbcType=VARCHAR}
			</if>
			<if test="province_name != null &amp;&amp; province_name != ''">
				and province_name like concat(concat('%',#{province_name,jdbcType=VARCHAR}),'%')    
			</if>
		</trim>
	</select>

	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		*
		from sys_message
		where id = #{id,jdbcType=VARCHAR}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from sys_message
		where id = #{id,jdbcType=VARCHAR}
	</delete>
	<insert id="insert" parameterType="com.sysongy.poms.message.model.SysMessage">
		insert into sys_message (id, message_title, message_body,
		message_ticker,message_type, message_group, message_send_time,
		message_created_time, operator, memo,device_token,driver_name,province_id,province_name
		)
		values (#{id,jdbcType=VARCHAR}, #{messageTitle,jdbcType=VARCHAR},
		#{messageBody,jdbcType=VARCHAR},
		#{messageTicker,jdbcType=VARCHAR},#{messageType,jdbcType=INTEGER}, #{messageGroup,jdbcType=VARCHAR},
		#{messageSendTime,jdbcType=TIMESTAMP},
		#{messageCreatedTime,jdbcType=TIMESTAMP},
		#{operator,jdbcType=VARCHAR}, #{memo,jdbcType=VARCHAR},
		#{device_token,jdbcType=VARCHAR},#{driver_name,jdbcType=VARCHAR},#{province_id,jdbcType=VARCHAR},#{province_name,jdbcType=VARCHAR}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.sysongy.poms.message.model.SysMessage">
		insert into sys_message
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="messageTitle != null">
				message_title,
			</if>
			<if test="messageBody != null">
				message_body,
			</if>
			<if test="messageTicker != null">
				message_ticker,
			</if>
			<if test="messageGroup != null">
				message_group,
			</if>
			<if test="messageSendTime != null">
				message_send_time,
			</if>
			<if test="messageCreatedTime != null">
				message_created_time,
			</if>
			<if test="operator != null">
				operator,
			</if>
			<if test="memo != null">
				memo,
			</if>
			<if test="device_token != null">
				device_token,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=VARCHAR},
			</if>
			<if test="messageTitle != null">
				#{messageTitle,jdbcType=VARCHAR},
			</if>
			<if test="messageBody != null">
				#{messageBody,jdbcType=VARCHAR},
			</if>
			<if test="messageTicker != null">
				#{messageTicker,jdbcType=VARCHAR},
			</if>
			<if test="messageGroup != null">
				#{messageGroup,jdbcType=VARCHAR},
			</if>
			<if test="messageSendTime != null">
				#{messageSendTime,jdbcType=TIMESTAMP},
			</if>
			<if test="messageCreatedTime != null">
				#{messageCreatedTime,jdbcType=TIMESTAMP},
			</if>
			<if test="operator != null">
				#{operator,jdbcType=VARCHAR},
			</if>
			<if test="memo != null">
				#{memo,jdbcType=VARCHAR},
			</if>
			<if test="device_token != null">
				#{device_token,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.sysongy.poms.message.model.SysMessage">
		update sys_message
		<set>
			<if test="messageTitle != null">
				message_title = #{messageTitle,jdbcType=VARCHAR},
			</if>
			<if test="messageBody != null">
				message_body = #{messageBody,jdbcType=VARCHAR},
			</if>
			<if test="messageTicker != null">
				message_ticker = #{messageTicker,jdbcType=VARCHAR},
			</if>
			<if test="messageGroup != null">
				message_group = #{messageGroup,jdbcType=VARCHAR},
			</if>
			<if test="messageSendTime != null">
				message_send_time = #{messageSendTime,jdbcType=TIMESTAMP},
			</if>
			<if test="messageCreatedTime != null">
				message_created_time = #{messageCreatedTime,jdbcType=TIMESTAMP},
			</if>
			<if test="operator != null">
				operator = #{operator,jdbcType=VARCHAR},
			</if>
			<if test="memo != null">
				memo = #{memo,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.sysongy.poms.message.model.SysMessage">
		update sys_message
		set message_title = #{messageTitle,jdbcType=VARCHAR},
		message_body = #{messageBody,jdbcType=VARCHAR},
		message_ticker = #{messageTicker,jdbcType=VARCHAR},
		message_group = #{messageGroup,jdbcType=VARCHAR},
		message_send_time = #{messageSendTime,jdbcType=TIMESTAMP},
		message_created_time = #{messageCreatedTime,jdbcType=TIMESTAMP},
		operator = #{operator,jdbcType=VARCHAR},
		memo = #{memo,jdbcType=VARCHAR}
		where id = #{id,jdbcType=VARCHAR}
	</update>
</mapper>