<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sysongy.poms.permi.dao.SysUserMapper" >
  <resultMap id="BaseResultMap" type="com.sysongy.poms.permi.model.SysUser" >
    <id column="sys_user_id" property="sysUserId" jdbcType="VARCHAR" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="user_type" property="userType" jdbcType="INTEGER" />
    <result column="alias_name" property="aliasName" jdbcType="VARCHAR" />
    <result column="real_name" property="realName" jdbcType="VARCHAR" />
    <result column="gender" property="gender" jdbcType="INTEGER" />
    <result column="avatar_s" property="avatarS" jdbcType="VARCHAR" />
    <result column="avatar_b" property="avatarB" jdbcType="VARCHAR" />
    <result column="mobile_phone" property="mobilePhone" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="last_date" property="lastDate" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="online_state" property="onlineState" jdbcType="INTEGER" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="is_admin" property="isAdmin" jdbcType="INTEGER" />
    <result column="is_deleted" property="isDeleted" jdbcType="INTEGER" />
    <result column="created_date" property="createdDate" jdbcType="TIMESTAMP" />
    <result column="updated_date" property="updatedDate" jdbcType="TIMESTAMP" />
    <result column="station_id" property="stationId" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="MapResultMap" type="java.util.Map" >
    <id column="sys_user_id" property="sysUserId" jdbcType="VARCHAR" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="user_type" property="userType" jdbcType="INTEGER" />
    <result column="alias_name" property="aliasName" jdbcType="VARCHAR" />
    <result column="real_name" property="realName" jdbcType="VARCHAR" />
    <result column="gender" property="gender" jdbcType="INTEGER" />
    <result column="avatar_s" property="avatarS" jdbcType="VARCHAR" />
    <result column="avatar_b" property="avatarB" jdbcType="VARCHAR" />
    <result column="mobile_phone" property="mobilePhone" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="last_date" property="lastDate" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="online_state" property="onlineState" jdbcType="INTEGER" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="is_admin" property="isAdmin" jdbcType="INTEGER" />
    <result column="is_deleted" property="isDeleted" jdbcType="INTEGER" />
    <result column="created_date" property="createdDate" jdbcType="TIMESTAMP" />
    <result column="updated_date" property="updatedDate" jdbcType="TIMESTAMP" />
    <result column="station_id" property="stationId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    sys_user_id, user_name, password, user_type, alias_name, real_name, gender, avatar_s, 
    avatar_b, mobile_phone, email, last_date, status, online_state, remark, is_admin, is_deleted,
    created_date, updated_date, station_id
  </sql>
  <sql id="User_Role_List" >
    su.sys_user_id, su.user_name, su.password, su.user_type, su.alias_name, su.real_name, su.gender, su.avatar_s,
    sr.role_name as avatar_b, su.mobile_phone, su.email, su.last_date, su.status, su.online_state, su.remark, su.is_admin, su.is_deleted,
    su.created_date, su.updated_date
  </sql>
  <select id="queryUserList" resultMap="BaseResultMap" >
    select
    <include refid="User_Role_List" />
    from sys_user su left join sys_user_role sur on su.sys_user_id = sur.sys_user_id left join sys_role sr on sur.sys_role_id = sr.sys_role_id
    and sr.is_deleted = 1 and sr.role_status = 0
    where su.is_deleted = 1 and  su.is_admin > 0
    <trim>
      <if test="sysUserId != null &amp;&amp; sysUserId !=''" >
        and su.sys_user_id = #{sysUserId}
      </if>
      <if test="userName != null &amp;&amp; userName !=''" >
        and (su.user_name like CONCAT('%',CONCAT(#{userName,jdbcType=VARCHAR},'%'))
        or  su.real_name like CONCAT('%',CONCAT(#{userName,jdbcType=VARCHAR},'%'))
        or  su.mobile_phone like CONCAT('%',CONCAT(#{userName,jdbcType=VARCHAR},'%')))
      </if>
      <if test="userType != null &amp;&amp; userType !=''" >
        and  su.user_type = #{userType}
      </if>
      <!--<if test="realName != null &amp;&amp; realName !=''" >
        and  su.real_name = #{realName}
      </if>-->
      <if test="gender != null &amp;&amp; gender !=''" >
        and  su.gender = #{gender}
      </if>
      <!--<if test="mobilePhone != null &amp;&amp; mobilePhone !=''" >
        and  su.mobile_phone = #{mobilePhone}
      </if>-->
      <if test="email != null &amp;&amp; email !=''" >
        and  su.email = #{email}
      </if>
      <if test="status != null &amp;&amp; status !=''" >
        and  su.status = #{status}
      </if>
      <!--<if test="isAdmin != null &amp;&amp; isAdmin !=''" >
        and  su.is_admin = #{isAdmin}
      </if>-->
      <if test="stationId != null &amp;&amp; stationId !=''" >
        and  su.station_id = #{stationId}
      </if>
    </trim>
    order by su.created_date desc
  </select>
  <select id="queryUserListByUserType" resultMap="BaseResultMap" >
  select
  <include refid="User_Role_List" />
  from sys_user su left join sys_user_role sur on su.sys_user_id = sur.sys_user_id left join sys_role sr on sur.sys_role_id = sr.sys_role_id
  where su.is_deleted = 1 and  su.is_admin > 0
    <if test="sysUserId != null &amp;&amp; sysUserId !=''" >
      and su.sys_user_id = #{sysUserId}
    </if>
    <if test="userType != null &amp;&amp; userType !=''" >
      and  su.user_type = #{userType}
    </if>
    <if test="status != null &amp;&amp; status !=''" >
      and  su.status = #{status}
    </if>
    <if test="stationId != null &amp;&amp; stationId !=''" >
      and  su.station_id = #{stationId}
    </if>
  </select>
  <select id="queryUserListByUserName" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from sys_user
    where 1 = 1
    <trim>
      <if test="sysUserId != null" >
        and sys_user_id = #{sysUserId}
      </if>
      <if test="userName != null" >
        and user_name = #{userName}
      </if>
      <if test="userType != null" >
        and  user_type = #{userType}
      </if>
      <if test="realName != null" >
        and  real_name = #{realName}
      </if>
      <if test="gender != null" >
        and  gender = #{gender}
      </if>
      <if test="mobilePhone != null" >
        and  mobile_phone = #{mobilePhone}
      </if>
      <if test="email != null" >
        and  email = #{email}
      </if>
      <if test="isAdmin != null" >
        and  is_admin = #{isAdmin}
      </if>
    </trim>
    and status = 0 and is_deleted = 1
  </select>
  <select id="queryUserByAccount" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from sys_user
    where user_name = #{0} and password = #{1}
    /*and status = 0 and is_deleted = 1*/
  </select>
  <!--查询最大索引-->
  <select id="queryMaxIndex" resultMap="BaseResultMap" >
    select * from sys_user where sys_user_id like #{provinceId} order by sys_user_id desc limit 1
  </select>
  <select id="queryUser" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from sys_user
    where 1 = 1
    <trim>
      <if test="sysUserId != null" >
        and sys_user_id = #{sysUserId}
      </if>
      <if test="userName != null" >
        and user_name = #{userName}
      </if>
      <if test="userType != null" >
        and  user_type = #{userType}
      </if>
      <if test="realName != null" >
        and  real_name = #{realName}
      </if>
      <if test="gender != null" >
        and  gender = #{gender}
      </if>
      <if test="mobilePhone != null" >
        and  mobile_phone = #{mobilePhone}
      </if>
      <if test="email != null" >
        and  email = #{email}
      </if>
      <if test="status != null" >
        and  status = #{status}
      </if>
      <if test="isAdmin != null" >
        and  is_admin = #{isAdmin}
      </if>
      <if test="isDeleted != null" >
        and  is_deleted = #{isDeleted}
      </if>
    </trim>
    and status = 0 and is_deleted = 1
  </select>

  <select id="queryUserForCRM" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from sys_user
    where 1 = 1
    <trim>
      <if test="sysUserId != null" >
        and sys_user_id = #{sysUserId}
      </if>
      <if test="userName != null" >
        and user_name = #{userName}
      </if>
      <if test="userType != null" >
        and  user_type = #{userType}
      </if>
      <if test="realName != null" >
        and  real_name = #{realName}
      </if>
      <if test="gender != null" >
        and  gender = #{gender}
      </if>
      <if test="mobilePhone != null" >
        and  mobile_phone = #{mobilePhone}
      </if>
      <if test="email != null" >
        and  email = #{email}
      </if>
      <if test="status != null" >
        and  status = #{status}
      </if>
      <if test="isAdmin != null" >
        and  is_admin = #{isAdmin}
      </if>
      <if test="isDeleted != null" >
        and  is_deleted = #{isDeleted}
      </if>
    </trim>
  </select>

  <select id="queryUserMapByAccount" resultMap="MapResultMap" >
    select
    <include refid="Base_Column_List" />
    from sys_user
    where user_name = #{0} and password = #{1}
    and status = 0 and is_deleted = 1
  </select>
  <select id="queryUserById" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from sys_user
    where sys_user_id = #{sysUserId,jdbcType=VARCHAR}
  </select>
  <!--根据用户ID查询用户及角色信息-->
  <select id="queryUserMapByUserId" resultMap="MapResultMap" parameterType="java.lang.String" >
    select su.*,sur.sys_role_id from sys_user su left join sys_user_role sur on su.sys_user_id = sur.sys_user_id
    where su.sys_user_id = #{0}
  </select>

  <delete id="deleteUserById" parameterType="java.lang.String" >
    delete from sys_user
    where sys_user_id = #{sysUserId,jdbcType=VARCHAR}
  </delete>
  <insert id="addUser" parameterType="com.sysongy.poms.permi.model.SysUser" >
    insert into sys_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="sysUserId != null" >
        sys_user_id,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="userType != null" >
        user_type,
      </if>
      <if test="aliasName != null" >
        alias_name,
      </if>
      <if test="realName != null" >
        real_name,
      </if>
      <if test="gender != null" >
        gender,
      </if>
      <if test="avatarS != null" >
        avatar_s,
      </if>
      <if test="avatarB != null" >
        avatar_b,
      </if>
      <if test="mobilePhone != null" >
        mobile_phone,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="lastDate != null" >
        last_date,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="onlineState != null" >
        online_state,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="isAdmin != null" >
        is_admin,
      </if>
      <if test="isDeleted != null" >
        is_deleted,
      </if>
      <if test="createdDate != null" >
        created_date,
      </if>
      <if test="updatedDate != null" >
        updated_date,
      </if>
      <if test="stationId != null" >
        station_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="sysUserId != null" >
        #{sysUserId,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="userType != null" >
        #{userType,jdbcType=INTEGER},
      </if>
      <if test="aliasName != null" >
        #{aliasName,jdbcType=VARCHAR},
      </if>
      <if test="realName != null" >
        #{realName,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        #{gender,jdbcType=INTEGER},
      </if>
      <if test="avatarS != null" >
        #{avatarS,jdbcType=VARCHAR},
      </if>
      <if test="avatarB != null" >
        #{avatarB,jdbcType=VARCHAR},
      </if>
      <if test="mobilePhone != null" >
        #{mobilePhone,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="lastDate != null" >
        #{lastDate,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="onlineState != null" >
        #{onlineState,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="isAdmin != null" >
        #{isAdmin,jdbcType=INTEGER},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=INTEGER},
      </if>
      <if test="createdDate != null" >
        #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedDate != null" >
        #{updatedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="stationId != null" >
        #{stationId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateUser" parameterType="com.sysongy.poms.permi.model.SysUser" >
    update sys_user
    <set >
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="userType != null" >
        user_type = #{userType,jdbcType=INTEGER},
      </if>
      <if test="aliasName != null" >
        alias_name = #{aliasName,jdbcType=VARCHAR},
      </if>
      <if test="realName != null" >
        real_name = #{realName,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        gender = #{gender,jdbcType=INTEGER},
      </if>
      <if test="avatarS != null" >
        avatar_s = #{avatarS,jdbcType=VARCHAR},
      </if>
      <if test="avatarB != null" >
        avatar_b = #{avatarB,jdbcType=VARCHAR},
      </if>
      <if test="mobilePhone != null" >
        mobile_phone = #{mobilePhone,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="lastDate != null" >
        last_date = #{lastDate,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="onlineState != null" >
        online_state = #{onlineState,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="isAdmin != null" >
        is_admin = #{isAdmin,jdbcType=INTEGER},
      </if>
      <if test="isDeleted != null" >
        is_deleted = #{isDeleted,jdbcType=INTEGER},
      </if>
      <if test="createdDate != null" >
        created_date = #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedDate != null" >
        updated_date = #{updatedDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where sys_user_id = #{sysUserId,jdbcType=VARCHAR}
  </update>
  <update id="updateUserByName" parameterType="com.sysongy.poms.permi.model.SysUser" >
    update sys_user
    set is_deleted = 0
    where user_name = #{userName}
    and user_type = #{userType}
  </update>
  <update id="updateUserByUserName" parameterType="com.sysongy.poms.permi.model.SysUser" >
    update sys_user
    set password = #{password}
    where user_name = #{userName}
    and station_id = #{stationId}
  </update>
</mapper>