<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sysongy.poms.transportion.dao.TransportionMapper" >
  <resultMap id="BaseResultMap" type="com.sysongy.poms.transportion.model.Transportion" >
    <id column="sys_transportion_id" property="sys_transportion_id" jdbcType="VARCHAR" />
    <result column="sys_user_account_id" property="sys_user_account_id" jdbcType="VARCHAR" />
    <result column="transportion_name" property="transportion_name" jdbcType="VARCHAR" />
    <result column="station_manager" property="station_manager" jdbcType="VARCHAR" />
    <result column="contact_phone" property="contact_phone" jdbcType="VARCHAR" />
    <result column="admin_username" property="admin_username" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="area_id" property="area_id" jdbcType="VARCHAR" />
    <result column="province_id" property="province_id" jdbcType="VARCHAR" />
    <result column="city_id" property="city_id" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="longitude" property="longitude" jdbcType="VARCHAR" />
    <result column="latitude" property="latitude" jdbcType="VARCHAR" />
    <result column="expiry_date" property="expiry_date" jdbcType="TIMESTAMP" />
    <result column="salesmen_id" property="salesmen_id" jdbcType="VARCHAR" />
    <result column="salesmen_name" property="salesmen_name" jdbcType="VARCHAR" />
    <result column="operations_id" property="operations_id" jdbcType="VARCHAR" />
    <result column="operations_name" property="operations_name" jdbcType="VARCHAR" />
    <result column="indu_com_number" property="indu_com_number" jdbcType="VARCHAR" />
    <result column="tax_number" property="tax_number" jdbcType="VARCHAR" />
    <result column="indu_com_certif" property="indu_com_certif" jdbcType="VARCHAR" />
    <result column="tax_certif" property="tax_certif" jdbcType="VARCHAR" />
    <result column="lng_certif" property="lng_certif" jdbcType="VARCHAR" />
    <result column="dcp_certif" property="dcp_certif" jdbcType="VARCHAR" />
    <result column="platform_type" property="platform_type" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="created_time" property="created_time" jdbcType="TIMESTAMP" />
    <result column="updated_time" property="updated_time" jdbcType="TIMESTAMP" />
    <result column="pay_code" property="pay_code" jdbcType="VARCHAR" />
    <association column="sys_user_account_id" property="account" javaType="com.sysongy.poms.permi.model.SysUserAccount"
                 select="com.sysongy.poms.permi.dao.SysUserAccountMapper.selectByPrimaryKey">
    </association>
  </resultMap>
  <sql id="Base_Column_List" >
    sys_transportion_id, sys_user_account_id, transportion_name, station_manager, contact_phone, admin_username, email, 
    area_id, province_id, city_id, address, longitude, latitude, expiry_date, salesmen_id, 
    salesmen_name, operations_id, operations_name, indu_com_number, tax_number, indu_com_certif, 
    tax_certif, lng_certif, dcp_certif, platform_type, status, created_time, updated_time, pay_code
  </sql>
  
  <select id="queryForPage" resultMap="BaseResultMap" parameterType="java.lang.String" >
  select 
    <include refid="Base_Column_List" />
    from sys_transportion
    where 1=1
  <trim>
  	  <if test="sys_transportion_id != null &amp;&amp; sys_transportion_id != ''" >
        and sys_transportion_id = #{sys_transportion_id,jdbcType=VARCHAR}
      </if>
      <if test="transportion_name != null &amp;&amp; transportion_name != ''" >
        and transportion_name = #{transportion_name,jdbcType=VARCHAR}
      </if>
      <if test="status!= null &amp;&amp; status != ''" >
        and status = #{status,jdbcType=VARCHAR}
      </if>
      <if test="expiry_date_after != null &amp;&amp; expiry_date_after != ''">
        and expiry_date between CONCAT(#{expiry_date_after,jdbcType=VARCHAR},' 0:00:00') and CONCAT(#{expiry_date_before,jdbcType=VARCHAR},' 23:59:59')
      </if>
    </trim>
  </select>
  
  <select id="findTransportationid" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select sys_transportion_id from sys_transportion where sys_transportion_id like CONCAT(#{province_id,jdbcType=VARCHAR},'%') order by sys_transportion_id desc limit 1  
  </select>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from sys_transportion
    where sys_transportion_id = #{sys_transportion_id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from sys_transportion
    where sys_transportion_id = #{sys_transportion_id,jdbcType=VARCHAR}
  </delete>
  
  <insert id="insert" parameterType="com.sysongy.poms.transportion.model.Transportion" >
    insert into sys_transportion (sys_transportion_id, sys_user_account_id, 
      transportion_name, station_manager, contact_phone, admin_username, email, 
      area_id, province_id, city_id, 
      address, longitude, latitude, 
      expiry_date, salesmen_id, salesmen_name, 
      operations_id, operations_name, indu_com_number, 
      tax_number, indu_com_certif, tax_certif, 
      lng_certif, dcp_certif, platform_type, 
      status, created_time, updated_time, pay_code, deposit
      )
    values (#{sys_transportion_id,jdbcType=VARCHAR}, #{sys_user_account_id,jdbcType=VARCHAR}, 
      #{transportion_name,jdbcType=VARCHAR}, #{station_manager,jdbcType=VARCHAR}, #{contact_phone,jdbcType=VARCHAR},
      #{admin_username,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{area_id,jdbcType=VARCHAR}, #{province_id,jdbcType=VARCHAR}, #{city_id,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, #{longitude,jdbcType=VARCHAR}, #{latitude,jdbcType=VARCHAR}, 
      #{expiry_date,jdbcType=TIMESTAMP}, #{salesmen_id,jdbcType=VARCHAR}, #{salesmen_name,jdbcType=VARCHAR}, 
      #{operations_id,jdbcType=VARCHAR}, #{operations_name,jdbcType=VARCHAR}, #{indu_com_number,jdbcType=VARCHAR}, 
      #{tax_number,jdbcType=VARCHAR}, #{indu_com_certif,jdbcType=VARCHAR}, #{tax_certif,jdbcType=VARCHAR}, 
      #{lng_certif,jdbcType=VARCHAR}, #{dcp_certif,jdbcType=VARCHAR}, #{platform_type,jdbcType=VARCHAR}, 
      #{status,jdbcType=VARCHAR}, #{created_time,jdbcType=TIMESTAMP}, #{updated_time,jdbcType=TIMESTAMP},
      #{pay_code,jdbcType=VARCHAR}, #{deposit,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sysongy.poms.transportion.model.Transportion" >
    insert into sys_transportion
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="sys_transportion_id != null" >
        sys_transportion_id,
      </if>
      <if test="sys_user_account_id != null" >
        sys_user_account_id,
      </if>
      <if test="transportion_name != null" >
        transportion_name,
      </if>
      <if test="contact_phone != null" >
        contact_phone,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="area_id != null" >
        area_id,
      </if>
      <if test="province_id != null" >
        province_id,
      </if>
      <if test="city_id != null" >
        city_id,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="longitude != null" >
        longitude,
      </if>
      <if test="latitude != null" >
        latitude,
      </if>
      <if test="expiry_date != null" >
        expiry_date,
      </if>
      <if test="salesmen_id != null" >
        salesmen_id,
      </if>
      <if test="salesmen_name != null" >
        salesmen_name,
      </if>
      <if test="operations_id != null" >
        operations_id,
      </if>
      <if test="operations_name != null" >
        operations_name,
      </if>
      <if test="indu_com_number != null" >
        indu_com_number,
      </if>
      <if test="tax_number != null" >
        tax_number,
      </if>
      <if test="indu_com_certif != null" >
        indu_com_certif,
      </if>
      <if test="tax_certif != null" >
        tax_certif,
      </if>
      <if test="lng_certif != null" >
        lng_certif,
      </if>
      <if test="dcp_certif != null" >
        dcp_certif,
      </if>
      <if test="platform_type != null" >
        platform_type,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="created_time != null" >
        created_time,
      </if>
      <if test="updated_time != null" >
        updated_time,
      </if>
      <if test="pay_code != null" >
        pay_code,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="sys_transportion_id != null" >
        #{sys_transportion_id,jdbcType=VARCHAR},
      </if>
      <if test="sys_user_account_id != null" >
        #{sys_user_account_id,jdbcType=VARCHAR},
      </if>
      <if test="transportion_name != null" >
        #{transportion_name,jdbcType=VARCHAR},
      </if>
      <if test="contact_phone != null" >
        #{contact_phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="area_id != null" >
        #{area_id,jdbcType=VARCHAR},
      </if>
      <if test="province_id != null" >
        #{province_id,jdbcType=VARCHAR},
      </if>
      <if test="city_id != null" >
        #{city_id,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="longitude != null" >
        #{longitude,jdbcType=VARCHAR},
      </if>
      <if test="latitude != null" >
        #{latitude,jdbcType=VARCHAR},
      </if>
      <if test="expiry_date != null" >
        #{expiry_date,jdbcType=TIMESTAMP},
      </if>
      <if test="salesmen_id != null" >
        #{salesmen_id,jdbcType=VARCHAR},
      </if>
      <if test="salesmen_name != null" >
        #{salesmen_name,jdbcType=VARCHAR},
      </if>
      <if test="operations_id != null" >
        #{operations_id,jdbcType=VARCHAR},
      </if>
      <if test="operations_name != null" >
        #{operations_name,jdbcType=VARCHAR},
      </if>
      <if test="indu_com_number != null" >
        #{indu_com_number,jdbcType=VARCHAR},
      </if>
      <if test="tax_number != null" >
        #{tax_number,jdbcType=VARCHAR},
      </if>
      <if test="indu_com_certif != null" >
        #{indu_com_certif,jdbcType=VARCHAR},
      </if>
      <if test="tax_certif != null" >
        #{tax_certif,jdbcType=VARCHAR},
      </if>
      <if test="lng_certif != null" >
        #{lng_certif,jdbcType=VARCHAR},
      </if>
      <if test="dcp_certif != null" >
        #{dcp_certif,jdbcType=VARCHAR},
      </if>
      <if test="platform_type != null" >
        #{platform_type,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="created_time != null" >
        #{created_time,jdbcType=TIMESTAMP},
      </if>
      <if test="updated_time != null" >
        #{updated_time,jdbcType=TIMESTAMP},
      </if>
      <if test="pay_code != null" >
        #{pay_code,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sysongy.poms.transportion.model.Transportion" >
    update sys_transportion
    <set >
      <if test="sys_user_account_id != null &amp;&amp; sys_user_account_id != ''">
        sys_user_account_id = #{sys_user_account_id,jdbcType=VARCHAR},
      </if>
      <if test="transportion_name != null &amp;&amp; transportion_name != ''" >
        transportion_name = #{transportion_name,jdbcType=VARCHAR},
      </if>
      <if test="station_manager != null &amp;&amp; station_manager != ''" >
        station_manager = #{station_manager,jdbcType=VARCHAR},
      </if>
      <if test="contact_phone != null &amp;&amp; contact_phone != ''" >
        contact_phone = #{contact_phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null &amp;&amp; email != ''" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="area_id != null &amp;&amp; area_id != ''" >
        area_id = #{area_id,jdbcType=VARCHAR},
      </if>
      <if test="province_id != null &amp;&amp; province_id != ''" >
        province_id = #{province_id,jdbcType=VARCHAR},
      </if>
      <if test="city_id != null &amp;&amp; city_id != ''" >
        city_id = #{city_id,jdbcType=VARCHAR},
      </if>
      <if test="address != null &amp;&amp; address != ''" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="longitude != null &amp;&amp; longitude != ''" >
        longitude = #{longitude,jdbcType=VARCHAR},
      </if>
      <if test="latitude != null &amp;&amp; latitude != ''" >
        latitude = #{latitude,jdbcType=VARCHAR},
      </if>
      <if test="expiry_date != null &amp;&amp; expiry_date != ''" >
        expiry_date = #{expiry_date,jdbcType=TIMESTAMP},
      </if>
      <if test="salesmen_id != null &amp;&amp; salesmen_id != ''" >
        salesmen_id = #{salesmen_id,jdbcType=VARCHAR},
      </if>
      <if test="salesmen_name != null &amp;&amp; salesmen_name != ''" >
        salesmen_name = #{salesmen_name,jdbcType=VARCHAR},
      </if>
      <if test="operations_id != null &amp;&amp; operations_id != ''" >
        operations_id = #{operations_id,jdbcType=VARCHAR},
      </if>
      <if test="operations_name != null &amp;&amp; operations_name != ''" >
        operations_name = #{operations_name,jdbcType=VARCHAR},
      </if>
      <if test="indu_com_number != null &amp;&amp; indu_com_number != ''" >
        indu_com_number = #{indu_com_number,jdbcType=VARCHAR},
      </if>
      <if test="tax_number != null &amp;&amp; tax_number != ''" >
        tax_number = #{tax_number,jdbcType=VARCHAR},
      </if>
      <if test="indu_com_certif != null &amp;&amp; indu_com_certif != ''" >
        indu_com_certif = #{indu_com_certif,jdbcType=VARCHAR},
      </if>
      <if test="tax_certif != null &amp;&amp; tax_certif != ''" >
        tax_certif = #{tax_certif,jdbcType=VARCHAR},
      </if>
      <if test="lng_certif != null &amp;&amp; lng_certif != ''" >
        lng_certif = #{lng_certif,jdbcType=VARCHAR},
      </if>
      <if test="dcp_certif != null &amp;&amp; dcp_certif != ''" >
        dcp_certif = #{dcp_certif,jdbcType=VARCHAR},
      </if>
      <if test="platform_type != null &amp;&amp; platform_type != ''" >
        platform_type = #{platform_type,jdbcType=VARCHAR},
      </if>
      <if test="status != null &amp;&amp; status != ''" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="created_time != null &amp;&amp; created_time != ''" >
        created_time = #{created_time,jdbcType=TIMESTAMP},
      </if>
      <if test="updated_time != null &amp;&amp; updated_time != ''" >
        updated_time = #{updated_time,jdbcType=TIMESTAMP},
      </if>
      <if test="pay_code != null &amp;&amp; pay_code != ''" >
        pay_code = #{pay_code,jdbcType=VARCHAR},
      </if>
      <if test="deposit != null &amp;&amp; deposit != ''" >
        deposit = #{deposit,jdbcType=DECIMAL},
      </if>
    </set>
    where sys_transportion_id = #{sys_transportion_id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sysongy.poms.transportion.model.Transportion" >
    update sys_transportion
    set sys_user_account_id = #{sys_user_account_id,jdbcType=VARCHAR},
      transportion_name = #{transportion_name,jdbcType=VARCHAR},
      station_manager = #{station_manager,jdbcType=VARCHAR},
      contact_phone = #{contact_phone,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      area_id = #{area_id,jdbcType=VARCHAR},
      province_id = #{province_id,jdbcType=VARCHAR},
      city_id = #{city_id,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      longitude = #{longitude,jdbcType=VARCHAR},
      latitude = #{latitude,jdbcType=VARCHAR},
      expiry_date = #{expiry_date,jdbcType=TIMESTAMP},
      salesmen_id = #{salesmen_id,jdbcType=VARCHAR},
      salesmen_name = #{salesmen_name,jdbcType=VARCHAR},
      operations_id = #{operations_id,jdbcType=VARCHAR},
      operations_name = #{operations_name,jdbcType=VARCHAR},
      indu_com_number = #{indu_com_number,jdbcType=VARCHAR},
      tax_number = #{tax_number,jdbcType=VARCHAR},
      indu_com_certif = #{indu_com_certif,jdbcType=VARCHAR},
      tax_certif = #{tax_certif,jdbcType=VARCHAR},
      lng_certif = #{lng_certif,jdbcType=VARCHAR},
      dcp_certif = #{dcp_certif,jdbcType=VARCHAR},
      platform_type = #{platform_type,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      created_time = #{created_time,jdbcType=TIMESTAMP},
      updated_time = #{updated_time,jdbcType=TIMESTAMP},
      pay_code = #{pay_code,jdbcType=VARCHAR},
      deposit = #{deposit,jdbcType=DECIMAL}
    where sys_transportion_id = #{sys_transportion_id,jdbcType=VARCHAR}
  </update>
</mapper>