<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sysongy.poms.health.dao.HealthMapper" >
  <resultMap id="BaseResultMap" type="com.sysongy.poms.health.model.Health" >
    <id column="category_id" property="categoryId" jdbcType="VARCHAR" />
    <result column="pcategory_id" property="pcategoryId" jdbcType="VARCHAR" />
    <result column="category_name" property="categoryName" jdbcType="VARCHAR" />
    <result column="sm" property="sm" jdbcType="VARCHAR" />
    <result column="wh" property="wh" jdbcType="VARCHAR" />
    <result column="bz" property="bz" jdbcType="VARCHAR" />
    <result column="listorder" property="listorder" jdbcType="INTEGER" />
    <result column="author_id" property="authorId" jdbcType="VARCHAR" />
    <result column="author_name" property="authorName" jdbcType="VARCHAR" />
    <result column="modifier_id" property="modifierId" jdbcType="VARCHAR" />
    <result column="modifier_name" property="modifierName" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="modify_date" property="modifyDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    category_id, pcategory_id, category_name, sm, wh, bz, listorder, author_id, author_name, 
    modifier_id, modifier_name, create_date, modify_date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from physique_health
    where category_id = #{categoryId,jdbcType=VARCHAR}
  </select>
  <!-- 手动增加 *********************************************************************************** -->
  <!-- queryROOTlist -->
  <select id="queryROOTlist" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from physique_health
    where category_id = #{param1}
  </select>
  
  <!-- queryAllHealthList -->
  <select id="queryAllHealthList" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from physique_health
    order by listorder asc
  </select>
  
  <!-- queryRootHealthList -->
  <select id="queryRootHealthList" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from physique_health where category_id = pcategory_id
    order by listorder asc
  </select>
  
  <!-- queryHealthListByPcategoryId -->
  <select id="queryHealthListByPcategoryId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from physique_health where pcategory_id = #{pcategoryId} and category_id != pcategory_id
    order by listorder asc
  </select>
  
  <!-- queryHealthListLikeName -->
  <select id="queryHealthListLikeName" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from physique_health where category_name like #{categoryName}
    order by listorder asc
  </select>
  
  <!-- 手动增加 *********************************************************************************** -->
  
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from physique_health
    where category_id = #{categoryId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.sysongy.poms.health.model.Health" >
    insert into physique_health (category_id, pcategory_id, category_name, 
      sm, wh, bz, listorder, 
      author_id, author_name, modifier_id, 
      modifier_name, create_date, modify_date
      )
    values (#{categoryId,jdbcType=VARCHAR}, #{pcategoryId,jdbcType=VARCHAR}, #{categoryName,jdbcType=VARCHAR}, 
      #{sm,jdbcType=VARCHAR}, #{wh,jdbcType=VARCHAR}, #{bz,jdbcType=VARCHAR}, #{listorder,jdbcType=INTEGER}, 
      #{authorId,jdbcType=VARCHAR}, #{authorName,jdbcType=VARCHAR}, #{modifierId,jdbcType=VARCHAR}, 
      #{modifierName,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{modifyDate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sysongy.poms.health.model.Health" >
    insert into physique_health
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="categoryId != null" >
        category_id,
      </if>
      <if test="pcategoryId != null" >
        pcategory_id,
      </if>
      <if test="categoryName != null" >
        category_name,
      </if>
      <if test="sm != null" >
        sm,
      </if>
      <if test="wh != null" >
        wh,
      </if>
      <if test="bz != null" >
        bz,
      </if>
      <if test="listorder != null" >
        listorder,
      </if>
      <if test="authorId != null" >
        author_id,
      </if>
      <if test="authorName != null" >
        author_name,
      </if>
      <if test="modifierId != null" >
        modifier_id,
      </if>
      <if test="modifierName != null" >
        modifier_name,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="modifyDate != null" >
        modify_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="categoryId != null" >
        #{categoryId,jdbcType=VARCHAR},
      </if>
      <if test="pcategoryId != null" >
        #{pcategoryId,jdbcType=VARCHAR},
      </if>
      <if test="categoryName != null" >
        #{categoryName,jdbcType=VARCHAR},
      </if>
      <if test="sm != null" >
        #{sm,jdbcType=VARCHAR},
      </if>
      <if test="wh != null" >
        #{wh,jdbcType=VARCHAR},
      </if>
      <if test="bz != null" >
        #{bz,jdbcType=VARCHAR},
      </if>
      <if test="listorder != null" >
        #{listorder,jdbcType=INTEGER},
      </if>
      <if test="authorId != null" >
        #{authorId,jdbcType=VARCHAR},
      </if>
      <if test="authorName != null" >
        #{authorName,jdbcType=VARCHAR},
      </if>
      <if test="modifierId != null" >
        #{modifierId,jdbcType=VARCHAR},
      </if>
      <if test="modifierName != null" >
        #{modifierName,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyDate != null" >
        #{modifyDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sysongy.poms.health.model.Health" >
    update physique_health
    <set >
      <if test="pcategoryId != null" >
        pcategory_id = #{pcategoryId,jdbcType=VARCHAR},
      </if>
      <if test="categoryName != null" >
        category_name = #{categoryName,jdbcType=VARCHAR},
      </if>
      <if test="sm != null" >
        sm = #{sm,jdbcType=VARCHAR},
      </if>
      <if test="wh != null" >
        wh = #{wh,jdbcType=VARCHAR},
      </if>
      <if test="bz != null" >
        bz = #{bz,jdbcType=VARCHAR},
      </if>
      <if test="listorder != null" >
        listorder = #{listorder,jdbcType=INTEGER},
      </if>
      <if test="authorId != null" >
        author_id = #{authorId,jdbcType=VARCHAR},
      </if>
      <if test="authorName != null" >
        author_name = #{authorName,jdbcType=VARCHAR},
      </if>
      <if test="modifierId != null" >
        modifier_id = #{modifierId,jdbcType=VARCHAR},
      </if>
      <if test="modifierName != null" >
        modifier_name = #{modifierName,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyDate != null" >
        modify_date = #{modifyDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where category_id = #{categoryId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sysongy.poms.health.model.Health" >
    update physique_health
    set pcategory_id = #{pcategoryId,jdbcType=VARCHAR},
      category_name = #{categoryName,jdbcType=VARCHAR},
      sm = #{sm,jdbcType=VARCHAR},
      wh = #{wh,jdbcType=VARCHAR},
      bz = #{bz,jdbcType=VARCHAR},
      listorder = #{listorder,jdbcType=INTEGER},
      author_id = #{authorId,jdbcType=VARCHAR},
      author_name = #{authorName,jdbcType=VARCHAR},
      modifier_id = #{modifierId,jdbcType=VARCHAR},
      modifier_name = #{modifierName,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      modify_date = #{modifyDate,jdbcType=TIMESTAMP}
    where category_id = #{categoryId,jdbcType=VARCHAR}
  </update>
</mapper>