<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sysongy.poms.order.dao.SysOrderMapper" >
  <resultMap id="BaseResultMap" type="com.sysongy.poms.order.model.SysOrder" >
    <id column="order_id" property="orderId" jdbcType="VARCHAR" />
    <result column="order_number" property="orderNumber" jdbcType="VARCHAR" />
    <result column="order_type" property="orderType" jdbcType="VARCHAR" />
    <result column="order_date" property="orderDate" jdbcType="TIMESTAMP" />
    <result column="cash" property="cash" jdbcType="DECIMAL" />
    <result column="credit_account" property="creditAccount" jdbcType="VARCHAR" />
    <result column="debit_account" property="debitAccount" jdbcType="VARCHAR" />
    <result column="charge_type" property="chargeType" jdbcType="VARCHAR" />
    <result column="channel" property="channel" jdbcType="VARCHAR" />
    <result column="channel_number" property="channelNumber" jdbcType="VARCHAR" />
    <result column="operator" property="operator" jdbcType="VARCHAR" />
    <result column="operator_target_type" property="operatorTargetType" jdbcType="VARCHAR" />
    <result column="operator_source_type" property="operatorSourceType" jdbcType="VARCHAR" />
    <result column="operator_source_id" property="operatorSourceId" jdbcType="VARCHAR" />
    <result column="is_discharge" property="is_discharge" jdbcType="VARCHAR" />
    <result column="been_discharged" property="been_discharged" jdbcType="VARCHAR" />
    <result column="discharge_reason" property="discharge_reason" jdbcType="VARCHAR" />
    <result column="discharge_order_id" property="dischargeOrderId" jdbcType="VARCHAR" />
    <result column="consume_card" property="consume_card" jdbcType="VARCHAR" />
    <association property="operatorInfo" column="operator_source_id"
                 javaType="com.sysongy.poms.permi.model.SysUser"
                 select="com.sysongy.poms.permi.dao.SysUserMapper.queryUserById">
    </association>
    <association property="consume_cardInfo" column="consume_card"
                 javaType="com.sysongy.poms.card.model.GasCard"
                 select="com.sysongy.poms.card.dao.GasCardMapper.selectByPrimaryKey">
    </association>
    <association property="orderTypeInfo" column="order_type"
                 javaType="com.sysongy.poms.usysparam.model.Usysparam"
                 select="com.sysongy.poms.usysparam.dao.UsysparamMapper.queryOrderTypeByMcode">
    </association>
    <collection property="sysOrderGoods" ofType="com.sysongy.poms.ordergoods.model.SysOrderGoods"
                column="order_id"
                select="com.sysongy.poms.ordergoods.dao.SysOrderGoodsMapper.selectByOrderID" />
  </resultMap>
  <sql id="Base_Column_List" >
    order_id, order_number, order_type, order_date, cash, credit_account, debit_account, 
    charge_type, channel, channel_number, operator, is_discharge, been_discharged, discharge_reason,discharge_order_id,operator_source_type, operator_target_type,consume_card
  </sql>

  <select id="queryForPage" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from sys_order
    where 1=1
    <if test="orderId != null &amp;&amp; orderId != ''" >
      and order_id = #{orderId,jdbcType=VARCHAR}
    </if>
    <if test="orderType != null &amp;&amp; orderType != ''" >
      and order_type = #{orderType,jdbcType=VARCHAR}
    </if>
  </select>


  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from sys_order
    where order_id = #{orderId,jdbcType=VARCHAR}
  </select>
  
  <select id="queryConsumeOrderByUserId" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select 
    <include refid="Base_Column_List" />
    from sys_order
    where debit_account = #{userId,jdbcType=VARCHAR}
     and order_type in (#{CONSUME_BY_TRANSPORTION,jdbcType=VARCHAR},#{CONSUME_BY_DRIVER,jdbcType=VARCHAR})
     and order_date > #{order_date,jdbcType=TIMESTAMP}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from sys_order
    where order_id = #{orderId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.sysongy.poms.order.model.SysOrder" >
    insert into sys_order (order_id, order_number, order_type, 
      order_date, cash, credit_account, 
      debit_account, charge_type, channel, 
      channel_number, operator, is_discharge,discharge_reason,discharge_order_id,operator_target_type,operator_source_id,operator_source_type, consume_card
      )
    values (#{orderId,jdbcType=VARCHAR}, #{orderNumber,jdbcType=VARCHAR}, #{orderType,jdbcType=VARCHAR}, 
      #{orderDate,jdbcType=TIMESTAMP}, #{cash,jdbcType=DECIMAL}, #{creditAccount,jdbcType=VARCHAR}, 
      #{debitAccount,jdbcType=VARCHAR}, #{chargeType,jdbcType=VARCHAR}, #{channel,jdbcType=VARCHAR}, 
      #{channelNumber,jdbcType=VARCHAR}, #{operator,jdbcType=VARCHAR},#{is_discharge,jdbcType=VARCHAR},#{discharge_reason,jdbcType=VARCHAR},#{dischargeOrderId,jdbcType=VARCHAR},
      #{operatorTargetType,jdbcType=VARCHAR},#{operatorSourceId,jdbcType=VARCHAR}, #{operatorSourceType,jdbcType=VARCHAR},#{consume_card,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sysongy.poms.order.model.SysOrder" >
    insert into sys_order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="orderNumber != null" >
        order_number,
      </if>
      <if test="orderType != null" >
        order_type,
      </if>
      <if test="orderDate != null" >
        order_date,
      </if>
      <if test="cash != null" >
        cash,
      </if>
      <if test="creditAccount != null" >
        credit_account,
      </if>
      <if test="debitAccount != null" >
        debit_account,
      </if>
      <if test="chargeType != null" >
        charge_type,
      </if>
      <if test="channel != null" >
        channel,
      </if>
      <if test="channelNumber != null" >
        channel_number,
      </if>
      <if test="operator != null" >
        operator,
      </if>
      <if test="is_discharge != null" >
        is_discharge,
      </if>
      <if test="discharge_reason != null" >
        discharge_reason,
      </if>
      <if test="dischargeOrderId != null" >
        discharge_order_id,
      </if>
      <if test="operatorSourceId != null" >
        operator_source_id,
      </if>
      <if test="operatorTargetType != null" >
        operator_target_type,
      </if>
      <if test="consume_card != null" >
        consume_card,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="orderNumber != null" >
        #{orderNumber,jdbcType=VARCHAR},
      </if>
      <if test="orderType != null" >
        #{orderType,jdbcType=VARCHAR},
      </if>
      <if test="orderDate != null" >
        #{orderDate,jdbcType=TIMESTAMP},
      </if>
      <if test="cash != null" >
        #{cash,jdbcType=DECIMAL},
      </if>
      <if test="creditAccount != null" >
        #{creditAccount,jdbcType=VARCHAR},
      </if>
      <if test="debitAccount != null" >
        #{debitAccount,jdbcType=VARCHAR},
      </if>
      <if test="chargeType != null" >
        #{chargeType,jdbcType=VARCHAR},
      </if>
      <if test="channel != null" >
        #{channel,jdbcType=VARCHAR},
      </if>
      <if test="channelNumber != null" >
        #{channelNumber,jdbcType=VARCHAR},
      </if>
      <if test="operator != null" >
        #{operator,jdbcType=VARCHAR},
      </if>
      <if test="is_discharge != null" >
        #{is_discharge,jdbcType=VARCHAR},
      </if>
      <if test="discharge_reason != null" >
        #{discharge_reason,jdbcType=VARCHAR},
      </if>
      <if test="operatorSourceId != null" >
         #{operatorSourceId,jdbcType=VARCHAR},
      </if>
      <if test="dischargeOrderId != null" >
        #{dischargeOrderId,jdbcType=VARCHAR},
      </if>
      <if test="operatorTargetType != null" >
        #{operatorTargetType,jdbcType=VARCHAR},
      </if>
      <if test="consume_card != null" >
        #{consume_card,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sysongy.poms.order.model.SysOrder" >
    update sys_order
    <set >
      <if test="orderNumber != null" >
        order_number = #{orderNumber,jdbcType=VARCHAR},
      </if>
      <if test="orderType != null" >
        order_type = #{orderType,jdbcType=VARCHAR},
      </if>
      <if test="orderDate != null" >
        order_date = #{orderDate,jdbcType=TIMESTAMP},
      </if>
      <if test="cash != null" >
        cash = #{cash,jdbcType=DECIMAL},
      </if>
      <if test="creditAccount != null" >
        credit_account = #{creditAccount,jdbcType=VARCHAR},
      </if>
      <if test="debitAccount != null" >
        debit_account = #{debitAccount,jdbcType=VARCHAR},
      </if>
      <if test="chargeType != null" >
        charge_type = #{chargeType,jdbcType=VARCHAR},
      </if>
      <if test="channel != null" >
        channel = #{channel,jdbcType=VARCHAR},
      </if>
      <if test="channelNumber != null" >
        channel_number = #{channelNumber,jdbcType=VARCHAR},
      </if>
      <if test="operator != null" >
        operator = #{operator,jdbcType=VARCHAR},
      </if>
      <if test="is_discharge != null" >
        is_discharge = #{is_discharge,jdbcType=VARCHAR},
      </if>
      <if test="been_discharged != null" >
        been_discharged = #{been_discharged,jdbcType=VARCHAR},
      </if>
      <if test="discharge_reason != null" >
        discharge_reason = #{discharge_reason,jdbcType=VARCHAR},
      </if>
       <if test="operatorSourceId != null" >
        operator_source_id = #{operatorSourceId,jdbcType=VARCHAR},
      </if>
      <if test="dischargeOrderId != null" >
        discharge_order_id = #{dischargeOrderId,jdbcType=VARCHAR},
      </if>
      <if test="operatorTargetType != null" >
        operator_target_type = #{operatorTargetType,jdbcType=VARCHAR},
      </if>
      <if test="consume_card != null" >
        consume_card = #{consume_card,jdbcType=VARCHAR},
      </if>
    </set>
    where order_id = #{orderId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sysongy.poms.order.model.SysOrder" >
    update sys_order
    set order_number = #{orderNumber,jdbcType=VARCHAR},
      order_type = #{orderType,jdbcType=VARCHAR},
      order_date = #{orderDate,jdbcType=TIMESTAMP},
      cash = #{cash,jdbcType=DECIMAL},
      credit_account = #{creditAccount,jdbcType=VARCHAR},
      debit_account = #{debitAccount,jdbcType=VARCHAR},
      charge_type = #{chargeType,jdbcType=VARCHAR},
      channel = #{channel,jdbcType=VARCHAR},
      channel_number = #{channelNumber,jdbcType=VARCHAR},
      operator = #{operator,jdbcType=VARCHAR},
      is_discharge = #{is_discharge,jdbcType=VARCHAR},
      been_discharged = #{been_discharged,jdbcType=VARCHAR},
      discharge_reason = #{discharge_reason,jdbcType=VARCHAR},      
      discharge_order_id = #{dischargeOrderId,jdbcType=VARCHAR},
      operator_source_id = #{operatorSourceId,jdbcType=VARCHAR},
      operator_target_type = #{operatorTargetType,jdbcType=VARCHAR}
      operator_source_type = #{operatorSourceType,jdbcType=VARCHAR}
      consume_card = #{consume_card,jdbcType=VARCHAR}
    where order_id = #{orderId,jdbcType=VARCHAR}
  </update>
</mapper>