<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sysongy.poms.order.dao.SysOrderMapper" >
  <resultMap id="BaseResultMap" type="com.sysongy.poms.order.model.SysOrder" >
    <id column="order_id" property="orderId" jdbcType="VARCHAR" />
    <result column="order_number" property="orderNumber" jdbcType="VARCHAR" />
    <result column="order_type" property="orderType" jdbcType="VARCHAR" />
    <result column="order_date" property="orderDate" jdbcType="TIMESTAMP" />
    <result column="cash" property="cash" jdbcType="DECIMAL" />
    <result column="credit_account" property="creditAccount" jdbcType="VARCHAR" />
    <result column="debit_account" property="debitAccount" jdbcType="VARCHAR" />
    <result column="charge_type" property="chargeType" jdbcType="VARCHAR" />
    <result column="channel" property="channel" jdbcType="VARCHAR" />
    <result column="channel_number" property="channelNumber" jdbcType="VARCHAR" />
    <result column="operator" property="operator" jdbcType="VARCHAR" />
    <result column="operator_target_type" property="operatorTargetType" jdbcType="VARCHAR" />
    <result column="operator_source_type" property="operatorSourceType" jdbcType="VARCHAR" />
    <result column="operator_source_id" property="operatorSourceId" jdbcType="VARCHAR" />
    <result column="is_discharge" property="is_discharge" jdbcType="VARCHAR" />
    <result column="been_discharged" property="been_discharged" jdbcType="VARCHAR" />
    <result column="discharge_reason" property="discharge_reason" jdbcType="VARCHAR" />
    <result column="discharge_order_id" property="dischargeOrderId" jdbcType="VARCHAR" />
    <result column="consume_card" property="consume_card" jdbcType="VARCHAR" />
    <association property="orderTypeInfo" column="order_type"
                 javaType="com.sysongy.poms.usysparam.model.Usysparam"
                 select="com.sysongy.poms.usysparam.dao.UsysparamMapper.queryOrderTypeByMcode">
    </association>
    <association property="chargeTypeInfo" column="charge_type"
                 javaType="com.sysongy.poms.usysparam.model.Usysparam"
                 select="com.sysongy.poms.usysparam.dao.UsysparamMapper.queryCashBackByMcode">
    </association>
    <association property="operatorInfo" column="operator"
                 javaType="com.sysongy.poms.permi.model.SysUser"
                 select="com.sysongy.poms.permi.dao.SysUserMapper.queryUserById">
    </association>
    <association property="consume_cardInfo" column="consume_card"
                 javaType="com.sysongy.poms.card.model.GasCard"
                 select="com.sysongy.poms.card.dao.GasCardMapper.selectByPrimaryKey">
    </association>
    <collection property="sysOrderGoods" ofType="com.sysongy.poms.ordergoods.model.SysOrderGoods"
                column="order_id"
                select="com.sysongy.poms.ordergoods.dao.SysOrderGoodsMapper.selectByOrderID" />
  </resultMap>
  
  <resultMap type="com.sysongy.poms.order.model.OrderLog" id="OrderLogResultMap">
  
  </resultMap>

  <resultMap id="MapResultMap" type="java.util.Map" >
  <id column="order_id" property="orderId" jdbcType="VARCHAR" />
  <result column="order_number" property="orderNumber" jdbcType="VARCHAR" />
  <result column="order_type" property="orderType" jdbcType="VARCHAR" />
  <result column="order_date" property="orderDate" jdbcType="TIMESTAMP" />
  <result column="cash" property="cash" jdbcType="DECIMAL" />
  <result column="credit_account" property="creditAccount" jdbcType="VARCHAR" />
  <result column="debit_account" property="debitAccount" jdbcType="VARCHAR" />
  <result column="charge_type" property="chargeType" jdbcType="VARCHAR" />
  <result column="channel" property="channel" jdbcType="VARCHAR" />
  <result column="channel_number" property="channelNumber" jdbcType="VARCHAR" />
  <result column="operator" property="operator" jdbcType="VARCHAR" />
  <result column="operator_target_type" property="operatorTargetType" jdbcType="VARCHAR" />
  <result column="operator_source_type" property="operatorSourceType" jdbcType="VARCHAR" />
  <result column="operator_source_id" property="operatorSourceId" jdbcType="VARCHAR" />
  <result column="is_discharge" property="is_discharge" jdbcType="VARCHAR" />
  <result column="been_discharged" property="been_discharged" jdbcType="VARCHAR" />
  <result column="discharge_reason" property="discharge_reason" jdbcType="VARCHAR" />
  <result column="discharge_order_id" property="dischargeOrderId" jdbcType="VARCHAR" />
  <result column="consume_card" property="consume_card" jdbcType="VARCHAR" />
  </resultMap>

  <resultMap type="java.util.Map" id="SumChargeResultMap">
    <result column="sumcash" property="sumcash" jdbcType="DECIMAL" />
  </resultMap>
  

  <sql id="Base_Column_List" >
    order_id, order_number, order_type, order_date, cash, credit_account, debit_account, 
    charge_type, channel, channel_number, operator, is_discharge, been_discharged, discharge_reason,discharge_order_id, operator_source_id, operator_source_type, operator_target_type,consume_card
  </sql>

  <select id="queryForPage" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from sys_order
    where 1=1
    <if test="orderId != null &amp;&amp; orderId != ''" >
      and order_id = #{orderId,jdbcType=VARCHAR}
    </if>
    <if test="orderType != null &amp;&amp; orderType != ''" >
      and order_type = #{orderType,jdbcType=VARCHAR}
    </if>
  </select>

  <select id="queryOrderLogs" resultMap="OrderLogResultMap" parameterType="java.lang.String" >
    select s.order_id,so.deal_number,so.remark,s.order_type,s.operator,so.run_success,so.deal_date 
    from sys_order s,sys_order_deal so 
    where s.order_id = so.order_id and s.order_number= #{order_number,jdbcType=VARCHAR}
    <if test="deal_number != null &amp;&amp; deal_number != ''">
        and so.deal_number = #{deal_number,jdbcType=VARCHAR}
    </if>
    <if test="deal_date_after != null &amp;&amp; deal_date_after != ''">
        and so.deal_date between CONCAT(#{deal_date_after,jdbcType=VARCHAR},' 0:00:00') and CONCAT(#{deal_date_before,jdbcType=VARCHAR},' 23:59:59')
    </if>
  </select>
	

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from sys_order
    where order_id = #{orderId,jdbcType=VARCHAR}
  </select>


  <select id="selectByOrderGASID" resultMap="BaseResultMap" parameterType="com.sysongy.poms.order.model.SysOrder" >
    select
    <include refid="Base_Column_List" />
    from sys_order
      where 1=1 and is_discharge='0' and been_discharged='0'
    <trim>
      <if test="orderNumber != null &amp;&amp; orderNumber != ''" >
        and order_number = #{orderNumber, jdbcType=VARCHAR}
      </if>
      <if test="operatorSourceId != null &amp;&amp; operatorSourceId != ''" >
        and operator_source_id = #{operatorSourceId, jdbcType=VARCHAR}
      </if>
    </trim>
  </select>
  
  <select id="queryConsumeOrderByUserId" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select 
    <include refid="Base_Column_List" />
    from sys_order
    where credit_account = #{userId,jdbcType=VARCHAR}
     and order_type in (#{CONSUME_BY_TRANSPORTION,jdbcType=VARCHAR},#{CONSUME_BY_DRIVER,jdbcType=VARCHAR})
     and order_date > #{order_date,jdbcType=TIMESTAMP}
  </select>
  
  <select id="querySumChargeByUserId" resultMap="SumChargeResultMap" parameterType="java.util.Map" >
    select 
     sum(cash) as sumcash 
    from sys_order
    where debit_account = #{userId,jdbcType=VARCHAR}
     and order_type = #{CHARGE_TO_DRIVER,jdbcType=VARCHAR}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from sys_order
    where order_id = #{orderId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.sysongy.poms.order.model.SysOrder" >
    insert into sys_order (order_id, order_number, order_type, 
      order_date, cash, credit_account, 
      debit_account, charge_type, channel, 
      channel_number, operator, is_discharge,discharge_reason,discharge_order_id,operator_target_type,operator_source_id,operator_source_type, consume_card
      )
    values (#{orderId,jdbcType=VARCHAR}, #{orderNumber,jdbcType=VARCHAR}, #{orderType,jdbcType=VARCHAR}, 
      #{orderDate,jdbcType=TIMESTAMP}, #{cash,jdbcType=DECIMAL}, #{creditAccount,jdbcType=VARCHAR}, 
      #{debitAccount,jdbcType=VARCHAR}, #{chargeType,jdbcType=VARCHAR}, #{channel,jdbcType=VARCHAR}, 
      #{channelNumber,jdbcType=VARCHAR}, #{operator,jdbcType=VARCHAR},#{is_discharge,jdbcType=VARCHAR},#{discharge_reason,jdbcType=VARCHAR},#{dischargeOrderId,jdbcType=VARCHAR},
      #{operatorTargetType,jdbcType=VARCHAR},#{operatorSourceId,jdbcType=VARCHAR}, #{operatorSourceType,jdbcType=VARCHAR},#{consume_card,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sysongy.poms.order.model.SysOrder" >
    insert into sys_order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="orderNumber != null" >
        order_number,
      </if>
      <if test="orderType != null" >
        order_type,
      </if>
      <if test="orderDate != null" >
        order_date,
      </if>
      <if test="cash != null" >
        cash,
      </if>
      <if test="creditAccount != null" >
        credit_account,
      </if>
      <if test="debitAccount != null" >
        debit_account,
      </if>
      <if test="chargeType != null" >
        charge_type,
      </if>
      <if test="channel != null" >
        channel,
      </if>
      <if test="channelNumber != null" >
        channel_number,
      </if>
      <if test="operator != null" >
        operator,
      </if>
      <if test="is_discharge != null" >
        is_discharge,
      </if>
      <if test="discharge_reason != null" >
        discharge_reason,
      </if>
      <if test="dischargeOrderId != null" >
        discharge_order_id,
      </if>
      <if test="operatorSourceId != null" >
        operator_source_id,
      </if>
      <if test="operatorTargetType != null" >
        operator_target_type,
      </if>
      <if test="consume_card != null" >
        consume_card,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="orderNumber != null" >
        #{orderNumber,jdbcType=VARCHAR},
      </if>
      <if test="orderType != null" >
        #{orderType,jdbcType=VARCHAR},
      </if>
      <if test="orderDate != null" >
        #{orderDate,jdbcType=TIMESTAMP},
      </if>
      <if test="cash != null" >
        #{cash,jdbcType=DECIMAL},
      </if>
      <if test="creditAccount != null" >
        #{creditAccount,jdbcType=VARCHAR},
      </if>
      <if test="debitAccount != null" >
        #{debitAccount,jdbcType=VARCHAR},
      </if>
      <if test="chargeType != null" >
        #{chargeType,jdbcType=VARCHAR},
      </if>
      <if test="channel != null" >
        #{channel,jdbcType=VARCHAR},
      </if>
      <if test="channelNumber != null" >
        #{channelNumber,jdbcType=VARCHAR},
      </if>
      <if test="operator != null" >
        #{operator,jdbcType=VARCHAR},
      </if>
      <if test="is_discharge != null" >
        #{is_discharge,jdbcType=VARCHAR},
      </if>
      <if test="discharge_reason != null" >
        #{discharge_reason,jdbcType=VARCHAR},
      </if>
      <if test="operatorSourceId != null" >
         #{operatorSourceId,jdbcType=VARCHAR},
      </if>
      <if test="dischargeOrderId != null" >
        #{dischargeOrderId,jdbcType=VARCHAR},
      </if>
      <if test="operatorTargetType != null" >
        #{operatorTargetType,jdbcType=VARCHAR},
      </if>
      <if test="consume_card != null" >
        #{consume_card,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sysongy.poms.order.model.SysOrder" >
    update sys_order
    <set >
      <if test="orderNumber != null" >
        order_number = #{orderNumber,jdbcType=VARCHAR},
      </if>
      <if test="orderType != null" >
        order_type = #{orderType,jdbcType=VARCHAR},
      </if>
      <if test="orderDate != null" >
        order_date = #{orderDate,jdbcType=TIMESTAMP},
      </if>
      <if test="cash != null" >
        cash = #{cash,jdbcType=DECIMAL},
      </if>
      <if test="creditAccount != null" >
        credit_account = #{creditAccount,jdbcType=VARCHAR},
      </if>
      <if test="debitAccount != null" >
        debit_account = #{debitAccount,jdbcType=VARCHAR},
      </if>
      <if test="chargeType != null" >
        charge_type = #{chargeType,jdbcType=VARCHAR},
      </if>
      <if test="channel != null" >
        channel = #{channel,jdbcType=VARCHAR},
      </if>
      <if test="channelNumber != null" >
        channel_number = #{channelNumber,jdbcType=VARCHAR},
      </if>
      <if test="operator != null" >
        operator = #{operator,jdbcType=VARCHAR},
      </if>
      <if test="is_discharge != null" >
        is_discharge = #{is_discharge,jdbcType=VARCHAR},
      </if>
      <if test="been_discharged != null" >
        been_discharged = #{been_discharged,jdbcType=VARCHAR},
      </if>
      <if test="discharge_reason != null" >
        discharge_reason = #{discharge_reason,jdbcType=VARCHAR},
      </if>
       <if test="operatorSourceId != null" >
        operator_source_id = #{operatorSourceId,jdbcType=VARCHAR},
      </if>
      <if test="dischargeOrderId != null" >
        discharge_order_id = #{dischargeOrderId,jdbcType=VARCHAR},
      </if>
      <if test="operatorTargetType != null" >
        operator_target_type = #{operatorTargetType,jdbcType=VARCHAR},
      </if>
      <if test="consume_card != null" >
        consume_card = #{consume_card,jdbcType=VARCHAR},
      </if>
    </set>
    where order_id = #{orderId,jdbcType=VARCHAR}
  </update>
  
  <update id="updateOriginalOrderAfterDischarged" parameterType="java.util.Map" >
    update sys_order
    <set >
      <if test="been_discharged != null" >
        been_discharged = #{been_discharged,jdbcType=VARCHAR},
      </if>
      <if test="discharge_reason != null" >
        discharge_reason = #{discharge_reason,jdbcType=VARCHAR},
      </if>
      <if test="dischargeOrderId != null" >
        discharge_order_id = #{dischargeOrderId,jdbcType=VARCHAR},
      </if>
    </set>
    where order_id = #{orderId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sysongy.poms.order.model.SysOrder" >
    update sys_order
    set order_number = #{orderNumber,jdbcType=VARCHAR},
      order_type = #{orderType,jdbcType=VARCHAR},
      order_date = #{orderDate,jdbcType=TIMESTAMP},
      cash = #{cash,jdbcType=DECIMAL},
      credit_account = #{creditAccount,jdbcType=VARCHAR},
      debit_account = #{debitAccount,jdbcType=VARCHAR},
      charge_type = #{chargeType,jdbcType=VARCHAR},
      channel = #{channel,jdbcType=VARCHAR},
      channel_number = #{channelNumber,jdbcType=VARCHAR},
      operator = #{operator,jdbcType=VARCHAR},
      is_discharge = #{is_discharge,jdbcType=VARCHAR},
      been_discharged = #{been_discharged,jdbcType=VARCHAR},
      discharge_reason = #{discharge_reason,jdbcType=VARCHAR},      
      discharge_order_id = #{dischargeOrderId,jdbcType=VARCHAR},
      operator_source_id = #{operatorSourceId,jdbcType=VARCHAR},
      operator_target_type = #{operatorTargetType,jdbcType=VARCHAR}
      operator_source_type = #{operatorSourceType,jdbcType=VARCHAR}
      consume_card = #{consume_card,jdbcType=VARCHAR}
    where order_id = #{orderId,jdbcType=VARCHAR}
  </update>

  <resultMap id="BaseResultReportMap" type="com.sysongy.poms.ordergoods.model.SysOrderGoodsForCRMReport" >
    <id column="order_id" property="orderId" jdbcType="VARCHAR" />
    <result column="order_number" property="orderNumber" jdbcType="VARCHAR" />
    <result column="order_type" property="orderType" jdbcType="VARCHAR" />
    <result column="order_date" property="orderDate" jdbcType="TIMESTAMP" />
    <result column="cash" property="cash" jdbcType="DECIMAL" />
    <result column="credit_account" property="creditAccount" jdbcType="VARCHAR" />
    <result column="debit_account" property="debitAccount" jdbcType="VARCHAR" />
    <result column="charge_type" property="chargeType" jdbcType="VARCHAR" />
    <result column="channel" property="channel" jdbcType="VARCHAR" />
    <result column="channel_number" property="channelNumber" jdbcType="VARCHAR" />
    <result column="operator" property="operator" jdbcType="VARCHAR" />
    <result column="operator_target_type" property="operatorTargetType" jdbcType="VARCHAR" />
    <result column="operator_source_type" property="operatorSourceType" jdbcType="VARCHAR" />
    <result column="operator_source_id" property="operatorSourceId" jdbcType="VARCHAR" />
    <result column="is_discharge" property="is_discharge" jdbcType="VARCHAR" />
    <result column="been_discharged" property="been_discharged" jdbcType="VARCHAR" />
    <result column="discharge_reason" property="discharge_reason" jdbcType="VARCHAR" />
    <result column="discharge_order_id" property="dischargeOrderId" jdbcType="VARCHAR" />
    <result column="consume_card" property="consume_card" jdbcType="VARCHAR" />
    <result column="order_goods_id" property="orderGoodsId" jdbcType="VARCHAR" />
    <result column="order_id" property="orderId" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="number" property="number" jdbcType="INTEGER" />
    <result column="sum_price" property="sumPrice" jdbcType="DECIMAL" />
    <result column="goods_type" property="goodsType" jdbcType="VARCHAR" />
    <association property="goods_type_info" column="goods_type"
                 javaType="com.sysongy.poms.usysparam.model.Usysparam"
                 select="com.sysongy.poms.usysparam.dao.UsysparamMapper.queryCardTypeByMcode">
    </association>
    <association property="orderTypeInfo" column="order_type"
                 javaType="com.sysongy.poms.usysparam.model.Usysparam"
                 select="com.sysongy.poms.usysparam.dao.UsysparamMapper.queryOrderTypeByMcode">
    </association>
    <association property="chargeTypeInfo" column="charge_type"
                 javaType="com.sysongy.poms.usysparam.model.Usysparam"
                 select="com.sysongy.poms.usysparam.dao.UsysparamMapper.queryCashBackByMcode">
    </association>
    <association property="operatorInfo" column="operator"
                 javaType="com.sysongy.poms.permi.model.SysUser"
                 select="com.sysongy.poms.permi.dao.SysUserMapper.queryUserById">
    </association>
    <association property="consume_cardInfo" column="consume_card"
                 javaType="com.sysongy.poms.card.model.GasCard"
                 select="com.sysongy.poms.card.dao.GasCardMapper.selectByPrimaryKey">
    </association>
    <collection property="sysOrderGoods" ofType="com.sysongy.poms.ordergoods.model.SysOrderGoods"
                column="order_id"
                select="com.sysongy.poms.ordergoods.dao.SysOrderGoodsMapper.selectByOrderID" />
  </resultMap>

  <select id="queryGoodsOrderInfos" resultMap="BaseResultReportMap" parameterType="com.sysongy.poms.ordergoods.model.SysOrderGoodsForCRMReport" >
      SELECT order_goods_id,a.order_id,
      price, number,sum_price,goods_type,
      b.order_id as orderID,order_number,order_type,
      order_date, cash, credit_account,debit_account,
      charge_type,channel,channel_number,
      operator,operator_source_id,operator_source_type,
      operator_target_type,is_discharge,discharge_order_id,consume_card,discharge_reason,
      been_discharged
      FROM sys_order_goods a left join sys_order b on a.order_id = b.order_id
      WHERE 1=1

    <trim>
      <if test="orderNumber != null &amp;&amp; orderNumber != ''" >
        and order_number = #{orderNumber, jdbcType=VARCHAR}
      </if>
      <if test="operatorSourceId != null &amp;&amp; operatorSourceId != ''" >
        and operator_source_id = #{operatorSourceId, jdbcType=VARCHAR}
      </if>
      <if test="storage_time_after != null &amp;&amp; storage_time_after != ''">
        and order_date between CONCAT(#{storage_time_after,jdbcType=VARCHAR},' 0:00:00') and CONCAT(#{storage_time_before,jdbcType=VARCHAR},' 23:59:59')
      </if>
      <if test="goodsType != null &amp;&amp; goodsType != ''" >
        and goods_type = #{goodsType, jdbcType=VARCHAR}
      </if>
    </trim>
  </select>

  <!--运输公司个人消费报表-->
  <select id="queryTcPersonalReport" resultMap="MapResultMap" parameterType="com.sysongy.poms.order.model.SysOrder" >
    select sor.order_number,sor.order_type,sor.is_discharge,sor.cash,sd.full_name,sd.mobile_phone,sgs.gas_station_name,
    sog.goods_type,sog.price,sog.number,sog.sum_price,sor.order_date,sod.remark
    from sys_driver sd
    left join sys_order sor on sd.card_id = sor.consume_card
    left join sys_order_goods sog on sog.order_id = sor.order_id
    left join sys_order_deal sod on sor.order_id = sod.order_id
    left join sys_gas_station sgs on sgs.sys_gas_station_id = sor.operator_source_id
    where sor.order_id is not null
    <if test="debitAccount != null &amp;&amp; debitAccount != ''" >
      and sd.station_id = #{debitAccount,jdbcType=VARCHAR}
    </if>
    <if test="is_discharge != null &amp;&amp; is_discharge != ''" >
      and sor.is_discharge = #{is_discharge,jdbcType=VARCHAR}
    </if>
    <if test="orderNumber != null &amp;&amp; orderNumber !=''" >
      and (sd.full_name like CONCAT('%',CONCAT(#{orderNumber,jdbcType=VARCHAR},'%'))
      or  sd.mobile_phone like CONCAT('%',CONCAT(#{orderNumber,jdbcType=VARCHAR},'%')))
    </if>
    <if test="startDate != null &amp;&amp; endDate !=null  &amp;&amp; startDate != '' &amp;&amp; endDate !='' " >
      and  sor.order_date between CONCAT(#{startDate,jdbcType=VARCHAR},' 0:00:00') and CONCAT(#{endDate,jdbcType=VARCHAR},' 23:59:59')
    </if>
  </select>


  <!--运输公司车队消费报表-->
  <select id="queryTcFleetReport" resultMap="MapResultMap" parameterType="com.sysongy.poms.order.model.SysOrder" >
    select sor.order_number,sor.order_type,sor.is_discharge,tf.fleet_name,tv.plates_number,sgs.gas_station_name,
    sog.goods_type,sog.price,sog.number,sog.sum_price,sod.deal_date,sod.remark
    from  tc_vehicle tv
    left join tc_fleet_vehicle tfv on tv.tc_vehicle_id = tfv.tc_vehicle_id
    left join tc_fleet tf on tfv.tc_fleet_id = tf.tc_fleet_id
    left join sys_order sor on sor.consume_card = tv.card_no
    left join sys_order_deal sod on sor.order_id = sod.order_id
    left join sys_order_goods sog on sog.order_id = sor.order_id
    left join sys_gas_station sgs on sgs.sys_gas_station_id = sor.operator_source_id
    where tv.is_deleted = '1' and tf.is_deleted = '1'
    and sor.order_id is not null
    <if test="orderId != null &amp;&amp; orderId != ''" >
      and tf.tc_fleet_id = #{orderId,jdbcType=VARCHAR}
    </if>
    <if test="debitAccount != null &amp;&amp; debitAccount != ''" >
      and tv.station_id  = #{debitAccount,jdbcType=VARCHAR}
    </if>
    <if test="is_discharge != null &amp;&amp; is_discharge != ''" >
      and sor.is_discharge = #{is_discharge,jdbcType=VARCHAR}
    </if>
    <if test="orderNumber != null &amp;&amp; orderNumber !=''" >
      and (tf.fleet_name like CONCAT('%',CONCAT(#{orderNumber,jdbcType=VARCHAR},'%'))
      or  tv.plates_number like CONCAT('%',CONCAT(#{orderNumber,jdbcType=VARCHAR},'%')))
    </if>
    <if test="startDate != null &amp;&amp; endDate !=null  &amp;&amp; startDate != '' &amp;&amp; endDate !='' " >
      and  sor.order_date between CONCAT(#{startDate,jdbcType=VARCHAR},' 0:00:00') and CONCAT(#{endDate,jdbcType=VARCHAR},' 23:59:59')
    </if>
  </select>

</mapper>