<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sysongy.poms.order.dao.SysOrderDealMapper" >
  <resultMap id="BaseResultMap" type="com.sysongy.poms.order.model.SysOrderDeal" >
  <id column="deal_id" property="dealId" jdbcType="VARCHAR" />
  <result column="order_id" property="orderId" jdbcType="VARCHAR" />
  <result column="deal_number" property="dealNumber" jdbcType="VARCHAR" />
  <result column="deal_date" property="dealDate" jdbcType="TIMESTAMP" />
  <result column="deal_type" property="dealType" jdbcType="VARCHAR" />
  <result column="cash_back_per" property="cashBackPer" jdbcType="VARCHAR" />
  <result column="cash_back" property="cashBack" jdbcType="DECIMAL" />
  <result column="remark" property="remark" jdbcType="VARCHAR" />
  <result column="run_success" property="runSuccess" jdbcType="VARCHAR" />
</resultMap>
  <resultMap id="MapResultMap" type="java.util.Map" >
    <id column="deal_id" property="dealId" jdbcType="VARCHAR" />
    <result column="order_id" property="orderId" jdbcType="VARCHAR" />
    <result column="order_number" property="orderNumber" jdbcType="VARCHAR" />
    <result column="operator" property="operator" jdbcType="VARCHAR" />
    <result column="deal_number" property="dealNumber" jdbcType="VARCHAR" />
    <result column="deal_date" property="dealDate" jdbcType="TIMESTAMP" />
    <result column="deal_type" property="dealType" jdbcType="VARCHAR" />
    <result column="cash_back_per" property="cashBackPer" jdbcType="VARCHAR" />
    <result column="cash_back" property="cashBack" jdbcType="DECIMAL" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="run_success" property="runSuccess" jdbcType="VARCHAR" />
    <association property="sysOrderInfo" column="order_id"
                 javaType="com.sysongy.poms.order.model.SysOrder"
                 select="com.sysongy.poms.order.dao.SysOrderMapper.selectByPrimaryKey">
    </association>
  </resultMap>
  <sql id="Base_Column_List" >
    deal_id, order_id, deal_number, deal_date, deal_type, cash_back_per, cash_back, remark, run_success
  </sql>

  <sql id="Base_Column_List1" >
    deal_id, a.order_id as order_id, deal_number, deal_date, deal_type, cash_back_per, cash_back, remark, run_success
  </sql>

  <select id="queryForPage" resultMap="MapResultMap" parameterType="com.sysongy.poms.order.model.SysOrderDeal" >
    select
    <include refid="Base_Column_List1" />
    from sys_order_deal a
    left join sys_order b on a.order_id=b.order_id
    left join sys_driver cc on b.debit_account = cc.sys_driver_id
    left join sys_driver d on b.credit_account = d.sys_driver_id
    where 1=1
    <if test="orderId != null &amp;&amp; orderId != ''" >
      and a.order_id = #{orderId,jdbcType=VARCHAR}
    </if>
    <if test="operator != null &amp;&amp; operator != ''" >
      and b.operator = #{operator,jdbcType=VARCHAR}
    </if>
    <if test="cardID != null &amp;&amp; cardID != ''" >
      and b.consume_card = #{cardID,jdbcType=VARCHAR}
    </if>
    <if test="mobilePhone != null &amp;&amp; mobilePhone != ''" >
      and b.sysDriver.mobilePhone = #{mobilePhone,jdbcType=VARCHAR}
    </if>
    <if test="storage_time_after != null &amp;&amp; storage_time_after != ''">
      and deal_date between CONCAT(#{storage_time_after,jdbcType=VARCHAR},' 0:00:00') and CONCAT(#{storage_time_before,jdbcType=VARCHAR},' 23:59:59')
    </if>
    <if test="isCharge != null &amp;&amp; isCharge == 1" >
      and b.order_type='130'
    </if>
    <if test="isCharge != null &amp;&amp; isCharge == 0" >
      and deal_type &gt; '200'
    </if>
     and  b.operator_source_id=#{stationID,jdbcType=VARCHAR}

  </select>



  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from sys_order_deal
    where deal_id = #{dealId,jdbcType=VARCHAR}
  </select>
  <select id="queryRechargeList" resultMap="MapResultMap" parameterType="com.sysongy.poms.order.model.SysOrder" >
    select sod.*,sor.order_number,sor.operator,sor.channel,sor.charge_type,sor.cash
    from sys_order_deal sod left join sys_order sor on sod.order_id = sor.order_id
    where 1 = 1
    <if test="orderNumber != null &amp;&amp; orderNumber !=''" >
      and sor.order_number = #{orderNumber}
    </if>
    <if test="debitAccount != null &amp;&amp; debitAccount !=''" >
      and sor.debit_account = #{debitAccount}
    </if>
    <if test="channel != null &amp;&amp; channel !=''" >
      and sor.channel = #{channel}
    </if>
    <if test="channelNumber != null &amp;&amp; channelNumber !=''" >
      and sor.channel_number = #{channelNumber}
    </if>
    <if test="operatorSourceType != null &amp;&amp; operatorTargetType != ''">
      and sor.order_date between CONCAT(#{operatorSourceType,jdbcType=VARCHAR},' 0:00:00') and CONCAT(#{operatorTargetType,jdbcType=VARCHAR},' 23:59:59')
    </if>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from sys_order_deal
    where deal_id = #{dealId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.sysongy.poms.order.model.SysOrderDeal" >
    insert into sys_order_deal (deal_id, order_id, deal_number, 
      deal_date, deal_type, cash_back_per, 
      cash_back,remark, run_success)
    values (#{dealId,jdbcType=VARCHAR}, #{orderId,jdbcType=VARCHAR}, #{dealNumber,jdbcType=VARCHAR}, 
      #{dealDate,jdbcType=TIMESTAMP}, #{dealType,jdbcType=VARCHAR}, #{cashBackPer,jdbcType=VARCHAR}, 
      #{cashBack,jdbcType=DECIMAL},#{remark,jdbcType=VARCHAR}, #{runSuccess,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sysongy.poms.order.model.SysOrderDeal" >
    insert into sys_order_deal
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="dealId != null" >
        deal_id,
      </if>
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="dealNumber != null" >
        deal_number,
      </if>
      <if test="dealDate != null" >
        deal_date,
      </if>
      <if test="dealType != null" >
        deal_type,
      </if>
      <if test="cashBackPer != null" >
        cash_back_per,
      </if>
      <if test="cashBack != null" >
        cash_back,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="runSuccess != null" >
        run_success,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="dealId != null" >
        #{dealId,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="dealNumber != null" >
        #{dealNumber,jdbcType=VARCHAR},
      </if>
      <if test="dealDate != null" >
        #{dealDate,jdbcType=TIMESTAMP},
      </if>
      <if test="dealType != null" >
        #{dealType,jdbcType=VARCHAR},
      </if>
      <if test="cashBackPer != null" >
        #{cashBackPer,jdbcType=VARCHAR},
      </if>
      <if test="cashBack != null" >
        #{cashBack,jdbcType=DECIMAL},
      </if>
       <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="runSuccess != null" >
        #{runSuccess,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sysongy.poms.order.model.SysOrderDeal" >
    update sys_order_deal
    <set >
      <if test="orderId != null" >
        order_id = #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="dealNumber != null" >
        deal_number = #{dealNumber,jdbcType=VARCHAR},
      </if>
      <if test="dealDate != null" >
        deal_date = #{dealDate,jdbcType=TIMESTAMP},
      </if>
      <if test="dealType != null" >
        deal_type = #{dealType,jdbcType=VARCHAR},
      </if>
      <if test="cashBackPer != null" >
        cash_back_per = #{cashBackPer,jdbcType=VARCHAR},
      </if>
      <if test="cashBack != null" >
        cash_back = #{cashBack,jdbcType=DECIMAL},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="runSuccess != null" >
        run_success = #{runSuccess,jdbcType=VARCHAR}
      </if>
    </set>
    where deal_id = #{dealId,jdbcType=VARCHAR}
  </update>
  <update id="updateSysOrderDeal" parameterType="com.sysongy.poms.order.model.SysOrderDeal" >
    update sys_order_deal
    set order_id = #{orderId,jdbcType=VARCHAR},
      deal_number = #{dealNumber,jdbcType=VARCHAR},
      deal_date = #{dealDate,jdbcType=TIMESTAMP},
      deal_type = #{dealType,jdbcType=VARCHAR},
      cash_back_per = #{cashBackPer,jdbcType=VARCHAR},
      cash_back = #{cashBack,jdbcType=DECIMAL},
      remark =  #{remark,jdbcType=VARCHAR},
      run_success = #{runSuccess,jdbcType=VARCHAR}
    where deal_id = #{dealId,jdbcType=VARCHAR}
  </update>
  
  <select id="queryOrderDealByOrderId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
     <include refid="Base_Column_List" />
    from sys_order_deal
    where order_id = #{orderId,jdbcType=VARCHAR}
  </select>

    <select id="selectCashBackByOrderID"  resultType="java.lang.String" parameterType="java.lang.String" >
       SELECT sum(cash_back)
        FROM sys_order_deal
       where order_id=#{orderId,jdbcType=VARCHAR}
        and (deal_type='133' or deal_type='134')
    </select>
</mapper>