<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sysongy.poms.coupon.dao.CouponMapper">
	<resultMap id="BaseResultMap" type="com.sysongy.poms.coupon.model.Coupon">
		<id column="coupon_id" property="coupon_id" jdbcType="VARCHAR" />
		<result column="coupon_no" property="coupon_no" jdbcType="VARCHAR" />
		<result column="coupon_title" property="coupon_title" jdbcType="VARCHAR" />
		<result column="coupon_detail" property="coupon_detail" jdbcType="VARCHAR" />
		<result column="coupon_type" property="coupon_type" jdbcType="VARCHAR" />
		<result column="coupon_kind" property="coupon_kind" jdbcType="VARCHAR" />
		<result column="preferential_discount" property="preferential_discount" jdbcType="VARCHAR" />
		<result column="use_condition" property="use_condition" jdbcType="VARCHAR" />
		<result column="limit_money" property="limit_money" jdbcType="VARCHAR" />
		<result column="issuance_type" property="issuance_type" jdbcType="VARCHAR" />
		<result column="consume_type" property="consume_type" jdbcType="VARCHAR" />
		<result column="status" property="status" jdbcType="VARCHAR" />
		<result column="start_coupon_time" property="start_coupon_time" jdbcType="TIMESTAMP" />
		<result column="end_coupon_time" property="end_coupon_time" jdbcType="TIMESTAMP" />
		<result column="gas_station_name" property="gas_station_name" jdbcType="VARCHAR" />
		<result column="sys_gas_station_id" property="sys_gas_station_id" jdbcType="VARCHAR" />
		<result column="coupon_nums" property="coupon_nums" jdbcType="VARCHAR" />
		<result column="statusinfo" property="statusinfo" jdbcType="VARCHAR" />
	</resultMap>
	<resultMap id="UserCouponMap" type="com.sysongy.poms.coupon.model.UserCoupon">
		<id column="user_coupon_id" property="user_coupon_id" jdbcType="VARCHAR" />
		<result column="coupon_id" property="coupon_id" jdbcType="VARCHAR" />
		<result column="coupon_no" property="coupon_no" jdbcType="VARCHAR" />
		<result column="sys_driver_id" property="sys_driver_id" jdbcType="VARCHAR" />
		<result column="isuse" property="isuse" jdbcType="VARCHAR" />
		<result column="start_coupon_time" property="start_coupon_time" jdbcType="TIMESTAMP" />
		<result column="end_coupon_time" property="end_coupon_time" jdbcType="TIMESTAMP" />
		<result column="coupon_kind" property="coupon_kind" jdbcType="TIMESTAMP" />
		<result column="sys_gas_station_id" property="sys_gas_station_id" jdbcType="TIMESTAMP" />
		<result column="gas_station_name" property="gas_station_name" jdbcType="VARCHAR" />
		<result column="coupon_title" property="coupon_title" jdbcType="VARCHAR" />
		<result column="user_name" property="user_name" jdbcType="VARCHAR" />
		<result column="full_name" property="full_name" jdbcType="VARCHAR" />
		<result column="identity_card" property="identity_card" jdbcType="VARCHAR" />
		<result column="plate_number" property="plate_number" jdbcType="VARCHAR" />
		<result column="fuel_type" property="fuel_type" jdbcType="VARCHAR" />
		<result column="station_id" property="station_id" jdbcType="VARCHAR" />
		<result column="regis_source" property="regis_source" jdbcType="VARCHAR" />
	</resultMap>
	<resultMap id="MapResultMap" type="java.util.Map">
		<id column="coupon_id" property="coupon_id" jdbcType="VARCHAR" />
		<result column="coupon_no" property="coupon_no" jdbcType="VARCHAR" />
		<result column="coupon_title" property="coupon_title" jdbcType="VARCHAR" />
		<result column="coupon_detail" property="coupon_detail" jdbcType="VARCHAR" />
		<result column="coupon_type" property="coupon_type" jdbcType="VARCHAR" />
		<result column="coupon_kind" property="coupon_kind" jdbcType="VARCHAR" />
		<result column="preferential_discount" property="preferential_discount" jdbcType="VARCHAR" />
		<result column="use_condition" property="use_condition" jdbcType="VARCHAR" />
		<result column="limit_money" property="limit_money" jdbcType="VARCHAR" />
		<result column="issuance_type" property="issuance_type" jdbcType="VARCHAR" />
		<result column="consume_type" property="consume_type" jdbcType="VARCHAR" />
		<result column="status" property="status" jdbcType="VARCHAR" />
		<result column="start_coupon_time" property="start_coupon_time" jdbcType="TIMESTAMP" />
		<result column="end_coupon_time" property="end_coupon_time" jdbcType="TIMESTAMP" />
		<result column="gas_station_name" property="gas_station_name" jdbcType="VARCHAR" />
		<result column="sys_gas_station_id" property="sys_gas_station_id" jdbcType="VARCHAR" />
		<result column="coupon_nums" property="coupon_nums" jdbcType="VARCHAR" />
		<result column="statusinfo" property="statusinfo" jdbcType="VARCHAR" />
		<result column="user_coupon_id" property="user_coupon_id" jdbcType="VARCHAR" />
		<result column="gas_station_name" property="gas_station_name" jdbcType="VARCHAR" />
	</resultMap>

	<sql id="Base_Column_List">
			sc.coupon_id,
			sc.coupon_no,
			sc.coupon_title,
			sc.coupon_detail,
			sc.coupon_type,
			sc.coupon_kind,
			sc.preferential_discount,
			sc.use_condition,
			sc.limit_money,
			sc.issuance_type,
			sc.consume_type,
			sc.STATUS,
				(
			SELECT
				gs.gas_station_name
			FROM
				`sys_gas_station` gs
			WHERE
				gs.sys_gas_station_id = sc.sys_gas_station_id
				) gas_station_name,
				sc.sys_gas_station_id,
			DATE_FORMAT(
				sc.start_coupon_time,
				'%Y-%m-%d'
			) start_coupon_time,
			DATE_FORMAT(sc.end_coupon_time, '%Y-%m-%d') end_coupon_time,
				(SELECT	count(1)	FROM	`sys_user_coupon` su
			WHERE	su.coupon_id = sc.coupon_id	) coupon_nums,
				(CASE	WHEN now()  &lt; sc.start_coupon_time THEN
			'未开始'	WHEN now() &gt;= sc.start_coupon_time
		AND now() &lt;= sc.end_coupon_time THEN
			(	CASE	WHEN timestampdiff(HOUR,now(),sc.end_coupon_time) &gt; 24 THEN
					CONCAT('优惠结束还剩',	timestampdiff(DAY,now(),sc.end_coupon_time),'天')
				ELSE	CONCAT('优惠结束还剩',timestampdiff(HOUR,now(),sc.end_coupon_time),'小时')
				END)
       WHEN now() &gt; sc.end_coupon_time THEN
			'已结束'	END) statusinfo
	</sql>
	<select id="queryForPage" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from `sys_coupon` sc
		where 1=1
		<trim>
			<if test="coupon_no != null &amp;&amp; coupon_no != ''">
				and sc.coupon_no LIKE CONCAT(CONCAT('%',
				#{coupon_no,jdbcType=VARCHAR}), '%')
			</if>
			<if test="coupon_title != null &amp;&amp; coupon_title != ''">
				and sc.coupon_title LIKE CONCAT(CONCAT('%',
				#{coupon_title,jdbcType=VARCHAR}), '%')
			</if>
		    <if test="coupon_type != null &amp;&amp; coupon_type != ''">
		      and sc.coupon_type = #{coupon_type,jdbcType=VARCHAR}
		    </if>
		    <if test="coupon_kind != null &amp;&amp; coupon_kind != ''">
		      and sc.coupon_kind = #{coupon_kind,jdbcType=VARCHAR}
		    </if>
		   <if test="status != null &amp;&amp; status != ''">
		      and sc.status = #{status,jdbcType=VARCHAR}
		    </if>
		   <if test="nowDate != null &amp;&amp; nowDate != ''">
		      AND start_coupon_time &lt;= NOW() AND end_coupon_time &gt;= NOW()
		    </if>
		</trim>
	</select>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from `sys_coupon` sc
		where sc.coupon_id = #{coupon_id,jdbcType=VARCHAR}
	</select>
	<select id="queryCouponById" resultMap="BaseResultMap"
			parameterType="java.lang.String">
		select * from sys_coupon where coupon_id = #{coupon_id,jdbcType=VARCHAR}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from sys_coupon
		where coupon_id = #{coupon_id,jdbcType=VARCHAR}
	</delete>
	<insert id="insert" parameterType="com.sysongy.poms.coupon.model.Coupon">
		insert into sys_coupon (coupon_id,coupon_no, coupon_title, coupon_detail, coupon_type, coupon_kind,
		preferential_discount,limit_money,use_condition,issuance_type,consume_type,status,
		start_coupon_time, end_coupon_time,sys_gas_station_id,
		create_person_id,create_time,lastmodify_person_id,lastmodify_time
		)
		values (#{coupon_id,jdbcType=VARCHAR}, #{coupon_no,jdbcType=VARCHAR}, 
		 #{coupon_title,jdbcType=VARCHAR}, #{coupon_detail,jdbcType=VARCHAR},
		#{coupon_type,jdbcType=VARCHAR},#{coupon_kind,jdbcType=VARCHAR}, #{preferential_discount,jdbcType=VARCHAR},
		#{limit_money,jdbcType=VARCHAR},#{use_condition,jdbcType=VARCHAR},#{issuance_type,jdbcType=VARCHAR}, #{consume_type,jdbcType=VARCHAR},#{status,jdbcType=VARCHAR},
		 #{start_coupon_time,jdbcType=TIMESTAMP}, #{end_coupon_time,jdbcType=TIMESTAMP},#{sys_gas_station_id,jdbcType=VARCHAR},
		#{create_person_id,jdbcType=VARCHAR},#{create_time,jdbcType=TIMESTAMP},#{lastmodify_person_id,jdbcType=VARCHAR},#{lastmodify_time,jdbcType=TIMESTAMP}
		)
	</insert>
	<update id="updateByPrimaryKey" parameterType="com.sysongy.poms.coupon.model.Coupon">
		update sys_coupon
		set
		coupon_title = #{coupon_title,jdbcType=VARCHAR},
		coupon_detail = #{coupon_detail,jdbcType=VARCHAR},
		coupon_type = #{coupon_type,jdbcType=VARCHAR},
		coupon_kind = #{coupon_kind,jdbcType=VARCHAR},
		preferential_discount = #{preferential_discount,jdbcType=VARCHAR},
		limit_money = #{limit_money,jdbcType=VARCHAR},
		use_condition = #{use_condition,jdbcType=VARCHAR},
		issuance_type=#{issuance_type,jdbcType=VARCHAR},
		consume_type=#{consume_type,jdbcType=VARCHAR},
		status=#{status,jdbcType=VARCHAR},
		sys_gas_station_id=#{sys_gas_station_id,jdbcType=VARCHAR},
		start_coupon_time=#{start_coupon_time,jdbcType=TIMESTAMP},
		end_coupon_time=#{end_coupon_time,jdbcType=TIMESTAMP},
		lastmodify_person_id=#{lastmodify_person_id,jdbcType=VARCHAR},
		lastmodify_time=#{lastmodify_time,jdbcType=TIMESTAMP}
		where coupon_id = #{coupon_id,jdbcType=VARCHAR}
	</update>
	<select id="selectByUser_Coupon" resultMap="UserCouponMap"
		parameterType="java.lang.String">
			SELECT
			suc.user_coupon_id,
			suc.coupon_id,
			suc.coupon_no,
			suc.isuse,
			suc.sys_driver_id,
			suc.start_coupon_time,
			suc.end_coupon_time,
			suc.coupon_kind,
			suc.sys_gas_station_id,
			(SELECT
				gs.gas_station_name
			FROM
				`sys_gas_station` gs
			WHERE
				gs.sys_gas_station_id = suc.sys_gas_station_id
				) gas_station_name,
			(SELECT
			coupon_title
				FROM
			`sys_coupon` sc
			WHERE
			sc.coupon_id = suc.coupon_id) coupon_title,
			sd.user_name,
			sd.full_name,
			sd.identity_card,
			sd.plate_number,
			sd.fuel_type,
			sd.station_id,
			sd.regis_source
			FROM
				`sys_user_coupon` suc
			LEFT JOIN `sys_driver` sd ON suc.sys_driver_id = sd.sys_driver_id
			WHERE
				1 = 1
		<trim>
			<if test="user_coupon_id != null &amp;&amp; user_coupon_id != ''">
				and suc.user_coupon_id = #{user_coupon_id,jdbcType=VARCHAR}
			</if>
		    <if test="coupon_id != null &amp;&amp; coupon_id != ''">
		      	and suc.coupon_id = #{coupon_id,jdbcType=VARCHAR}
		    </if>
		    <if test="sys_driver_id != null &amp;&amp; sys_driver_id != ''">
		      	and suc.sys_driver_id = #{sys_driver_id,jdbcType=VARCHAR}
		    </if>
			<if test="full_name != null &amp;&amp; full_name != ''">
		        and (sd.full_name	 like CONCAT('%',CONCAT(#{full_name,jdbcType=VARCHAR},'%'))
		        or  sd.mobile_phone like CONCAT('%',CONCAT(#{full_name,jdbcType=VARCHAR},'%')))
			</if>
			<if test="coupon_no != null &amp;&amp; coupon_no != ''">
				and suc.coupon_no LIKE CONCAT(CONCAT('%',
				#{coupon_no,jdbcType=VARCHAR}), '%')
			</if>
			<if test="coupon_title != null &amp;&amp; coupon_title != ''">
				and 	(SELECT	count(1) FROM sys_coupon WHERE coupon_id = suc.coupon_id
					AND coupon_title LIKE CONCAT(CONCAT('%',#{coupon_title,jdbcType=VARCHAR}), '%')) > 0
			</if>
		    <if test="coupon_kind != null &amp;&amp; coupon_kind != ''">
		      and suc.coupon_kind = #{coupon_kind,jdbcType=VARCHAR}
		    </if>
		    <if test="isuse != null &amp;&amp; isuse != ''">
		      and suc.isuse = #{isuse,jdbcType=VARCHAR}
		    </if>
		</trim>
	</select>
	<select id="selectByUserCouponByPK" resultMap="UserCouponMap"
		parameterType="java.lang.String">
			SELECT
			user_coupon_id,
			coupon_id,
			isuse,
			suc.user_coupon_id,
			suc.coupon_id,
			suc.sys_driver_id,
			suc.coupon_no,
			suc.isuse,
			suc.start_coupon_time,
			suc.end_coupon_time,
			sd.user_name,
			sd.full_name,
			sd.identity_card,
			sd.plate_number,
			sd.fuel_type,
			sd.station_id,
			sd.regis_source
			FROM
				`sys_user_coupon` suc
			LEFT JOIN `sys_driver` sd ON suc.sys_driver_id = sd.sys_driver_id
			WHERE
				1 = 1
		and  suc.user_coupon_id = #{user_coupon_id,jdbcType=VARCHAR}
	</select>
	<insert id="insertUserCoupon" parameterType="com.sysongy.poms.coupon.model.UserCoupon">
		insert into sys_user_coupon (user_coupon_id, coupon_id,coupon_no, sys_driver_id, isuse, coupon_kind,sys_gas_station_id,
		start_coupon_time, end_coupon_time,create_person_id,create_time,lastmodify_person_id,lastmodify_time
		)
		values (#{user_coupon_id,jdbcType=VARCHAR},#{coupon_id,jdbcType=VARCHAR},#{coupon_no,jdbcType=VARCHAR},#{sys_driver_id,jdbcType=VARCHAR},#{isuse,jdbcType=VARCHAR},#{coupon_kind,jdbcType=VARCHAR},#{sys_gas_station_id,jdbcType=VARCHAR},
		 #{start_coupon_time,jdbcType=TIMESTAMP}, #{end_coupon_time,jdbcType=TIMESTAMP},#{create_person_id,jdbcType=VARCHAR},#{create_time,jdbcType=TIMESTAMP},#{lastmodify_person_id,jdbcType=VARCHAR},#{lastmodify_time,jdbcType=TIMESTAMP}
		)
	</insert>
	<update id="updateUserCoupon" parameterType="com.sysongy.poms.coupon.model.UserCoupon">
		update sys_user_coupon
		set isuse = #{isuse,jdbcType=VARCHAR},
		lastmodify_person_id=#{lastmodify_person_id,jdbcType=VARCHAR},
		lastmodify_time=#{lastmodify_time,jdbcType=TIMESTAMP}
		where coupon_no = #{coupon_no,jdbcType=VARCHAR}
	</update>

	<update id="updateUserCouponStatus" parameterType="com.sysongy.poms.coupon.model.UserCoupon">
		update sys_user_coupon
		set isuse = #{isuse,jdbcType=VARCHAR}
		where user_coupon_id = #{user_coupon_id,jdbcType=VARCHAR}
	</update>

	<!-- 当前用户可用优惠券 -->
	<select id="queryCouponOrderByAmount" resultMap="BaseResultMap" parameterType="com.sysongy.poms.coupon.model.Coupon">
		select sc.*,suc.user_coupon_id,sys_gas_station.gas_station_name,suc.user_coupon_id
		from sys_user_coupon suc left join sys_coupon sc on suc.coupon_id = sc.coupon_id
		LEFT JOIN sys_gas_station ON sc.sys_gas_station_id = sys_gas_station.sys_gas_station_id
		where suc.isuse = '0' AND suc.sys_driver_id = #{driverId,jdbcType=VARCHAR} AND sc.status = 1
		AND (sc.sys_gas_station_id =  #{sys_gas_station_id,jdbcType=VARCHAR} OR sc.coupon_kind = 1)
		AND sc.start_coupon_time &lt;= CURDATE() AND sc.end_coupon_time &gt;= CURDATE()
		<trim>
			<if test="preferential_discount != null &amp;&amp; preferential_discount != ''">
				AND ((sc.preferential_discount &lt;= CONVERT(#{preferential_discount,jdbcType=VARCHAR},decimal) AND sc.use_condition = 1) or (sc.use_condition = 2) )
				AND (sc.limit_money is null or sc.limit_money &lt;= CONVERT(#{preferential_discount,jdbcType=VARCHAR},decimal))
			</if>
			<if test="amount != null &amp;&amp; amount != ''">
				AND ( sc.use_condition ='2' OR  <![CDATA[ sc.limit_money+0 <=  #{amount,jdbcType=VARCHAR} ]]>)
			</if>			
		</trim>
		order by CONVERT(preferential_discount,decimal) DESC,use_condition DESC,end_coupon_time ASC,sc.coupon_kind DESC
	</select>

	<!-- 当前用户可用优惠券 返回MAP-->
	<select id="queryCouponMapByAmount" resultMap="MapResultMap" parameterType="com.sysongy.poms.coupon.model.Coupon">
		select sc.*,suc.user_coupon_id,sys_gas_station.gas_station_name
		from sys_user_coupon suc left join sys_coupon sc on suc.coupon_id = sc.coupon_id
		LEFT JOIN sys_gas_station ON sc.sys_gas_station_id = sys_gas_station.sys_gas_station_id
		where suc.isuse = '0' AND suc.sys_driver_id = #{driverId,jdbcType=VARCHAR} AND sc.status = 1
		AND (sc.sys_gas_station_id =  #{sys_gas_station_id,jdbcType=VARCHAR} OR sc.coupon_kind = 1)
		AND sc.start_coupon_time &lt;= CURDATE() AND sc.end_coupon_time &gt;= CURDATE()
		<trim>
			<if test="preferential_discount != null &amp;&amp; preferential_discount != ''">
				AND ((sc.preferential_discount &lt;= CONVERT(#{preferential_discount,jdbcType=VARCHAR},decimal) AND sc.use_condition = 1) or (sc.use_condition = 2) )
				AND (sc.limit_money is null or sc.limit_money &lt;= CONVERT(#{preferential_discount,jdbcType=VARCHAR},decimal))
			</if>
			<!--<if test="amount != null &amp;&amp; amount != ''">
				<![CDATA[   AND sc.preferential_discount+0 <  #{amount,jdbcType=VARCHAR} ]]>
			</if>-->
		</trim>
		order by CONVERT(preferential_discount,decimal) DESC,sc.coupon_kind DESC,end_coupon_time ASC,use_condition DESC
	</select>

	<!-- 查询当前用户所有优惠券 -->
	<select id="queryAllCouponForPage" resultMap="BaseResultMap" parameterType="java.lang.String">
		SELECT
			sys_user_coupon.coupon_id,
			sys_coupon.coupon_kind,
			sys_coupon.coupon_type,
			sys_gas_station.gas_station_name,
			sys_coupon.use_condition,
			sys_coupon.preferential_discount,
			sys_coupon.coupon_title,
			sys_coupon.limit_money,
			sys_coupon.start_coupon_time,
			sys_coupon.end_coupon_time
		FROM
			sys_user_coupon
		LEFT JOIN sys_coupon ON sys_user_coupon.coupon_id = sys_coupon.coupon_id
		LEFT JOIN sys_gas_station ON sys_coupon.sys_gas_station_id = sys_gas_station.sys_gas_station_id
		WHERE
			isuse = '0'
		AND sys_user_coupon.sys_driver_id = #{driverId,jdbcType=VARCHAR}
	</select>

	<select id="queryUserCouponByID" resultMap="UserCouponMap" parameterType="java.lang.String">
		select * from sys_user_coupon
		where user_coupon_id = #{0}
		and sys_driver_id = #{1}
	</select>
	<select id="queryUserCouponId" resultType="java.lang.String" parameterType="com.sysongy.poms.coupon.model.UserCoupon">
		select user_coupon_id  from sys_user_coupon
		where coupon_id = #{coupon_id,jdbcType=VARCHAR} 
		and sys_driver_id = #{sys_driver_id,jdbcType=VARCHAR} and isuse = '0' limit 1
	</select>
	<update id="updateStatus"  parameterType="java.lang.String">
		UPDATE sys_user_coupon SET isuse='1' WHERE user_coupon_id = (SELECT user_coupon_id FROM sys_user_coupon WHERE coupon_id=#{0} AND sys_driver_id=#{1} AND isuse='0' LIMIT 1)
	</update>	
</mapper>