<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sysongy.poms.coupon.dao.CouponGroupMapper">
	<resultMap id="BaseResultMap" type="com.sysongy.poms.coupon.model.CouponGroup">
		<id column="coupongroup_id" property="coupongroup_id" jdbcType="VARCHAR" />
		<result column="coupongroup_no" property="coupongroup_no" jdbcType="VARCHAR" />
		<result column="coupongroup_title" property="coupongroup_title" jdbcType="VARCHAR" />
		<result column="coupongroup_detail" property="coupongroup_detail" jdbcType="VARCHAR" />
		<result column="coupon_ids" property="coupon_ids" jdbcType="VARCHAR" />
		<result column="coupon_nos" property="coupon_nos" jdbcType="VARCHAR" />
		<result column="issued_type" property="issued_type" jdbcType="VARCHAR" />
		<result column="consume_money" property="consume_money" jdbcType="VARCHAR" />
		<result column="consume_times" property="consume_times" jdbcType="VARCHAR" />
		<result column="start_rated_time" property="start_rated_time" jdbcType="TIMESTAMP" />
		<result column="end_rated_time" property="end_rated_time" jdbcType="TIMESTAMP" />
	</resultMap>
	<sql id="Base_Column_List">
			coupongroup_id,
			coupongroup_no,
			coupongroup_title,
			coupongroup_detail,
			coupon_ids,
			coupon_nos,
			issued_type,
			consume_money,
			consume_times,
			DATE_FORMAT(
				start_rated_time,
				'%Y-%m-%d'
			) start_rated_time,
			DATE_FORMAT(end_rated_time, '%Y-%m-%d') end_rated_time
	</sql>
	<select id="queryForPage" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from `sys_coupon_group` 
		where 1=1
		<trim>
			<if test="coupongroup_no != null &amp;&amp; coupongroup_no != ''">
				and coupongroup_no LIKE CONCAT(CONCAT('%',
				#{coupongroup_no,jdbcType=VARCHAR}), '%')
			</if>
			<if test="coupongroup_title != null &amp;&amp; coupongroup_title != ''">
				and coupongroup_title LIKE CONCAT(CONCAT('%',
				#{coupongroup_title,jdbcType=VARCHAR}), '%')
			</if>
			<if test="issued_type != null &amp;&amp; issued_type != ''">
				and FIND_IN_SET(#{coupongroup_no,jdbcType=VARCHAR},issued_type)>0
			</if>
		</trim>
	</select>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from `sys_coupon_group`
		where coupongroup_id = #{coupongroup_id,jdbcType=VARCHAR}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from `sys_coupon_group` 
		where coupongroup_id = #{coupongroup_id,jdbcType=VARCHAR}
	</delete>
	<insert id="insert" parameterType="com.sysongy.poms.coupon.model.CouponGroup">
		insert into `sys_coupon_group` (coupongroup_id,coupongroup_no, coupongroup_title, coupongroup_detail, coupon_ids, coupon_nos,
		issued_type,start_rated_time, end_rated_time,consume_money,consume_times,
		create_person_id,create_time,lastmodify_person_id,lastmodify_time
		)
		values (#{coupongroup_id,jdbcType=VARCHAR}, #{coupongroup_no,jdbcType=VARCHAR}, #{coupongroup_title,jdbcType=VARCHAR},#{coupongroup_detail,jdbcType=VARCHAR},
		#{coupon_ids,jdbcType=VARCHAR},#{coupon_nos,jdbcType=VARCHAR}, #{issued_type,jdbcType=VARCHAR}, #{start_rated_time,jdbcType=TIMESTAMP},
		 #{end_rated_time,jdbcType=TIMESTAMP},#{consume_money,jdbcType=VARCHAR},#{consume_times,jdbcType=VARCHAR},
		#{create_person_id,jdbcType=VARCHAR},#{create_time,jdbcType=TIMESTAMP},#{lastmodify_person_id,jdbcType=VARCHAR},#{lastmodify_time,jdbcType=TIMESTAMP}
		)
	</insert>
	<update id="updateByPrimaryKey" parameterType="com.sysongy.poms.coupon.model.CouponGroup">
		update sys_coupon
		set coupongroup_title = #{coupongroup_title,jdbcType=VARCHAR},
		coupongroup_detail = #{coupongroup_detail,jdbcType=VARCHAR},
		coupon_ids = #{coupon_ids,jdbcType=VARCHAR},
		coupon_nos = #{coupon_nos,jdbcType=VARCHAR},
		issued_type = #{issued_type,jdbcType=VARCHAR},
		start_rated_time=#{start_rated_time,jdbcType=TIMESTAMP},
		end_rated_time=#{end_rated_time,jdbcType=TIMESTAMP},
		consume_money = #{consume_money,jdbcType=VARCHAR},
		consume_times = #{consume_times,jdbcType=VARCHAR},
		lastmodify_person_id=#{lastmodify_person_id,jdbcType=VARCHAR},
		lastmodify_time=#{lastmodify_time,jdbcType=TIMESTAMP}
		where coupongroup_id = #{coupongroup_id,jdbcType=VARCHAR}
	</update>
</mapper>