<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sysongy.poms.driver.dao.PsCashModeMapper" >
  <resultMap id="BaseResultMap" type="com.sysongy.poms.driver.model.PsCashMode" >
    <id column="ps_cash_mode_id" property="psCashModeId" jdbcType="VARCHAR" />
    <result column="mode_name" property="modeName" jdbcType="VARCHAR" />
    <result column="created_date" property="createdDate" jdbcType="TIMESTAMP" />
    <result column="updated_date" property="updatedDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    ps_cash_mode_id, mode_name, created_date, updated_date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from ps_cash_mode
    where ps_cash_mode_id = #{psCashModeId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from ps_cash_mode
    where ps_cash_mode_id = #{psCashModeId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.sysongy.poms.driver.model.PsCashMode" >
    insert into ps_cash_mode (ps_cash_mode_id, mode_name, created_date, 
      updated_date)
    values (#{psCashModeId,jdbcType=VARCHAR}, #{modeName,jdbcType=VARCHAR}, #{createdDate,jdbcType=TIMESTAMP}, 
      #{updatedDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.sysongy.poms.driver.model.PsCashMode" >
    insert into ps_cash_mode
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="psCashModeId != null" >
        ps_cash_mode_id,
      </if>
      <if test="modeName != null" >
        mode_name,
      </if>
      <if test="createdDate != null" >
        created_date,
      </if>
      <if test="updatedDate != null" >
        updated_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="psCashModeId != null" >
        #{psCashModeId,jdbcType=VARCHAR},
      </if>
      <if test="modeName != null" >
        #{modeName,jdbcType=VARCHAR},
      </if>
      <if test="createdDate != null" >
        #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedDate != null" >
        #{updatedDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sysongy.poms.driver.model.PsCashMode" >
    update ps_cash_mode
    <set >
      <if test="modeName != null" >
        mode_name = #{modeName,jdbcType=VARCHAR},
      </if>
      <if test="createdDate != null" >
        created_date = #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedDate != null" >
        updated_date = #{updatedDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ps_cash_mode_id = #{psCashModeId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sysongy.poms.driver.model.PsCashMode" >
    update ps_cash_mode
    set mode_name = #{modeName,jdbcType=VARCHAR},
      created_date = #{createdDate,jdbcType=TIMESTAMP},
      updated_date = #{updatedDate,jdbcType=TIMESTAMP}
    where ps_cash_mode_id = #{psCashModeId,jdbcType=VARCHAR}
  </update>
</mapper>