<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sysongy.poms.evaluate.dao.BossOverallEvaluationMapper" >
  <resultMap id="BaseResultMap" type="com.sysongy.poms.evaluate.model.BossOverallEvaluation" >
    <id column="boss_overall_evaluation_id" property="bossOverallEvaluationId" jdbcType="VARCHAR" />
    <result column="height_level" property="heightLevel" jdbcType="INTEGER" />
    <result column="weight_level" property="weightLevel" jdbcType="INTEGER" />
    <result column="bmi_level" property="bmiLevel" jdbcType="INTEGER" />
    <result column="evaluate" property="evaluate" jdbcType="VARCHAR" />
    <result column="suggest" property="suggest" jdbcType="VARCHAR" />
    <result column="sort" property="sort" jdbcType="INTEGER" />
    <result column="is_deleted" property="isDeleted" jdbcType="INTEGER" />
    <result column="created_date" property="createdDate" jdbcType="TIMESTAMP" />
    <result column="modified_date" property="modifiedDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    boss_overall_evaluation_id, height_level, weight_level, bmi_level, evaluate, suggest, sort,
    is_deleted, created_date, modified_date
  </sql>
  <select id="queryBossOverallEvaluationList" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from boss_overall_evaluation order by sort asc
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from boss_overall_evaluation
    where boss_overall_evaluation_id = #{bossOverallEvaluationId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.sysongy.poms.evaluate.model.BossOverallEvaluation" >
    insert into boss_overall_evaluation (boss_overall_evaluation_id, height_level, 
      weight_level, bmi_level, evaluate, 
      suggest, sort, is_deleted, created_date, 
      modified_date)
    values (#{bossOverallEvaluationId,jdbcType=VARCHAR}, #{heightLevel,jdbcType=INTEGER}, 
      #{weightLevel,jdbcType=INTEGER}, #{bmiLevel,jdbcType=INTEGER}, #{evaluate,jdbcType=VARCHAR}, 
      #{suggest,jdbcType=VARCHAR},#{sort,jdbcType=INTEGER}, #{isDeleted,jdbcType=INTEGER}, #{createdDate,jdbcType=TIMESTAMP}, 
      #{modifiedDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.sysongy.poms.evaluate.model.BossOverallEvaluation" >
    insert into boss_overall_evaluation
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="bossOverallEvaluationId != null" >
        boss_overall_evaluation_id,
      </if>
      <if test="heightLevel != null" >
        height_level,
      </if>
      <if test="weightLevel != null" >
        weight_level,
      </if>
      <if test="bmiLevel != null" >
        bmi_level,
      </if>
      <if test="evaluate != null" >
        evaluate,
      </if>
      <if test="suggest != null" >
        suggest,
      </if>
      <if test="sort != null" >
        sort,
      </if>
      <if test="isDeleted != null" >
        is_deleted,
      </if>
      <if test="createdDate != null" >
        created_date,
      </if>
      <if test="modifiedDate != null" >
        modified_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="bossOverallEvaluationId != null" >
        #{bossOverallEvaluationId,jdbcType=VARCHAR},
      </if>
      <if test="heightLevel != null" >
        #{heightLevel,jdbcType=INTEGER},
      </if>
      <if test="weightLevel != null" >
        #{weightLevel,jdbcType=INTEGER},
      </if>
      <if test="bmiLevel != null" >
        #{bmiLevel,jdbcType=INTEGER},
      </if>
      <if test="evaluate != null" >
        #{evaluate,jdbcType=VARCHAR},
      </if>
      <if test="suggest != null" >
        #{suggest,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=INTEGER},
      </if>
      <if test="createdDate != null" >
        #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedDate != null" >
        #{modifiedDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateBossOverallEvaluationById" parameterType="com.sysongy.poms.evaluate.model.BossOverallEvaluation" >
    update boss_overall_evaluation
    <set >
      <if test="heightLevel != null" >
        height_level = #{heightLevel,jdbcType=INTEGER},
      </if>
      <if test="weightLevel != null" >
        weight_level = #{weightLevel,jdbcType=INTEGER},
      </if>
      <if test="bmiLevel != null" >
        bmi_level = #{bmiLevel,jdbcType=INTEGER},
      </if>
      <if test="evaluate != null" >
        evaluate = #{evaluate,jdbcType=VARCHAR},
      </if>
      <if test="suggest != null" >
        suggest = #{suggest,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="isDeleted != null" >
        is_deleted = #{isDeleted,jdbcType=INTEGER},
      </if>
      <if test="createdDate != null" >
        created_date = #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedDate != null" >
        modified_date = #{modifiedDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where boss_overall_evaluation_id = #{bossOverallEvaluationId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sysongy.poms.evaluate.model.BossOverallEvaluation" >
    update boss_overall_evaluation
    set height_level = #{heightLevel,jdbcType=INTEGER},
      weight_level = #{weightLevel,jdbcType=INTEGER},
      bmi_level = #{bmiLevel,jdbcType=INTEGER},
      evaluate = #{evaluate,jdbcType=VARCHAR},
      suggest = #{suggest,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=INTEGER},
      is_deleted = #{isDeleted,jdbcType=INTEGER},
      created_date = #{createdDate,jdbcType=TIMESTAMP},
      modified_date = #{modifiedDate,jdbcType=TIMESTAMP}
    where boss_overall_evaluation_id = #{bossOverallEvaluationId,jdbcType=VARCHAR}
  </update>
</mapper>