<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sysongy.poms.evaluate.dao.BossItemEvaluationMapper" >
  <resultMap id="BaseResultMap" type="com.sysongy.poms.evaluate.model.BossItemEvaluation" >
    <id column="boss_item_evaluation_id" property="bossItemEvaluationId" jdbcType="VARCHAR" />
    <result column="item_type" property="itemType" jdbcType="INTEGER" />
    <result column="standard" property="standard" jdbcType="VARCHAR" />
    <result column="level" property="level" jdbcType="INTEGER" />
    <result column="evaluate" property="evaluate" jdbcType="VARCHAR" />
    <result column="sort" property="sort" jdbcType="INTEGER" />
    <result column="is_deleted" property="isDeleted" jdbcType="INTEGER" />
    <result column="created_date" property="createdDate" jdbcType="TIMESTAMP" />
    <result column="modified_date" property="modifiedDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    boss_item_evaluation_id, item_type, standard, level, evaluate,sort, is_deleted, created_date, 
    modified_date
  </sql>
  <select id="queryBossItemEvaluationList" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from boss_item_evaluation where item_type = #{0} order by sort asc
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from boss_item_evaluation
    where boss_item_evaluation_id = #{bossItemEvaluationId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.sysongy.poms.evaluate.model.BossItemEvaluation" >
    insert into boss_item_evaluation (boss_item_evaluation_id, item_type, standard, 
      level, evaluate,sort, is_deleted, 
      created_date, modified_date)
    values (#{bossItemEvaluationId,jdbcType=VARCHAR}, #{itemType,jdbcType=INTEGER}, #{standard,jdbcType=VARCHAR}, 
      #{level,jdbcType=INTEGER}, #{evaluate,jdbcType=VARCHAR},#{sort,jdbcType=INTEGER}, #{isDeleted,jdbcType=INTEGER}, 
      #{createdDate,jdbcType=TIMESTAMP}, #{modifiedDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.sysongy.poms.evaluate.model.BossItemEvaluation" >
    insert into boss_item_evaluation
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="bossItemEvaluationId != null" >
        boss_item_evaluation_id,
      </if>
      <if test="itemType != null" >
        item_type,
      </if>
      <if test="standard != null" >
        standard,
      </if>
      <if test="level != null" >
        level,
      </if>
      <if test="evaluate != null" >
        evaluate,
      </if>
      <if test="sort != null" >
        sort,
      </if>
      <if test="isDeleted != null" >
        is_deleted,
      </if>
      <if test="createdDate != null" >
        created_date,
      </if>
      <if test="modifiedDate != null" >
        modified_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="bossItemEvaluationId != null" >
        #{bossItemEvaluationId,jdbcType=VARCHAR},
      </if>
      <if test="itemType != null" >
        #{itemType,jdbcType=INTEGER},
      </if>
      <if test="standard != null" >
        #{standard,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        #{level,jdbcType=INTEGER},
      </if>
      <if test="evaluate != null" >
        #{evaluate,jdbcType=VARCHAR},
      </if>
       <if test="sort != null" >
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=INTEGER},
      </if>
      <if test="createdDate != null" >
        #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedDate != null" >
        #{modifiedDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateBossItemEvaluationById" parameterType="com.sysongy.poms.evaluate.model.BossItemEvaluation" >
    update boss_item_evaluation
    <set >
      <if test="itemType != null" >
        item_type = #{itemType,jdbcType=INTEGER},
      </if>
      <if test="standard != null" >
        standard = #{standard,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        level = #{level,jdbcType=INTEGER},
      </if>
      <if test="evaluate != null" >
        evaluate = #{evaluate,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="isDeleted != null" >
        is_deleted = #{isDeleted,jdbcType=INTEGER},
      </if>
      <if test="createdDate != null" >
        created_date = #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedDate != null" >
        modified_date = #{modifiedDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where boss_item_evaluation_id = #{bossItemEvaluationId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sysongy.poms.evaluate.model.BossItemEvaluation" >
    update boss_item_evaluation
    set item_type = #{itemType,jdbcType=INTEGER},
      standard = #{standard,jdbcType=VARCHAR},
      level = #{level,jdbcType=INTEGER},
      evaluate = #{evaluate,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=INTEGER},
      is_deleted = #{isDeleted,jdbcType=INTEGER},
      created_date = #{createdDate,jdbcType=TIMESTAMP},
      modified_date = #{modifiedDate,jdbcType=TIMESTAMP}
    where boss_item_evaluation_id = #{bossItemEvaluationId,jdbcType=VARCHAR}
  </update>
</mapper>