<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sysongy.poms.mobile.dao.MbAppVersionMapper" >
  <resultMap id="BaseResultMap" type="com.sysongy.poms.mobile.model.MbAppVersion" >
    <id column="app_version_id" property="appVersionId" jdbcType="VARCHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="version" property="version" jdbcType="VARCHAR" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="down_count" property="downCount" jdbcType="INTEGER" />
    <result column="is_publish" property="isPublish" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="created_date" property="createdDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    app_version_id, url, version, code, is_publish, remark, created_date ,status, down_count
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from mb_app_version
    where app_version_id = #{appVersionId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from mb_app_version
    where app_version_id = #{appVersionId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.sysongy.poms.mobile.model.MbAppVersion" >
    insert into mb_app_version (app_version_id, url, version, 
      code, is_publish, remark, 
      created_date)
    values (#{appVersionId,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, #{version,jdbcType=VARCHAR}, 
      #{code,jdbcType=VARCHAR}, #{isPublish,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{createdDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.sysongy.poms.mobile.model.MbAppVersion" >
    insert into mb_app_version
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="appVersionId != null" >
        app_version_id,
      </if>
      <if test="url != null" >
        url,
      </if>
      <if test="version != null" >
        version,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="isPublish != null" >
        is_publish,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="createdDate != null" >
        created_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="appVersionId != null" >
        #{appVersionId,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="version != null" >
        #{version,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="isPublish != null" >
        #{isPublish,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createdDate != null" >
        #{createdDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sysongy.poms.mobile.model.MbAppVersion" >
    update mb_app_version

    where app_version_id = #{appVersionId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sysongy.poms.mobile.model.MbAppVersion" >
    update mb_app_version
    set url = #{url,jdbcType=VARCHAR},
      version = #{version,jdbcType=VARCHAR},
      code = #{code,jdbcType=VARCHAR},
      is_publish = #{isPublish,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      created_date = #{createdDate,jdbcType=TIMESTAMP}
    where app_version_id = #{appVersionId,jdbcType=VARCHAR}
  </update>
  <!--更新APP下载量-->
  <update id="updateDownCount" >
    update mb_app_version set down_count = down_count + 1
    where status = 2
  </update>
</mapper>