<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sysongy.poms.usysparam.dao.UsysparamMapper" >
  <resultMap id="BaseResultMap" type="com.sysongy.poms.usysparam.model.Usysparam" >
    <result column="gcode" property="gcode" jdbcType="VARCHAR" />
    <result column="mcode" property="mcode" jdbcType="VARCHAR" />
    <result column="mname" property="mname" jdbcType="VARCHAR" />
    <result column="data" property="data" jdbcType="VARCHAR" />
    <result column="scode" property="scode" jdbcType="VARCHAR" />
  </resultMap>

  <resultMap id="MapResultMap" type="java.util.Map" >
    <result column="gcode" property="gcode" jdbcType="VARCHAR" />
    <result column="mcode" property="mcode" jdbcType="VARCHAR" />
    <result column="mname" property="mname" jdbcType="VARCHAR" />
    <result column="data" property="data" jdbcType="VARCHAR" />
    <result column="scode" property="scode" jdbcType="VARCHAR" />
  </resultMap>

    <resultMap id="BaseResultMapForCard" type="com.sysongy.poms.usysparam.model.Usysparam" >
        <result column="gcode" property="gcode" jdbcType="VARCHAR" />
        <result column="mcode" property="mcode" jdbcType="VARCHAR" />
        <result column="mname" property="mname" jdbcType="VARCHAR" />
        <result column="data" property="data" jdbcType="VARCHAR" />
        <result column="scode" property="scode" jdbcType="VARCHAR" />
        <collection property="usysparams" ofType="com.sysongy.poms.usysparam.model.Usysparam"
                    column="mcode" select="com.sysongy.poms.usysparam.dao.UsysparamMapper.queryChildRenCardTypeByMcode" />
    </resultMap>
  <select id="queryUsysparamByCode" resultMap="BaseResultMap"  parameterType="com.sysongy.poms.usysparam.model.Usysparam" >
    select * from usysparam where gcode = #{0} and mcode = #{1}
  </select>

    <select id="queryUsysparamMapByGcode" resultMap="MapResultMap"  parameterType="java.lang.String" >
        select * from usysparam where gcode = #{0}
    </select>

  <select id="selectDefault" resultMap="BaseResultMap"  parameterType="com.sysongy.poms.usysparam.model.Usysparam" >
  	 select * from usysparam u where 1=1
    <trim>
      <if test="gcode != null &amp;&amp; gcode != ''" >
        and gcode = #{gcode,jdbcType=VARCHAR}
      </if>
      <if test="mcode != null &amp;&amp; mcode != ''" >
        and mcode = #{mcode,jdbcType=VARCHAR}
      </if>
      <if test="mname != null &amp;&amp; mname != ''" >
        and mname = #{mname,jdbcType=VARCHAR}
      </if>
      <if test="data != null &amp;&amp; data != ''">
        and data = #{data,jdbcType=VARCHAR}
      </if>
    </trim>
      and (scode is null or scode='')
  </select>
  
  <select id="selectAll" resultMap="BaseResultMap"  parameterType="com.sysongy.poms.usysparam.model.Usysparam" >
  	 select * from usysparam u where 1=1
    <trim>
      <if test="gcode != null &amp;&amp; gcode != ''" >
        and gcode like concat(concat('%',#{gcode,jdbcType=VARCHAR}),'%')
      </if>
      <if test="mcode != null &amp;&amp; mcode != ''" >
        and mcode like concat(concat('%',#{mcode,jdbcType=VARCHAR}),'%')
      </if>
      <if test="mname != null &amp;&amp; mname != ''" >
        and mname like concat(concat('%',#{mname,jdbcType=VARCHAR}),'%')
      </if>
    </trim>
  </select>
  
  <insert id="insert" parameterType="com.sysongy.poms.usysparam.model.Usysparam" >
    insert into usysparam (gcode, mcode, mname, 
      data, scode)
    values (#{gcode,jdbcType=VARCHAR}, #{mcode,jdbcType=VARCHAR}, #{mname,jdbcType=VARCHAR}, 
      #{data,jdbcType=VARCHAR}, #{scode,jdbcType=VARCHAR})
  </insert>
  
 <update id="updateByPrimaryKey" parameterType="com.sysongy.poms.usysparam.model.Usysparam" >
    update usysparam
    set mname = #{mname,jdbcType=VARCHAR},
      data = #{data,jdbcType=VARCHAR},
      scode = #{scode,jdbcType=VARCHAR}
    where gcode = #{gcode,jdbcType=VARCHAR} and mcode = #{mcode,jdbcType=VARCHAR}
  </update>
  
  <delete id="delete" parameterType="com.sysongy.poms.usysparam.model.Usysparam" >
    delete from usysparam where gcode = #{gcode,jdbcType=VARCHAR} and mcode = #{mcode,jdbcType=VARCHAR}
  </delete>

  <select id="queryUsysparamByGcode" resultMap="BaseResultMapForCard"  parameterType="com.sysongy.poms.usysparam.model.Usysparam" >
    select * from usysparam where gcode = #{0} and (scode is null or scode='') order BY  mcode ASC
  </select>

    <select id="queryUsysparamChildByGcode" resultMap="BaseResultMap"  parameterType="com.sysongy.poms.usysparam.model.Usysparam" >
        select * from usysparam where gcode = #{0}
    </select>

  <select id="queryCardTypeByMcode" resultMap="BaseResultMapForCard"  parameterType="com.sysongy.poms.usysparam.model.Usysparam" >
    select * from usysparam where gcode = 'CARDTYPE' and mcode = #{mcode,jdbcType=VARCHAR}
  </select>

   <select id="queryCardTypeByMcodeAndScode" resultMap="BaseResultMapForCard"  parameterType="com.sysongy.poms.usysparam.model.Usysparam" >
      select * from usysparam where gcode = 'CARDTYPE' and scode is not null
   </select>

    <select id="queryCardStatusByMcode" resultMap="BaseResultMap"  parameterType="com.sysongy.poms.usysparam.model.Usysparam" >
        select * from usysparam where gcode = 'CARDSTATUS' and mcode = #{mcode,jdbcType=VARCHAR}
    </select>

    <select id="queryCheckStatusByMcode" resultMap="BaseResultMap"  parameterType="com.sysongy.poms.usysparam.model.Usysparam" >
        select * from usysparam where gcode = 'CHECKED_STATUS' and mcode = #{mcode,jdbcType=VARCHAR}
    </select>

    <select id="queryFuelTypeByMcode" resultMap="BaseResultMap"  parameterType="com.sysongy.poms.usysparam.model.Usysparam" >
        select * from usysparam where gcode = 'FUEL_TYPE' and mcode = #{mcode,jdbcType=VARCHAR}
    </select>

    <select id="queryChildRenCardTypeByMcode" resultMap="BaseResultMapForCard"  parameterType="com.sysongy.poms.usysparam.model.Usysparam" >
        select * from usysparam where gcode = 'CARDTYPE' and scode = #{mcode,jdbcType=VARCHAR}
    </select>

    <select id="queryProductPriceTypeByMcode" resultMap="BaseResultMap"  parameterType="com.sysongy.poms.usysparam.model.Usysparam" >
        select * from usysparam where gcode = 'PRODUCTPRICETYPE' and scode = #{mcode,jdbcType=VARCHAR}
    </select>

    <select id="queryGasUnitTypeByMcode" resultMap="BaseResultMap"  parameterType="com.sysongy.poms.usysparam.model.Usysparam" >
        select * from usysparam where gcode = 'GAS_UNIT' and mcode = #{mcode,jdbcType=VARCHAR}
    </select>

    <select id="queryProductStatusByMcode" resultMap="BaseResultMap"  parameterType="com.sysongy.poms.usysparam.model.Usysparam" >
        select * from usysparam where gcode = 'PRODUCT_PRICE_STATUS' and mcode = #{mcode,jdbcType=VARCHAR}
    </select>

    <select id="queryAccountStatus" resultMap="BaseResultMap"  parameterType="com.sysongy.poms.usysparam.model.Usysparam" >
        select * from usysparam where gcode = 'ACCOUNT_STATUS' and mcode = #{mcode,jdbcType=VARCHAR}
    </select>

    <select id="queryCashBackByMcode" resultMap="BaseResultMap"  parameterType="com.sysongy.poms.usysparam.model.Usysparam" >
        select * from usysparam where gcode = 'CASHBACK' and mcode = #{mcode,jdbcType=VARCHAR}
    </select>

    <select id="queryOrderTypeByMcode" resultMap="BaseResultMap"  parameterType="com.sysongy.poms.usysparam.model.Usysparam" >
        select * from usysparam where gcode = 'ORDER_TYPE' and mcode = #{mcode,jdbcType=VARCHAR}
    </select>

    <select id="queryOrderStatusByMcode" resultMap="BaseResultMap"  parameterType="java.lang.Integer" >
        select * from usysparam where gcode = 'ORDER_STATUS' and mcode = #{0}
    </select>

    <select id="queryOrderPropertyByMcode" resultMap="BaseResultMap"  parameterType="com.sysongy.poms.usysparam.model.Usysparam" >
      select * from usysparam where gcode = 'CARDPROPERTY' and mcode = #{mcode,jdbcType=VARCHAR}
    </select>

    <select id="queryDealTypeByMcode" resultMap="BaseResultMap"  parameterType="com.sysongy.poms.usysparam.model.Usysparam" >
        select * from usysparam where gcode = 'DEAL_TYPE' and mcode = #{mcode,jdbcType=VARCHAR}
    </select>
    
    <select id="queryUsysparamByGcodeAndMname" resultMap="BaseResultMap"  parameterType="java.lang.String" >
        select * from usysparam where gcode = #{0} and mname = #{1}
    </select>

</mapper>