/*comment*/
html { font-family: sans-serif; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; min-height: 100%; background: #efefef url(../images/webapp_bg.jpg) left bottom repeat-x;}
html.white {background: #fff;}
body { margin: 0; font-family: '\5FAE\8F6F\96C5\9ED1'; font-size: 14px; line-height: 1.42857143; color: #333; }
article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary { display: block; }
audio, canvas, progress, video { display: inline-block; }
audio:not([controls]) { display: none; height: 0; }
progress { vertical-align: baseline; }
template, [hidden] { display: none; }
a { background-color: transparent; -webkit-text-decoration-skip: objects; text-decoration: none; color: #333;}
a:active, a:hover { outline-width: 0; }
abbr[title] { border-bottom: none; text-decoration: underline; text-decoration: underline dotted; }
b, strong { font-weight: inherit; }
b, strong { font-weight: bolder; }
dfn { font-style: italic; }
h1 { font-size: 2em; margin: 0.67em 0; }
mark { background-color: #ff0; color: #000; }
small { font-size: 80%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sub { bottom: -0.25em; }
sup { top: -0.5em; }
img { border-style: none; }
svg:not(:root) { overflow: hidden; }
code, kbd, pre, samp { font-family: monospace, monospace; font-size: 1em; }
figure { margin: 1em 40px; }
hr { box-sizing: content-box; height: 0; overflow: visible; }
button, input, select, textarea { font: inherit; margin: 0; }
optgroup { font-weight: bold; }
button, input { overflow: visible; }
button, select { text-transform: none; }
button, html [type="button"], [type="reset"], [type="submit"] { -webkit-appearance: button; }
button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner { border-style: none; padding: 0; }
button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring { outline: 1px dotted ButtonText; }
fieldset { border: 1px solid #c0c0c0; margin: 0 2px; padding: 0.35em 0.625em 0.75em; }
legend { box-sizing: border-box; color: inherit; display: table; max-width: 100%; padding: 0; white-space: normal; }
textarea { overflow: auto; }
[type="checkbox"], [type="radio"] { box-sizing: border-box; padding: 0; }
[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button { height: auto; }
[type="search"] { -webkit-appearance: textfield; outline-offset: -2px; }
[type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
::-webkit-input-placeholder { color: inherit; opacity: 0.54; }
::-webkit-file-upload-button { -webkit-appearance: button; font: inherit; }

.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
  display: table;
  content: " ";
}
.clearfix:after,
.row:after {
  clear: both;
}

.contant {
	min-width: 300px;
	max-width: 1004px;
	margin: 0 auto;
}

.more-info{display: none;}
.more-info.show{display: block;}

.activ-detail-hd {
	border-bottom: 1px solid #ddd;
}
.activ-detail-hd h2 {
	padding: 10px 15px;
	margin: 0;
	font-weight: normal;
}
.activ-detail-hd .date {
	padding: 0 15px 10px;
	font-size: 12px;
	color: #666;
}
.activ-detail-hd .date span {
	margin-right: 10px;
}
.activ-detail-bd {
	padding: 10px 15px;
	line-height: 2em;
	background-color: #fff;
}
.activ-detail-bd img,
.img-responsive {
	display: block;
	max-width: 100%;
}
.user-agreement-hd {
	text-align: center;
	font-weight: bold;
	padding-top: 10px;
	background-color: #fff;
}
.pdp {
	background-color: #efefef;
}
.pdp.product {
	margin-top: 8px;
}
.pdp-title {
	padding: 10px 15px;
}
.pdp-title .type {
	color: #999;
	float: right;
}
.pdp-title .name {
	font-size: 16px;
	font-weight: 600;
}
.pdp-item {
	margin-bottom: 8px;
	background-color: #fff;
	border: 1px solid #e0e0e0;
	border-width: 1px 0;
	padding: 8px 0;
}
.pdp-item-title {
	border-bottom: 1px solid #e0e0e0;
	margin: 5px 15px;
	padding-bottom: 10px;
	font-size: 16px;
}
.pdp-item-content {
	padding-left: 20px;
}
.row {
	padding: 8px 15px;
}
.address-end {
	border-top: 1px solid #eee;
}
.col-value {
	float: left;
}
.col-key {
	margin-left: 70px;
}
.product-explain {
	color: #999;
}
.station-special {
	margin: 0;
	padding: 0;
}
.station-special li {
	padding: 5px 15px 5px 35px;
	color: #f60;
	list-style: none;
}
.station-special li:not(:first-child) {
	display: none;
}
.station-special.more li:not(:first-child) {
	display: block;
}
.station-special-more {
	padding: 0 15px 10px;
}
.station-special-more .btn,
.btn-app-primary {
	display: block;
	background-color: #669e31;
	padding: 10px 0;
	color: #fff;
	border-radius: 3px;
	text-align: center;
	border: 0;
	width: 100%;
}
.station-icon {
	float: right;
	font-size: 20px;
	color: #ccc;
    margin-top: -5px;
}
.bonus-rules-hd {
	padding: 20px 23px 0 23px;
	font-weight: bold;
}
.bonus-rules-bd {
	padding-right: 23px;
}
.bonus-rules-bd li {
	padding-top: 4px;
	padding-bottom: 4px;
}
.share {
	max-width: 768px;
	margin: 0 auto;
	padding: 15px;
}
.share-hd {
	background: url(../images/yqmfx.png) center top no-repeat;
	background-size: 100px;
	padding: 120px 0 50px 0;
	margin-top: 20px;
}
.share-hd .info {
	font-size: 16px;
}
.share-hd .info p {
	text-align: center;
	margin: 0;
	padding-bottom: 8px;
}
.share-hd .subinfo {
	color: #666;
	padding-top: 10px;
}
.share-invite-code {
	text-align: center;
	padding-bottom: 15px;
	font-size: 16px;
}
.share-invite-code .label {
	color: #669e31;
}
.share-sendto-sms {
	font-size: 16px;
}
.share-sendto-sns {
	text-align: center;
}
.share-sendto-sns h4 {
	font-weight: normal;
	font-size: 16px;
	margin: 40px 0 10px 0;
}
.share-sendto-sns ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
.share-sendto-sns ul li {
	width: 25%;
	float: left;
}
.share-sendto-sns .icon{
	display: block;
	font-size: 30px;
	color: #666;
}
.share-sendto-sns .name{
	font-size: 12px;
}
.df-item {
	position: relative;
	margin-bottom: 10px;
}
.txt {
	border: 1px solid #cddeba;
	background-color: #fff;
	padding: 10px 3%;
	width: 94%;
	border-radius: 3px;
	outline: none;
}
.txt:focus {
	border-color: #afd78e;
	background-color: #e2fccc;
}
.get-code-info {
	position: absolute;
	right: -1px;
	top: 1px;
	border: 1px solid #cddeba;
	border-width: 0 0 0 1px;
	padding: 10px 3%;
	background: none;
}
.df-item-btn {
	padding-top: 20px;
	font-size: 16px;
}
form label.error {
	display: block;
	color: #f00;
	padding: 2px 0 0 3%;
}
.traffic-detail-hd {
	color: #659f31;
	font-size: 16px;
	text-align: center;
	border-bottom: 1px solid #ccc;
	padding-bottom: 10px;
}
.traffic-detail-bd {
	padding: 5px 10px;
}
.traffic-detail-bd .date {
	color: #999;
}
.traffic-detail-bd .info {
	padding: 10px 0;
}
.traffic-detail-bd .img img {
	margin: 0 auto 10px auto;
}
.download-app-hd {
	background: url(../images/logo1.png) center top no-repeat;
	background-size: 120px 120px; 
	margin-top: 20px;
	padding: 160px 0 50px 0;
	text-align: center;
	font-size: 16px;
}
.download-app-bd .btn-app-primary {
	font-size: 16px;
}
.download-app-fd {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 888;
	margin: 0;
	padding: 10px 0;
	animation: tipmove 1.5s infinite ease-in-out;
}
@keyframes tipmove {
	0% {
		bottom: 0;
		opacity: 0.5;
	}
	50% {
		bottom: 2px;
		opacity: 1;
	}
	100% {
		bottom: 2px;
		opacity: 0.8;
	}
}
.download-app-fd li.active {
	display: none;
}
.download-app-help {
	display: none;
}
.icon-arrow-down,
.icon-arrow-up {
	display: block;
	width: 26px;
	height: 16px;
	background: url(../images/icon-arrow.png) 0 0 no-repeat;
	margin: 0 auto;
}
.icon-arrow-up {
	background-position: 0 -16px;
}
.icon-download-help {
	width: 431px;
	height: 202px;
	background: url(../images/bg.png) -214px -143px no-repeat;
	background-size: 300px;
}
.transparent  {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: 0.7;
}
.download-app-help .img {
	width: 300px;
	position: absolute;
	top: 0;
	right: 15px;
	z-index: 2;
}
.app-intro-form .item {
	padding-bottom: 20px;
}
.app-intro-form button {
	margin-top: 20px;
}
.app-intro-hd {
	border-bottom: 1px solid #fff;
	padding-bottom: 10px;
	margin-bottom: 10px;
}
.app-intro-bd {
	padding-bottom: 20px;
}