<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sysongy.poms.crm.dao.CrmHelpMapper" >
  <resultMap id="BaseResultMap" type="com.sysongy.poms.crm.model.CrmHelp" >
    <id column="crm_help_id" property="crmHelpId" jdbcType="VARCHAR" />
    <result column="crm_help_type_id" property="crmHelpTypeId" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="question" property="question" jdbcType="VARCHAR" />
    <result column="issuer" property="issuer" jdbcType="VARCHAR" />
    <result column="answer" property="answer" jdbcType="VARCHAR" />
    <result column="imgs" property="imgs" jdbcType="VARCHAR" />
    <result column="is_notice" property="isNotice" jdbcType="INTEGER" />
    <result column="is_deleted" property="isDeleted" jdbcType="INTEGER" />
    <result column="created_date" property="createdDate" jdbcType="TIMESTAMP" />
    <result column="updated_date" property="updatedDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="MapResultMap" type="java.util.Map" >
    <id column="crm_help_id" property="crmHelpId" jdbcType="VARCHAR" />
    <result column="crm_help_type_id" property="crmHelpTypeId" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="question" property="question" jdbcType="VARCHAR" />
    <result column="issuer" property="issuer" jdbcType="VARCHAR" />
    <result column="answer" property="answer" jdbcType="VARCHAR" />
    <result column="imgs" property="imgs" jdbcType="VARCHAR" />
    <result column="is_notice" property="isNotice" jdbcType="INTEGER" />
    <result column="is_deleted" property="isDeleted" jdbcType="INTEGER" />
    <result column="created_date" property="createdDate" jdbcType="TIMESTAMP" />
    <result column="updated_date" property="updatedDate" jdbcType="TIMESTAMP" />
    <result column="title_type" property="titleType" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    crm_help_id,crm_help_type_id, title, question, issuer, answer, imgs, is_notice, is_deleted, created_date, 
    updated_date
  </sql>
  <!--查询问题列表-->
  <select id="queryQuestionListByName" resultMap="BaseResultMap" parameterType="com.sysongy.poms.crm.model.CrmHelp" >
    select
    <include refid="Base_Column_List" />
    from crm_help
    where 1=1
    <trim>
      <if test="crmHelpId != null &amp;&amp; crmHelpId != ''" >
        and crm_help_id = #{crmHelpId,jdbcType=VARCHAR}
      </if>
      <if test="crmHelpTypeId != null &amp;&amp; crmHelpTypeId != ''" >
        and crm_help_type_id = #{crmHelpTypeId,jdbcType=VARCHAR}
      </if>
      <if test="title!= null &amp;&amp; title != ''" >
        and title = #{title,jdbcType=VARCHAR}
      </if>
      <if test="question != null &amp;&amp; question != ''" >
        and question = #{question,jdbcType=VARCHAR}
      </if>
      <if test="issuer != null &amp;&amp; issuer != ''" >
        and issuer = #{issuer,jdbcType=VARCHAR}
      </if>
      <if test="answer != null &amp;&amp; answer != ''" >
        and answer = #{answer,jdbcType=VARCHAR}
      </if>
      <if test="imgs != null &amp;&amp; imgs != ''" >
        and imgs = #{imgs,jdbcType=VARCHAR}
      </if>
      <if test="isNotice != null &amp;&amp; isNotice != ''" >
        and is_notice = #{isNotice,jdbcType=INTEGER}
      </if>
      <if test="isDeleted != null &amp;&amp; isDeleted != ''" >
        and is_deleted = #{isDeleted,jdbcType=INTEGER}
      </if>
    </trim>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from crm_help
    where crm_help_id = #{crmHelpId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from crm_help
    where crm_help_id = #{crmHelpId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.sysongy.poms.crm.model.CrmHelp" >
    insert into crm_help (crm_help_id,crm_help_type_id, title, question, 
      issuer, answer, imgs, 
      is_notice, is_deleted, created_date, 
      updated_date)
    values (#{crmHelpId,jdbcType=VARCHAR},#{crmHelpTypeId,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, #{question,jdbcType=VARCHAR}, 
      #{issuer,jdbcType=VARCHAR}, #{answer,jdbcType=VARCHAR}, #{imgs,jdbcType=VARCHAR}, 
      #{isNotice,jdbcType=INTEGER}, #{isDeleted,jdbcType=INTEGER}, #{createdDate,jdbcType=TIMESTAMP}, 
      #{updatedDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.sysongy.poms.crm.model.CrmHelp" >
    insert into crm_help
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="crmHelpId != null" >
        crm_help_id,
      </if>
      <if test="crmHelpTypeId != null" >
        crm_help_type_id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="question != null" >
        question,
      </if>
      <if test="issuer != null" >
        issuer,
      </if>
      <if test="answer != null" >
        answer,
      </if>
      <if test="imgs != null" >
        imgs,
      </if>
      <if test="isNotice != null" >
        is_notice,
      </if>
      <if test="isDeleted != null" >
        is_deleted,
      </if>
      <if test="createdDate != null" >
        created_date,
      </if>
      <if test="updatedDate != null" >
        updated_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="crmHelpId != null" >
        #{crmHelpId,jdbcType=VARCHAR},
      </if>
      <if test="crmHelpTypeId != null" >
        #{crmHelpTypeId,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="question != null" >
        #{question,jdbcType=VARCHAR},
      </if>
      <if test="issuer != null" >
        #{issuer,jdbcType=VARCHAR},
      </if>
      <if test="answer != null" >
        #{answer,jdbcType=VARCHAR},
      </if>
      <if test="imgs != null" >
        #{imgs,jdbcType=VARCHAR},
      </if>
      <if test="isNotice != null" >
        #{isNotice,jdbcType=INTEGER},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=INTEGER},
      </if>
      <if test="createdDate != null" >
        #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedDate != null" >
        #{updatedDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sysongy.poms.crm.model.CrmHelp" >
    update crm_help
    <set >
      <if test="crmHelpTypeId != null" >
        crm_help_type_id = #{crmHelpTypeId,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="question != null" >
        question = #{question,jdbcType=VARCHAR},
      </if>
      <if test="issuer != null" >
        issuer = #{issuer,jdbcType=VARCHAR},
      </if>
      <if test="answer != null" >
        answer = #{answer,jdbcType=VARCHAR},
      </if>
      <if test="imgs != null" >
        imgs = #{imgs,jdbcType=VARCHAR},
      </if>
      <if test="isNotice != null" >
        is_notice = #{isNotice,jdbcType=INTEGER},
      </if>
      <if test="isDeleted != null" >
        is_deleted = #{isDeleted,jdbcType=INTEGER},
      </if>
      <if test="createdDate != null" >
        created_date = #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedDate != null" >
        updated_date = #{updatedDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where crm_help_id = #{crmHelpId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sysongy.poms.crm.model.CrmHelp" >
    update crm_help
    set crm_help_id = #{crmHelpId,jdbcType=VARCHAR},
    	title = #{title,jdbcType=VARCHAR},
      question = #{question,jdbcType=VARCHAR},
      issuer = #{issuer,jdbcType=VARCHAR},
      answer = #{answer,jdbcType=VARCHAR},
      imgs = #{imgs,jdbcType=VARCHAR},
      is_notice = #{isNotice,jdbcType=INTEGER},
      is_deleted = #{isDeleted,jdbcType=INTEGER},
      created_date = #{createdDate,jdbcType=TIMESTAMP},
      updated_date = #{updatedDate,jdbcType=TIMESTAMP}
    where crm_help_id = #{crmHelpId,jdbcType=VARCHAR}
  </update>
  <!-- 查询问题和内容 -->
  <select id="queryCrmHelp" resultMap="BaseResultMap" parameterType="java.lang.String" >
     select question,answer from crm_help where crm_help_type_id = #{crmHelpTypeId,jdbcType=VARCHAR}
  </select>
  <!-- 查询公告信息 -->
 <select id="queryCrmHelpNoticInfo" resultMap="BaseResultMap" parameterType="java.lang.String" >
      select answer from crm_help where crm_help_id = #{crmHelpId,jdbcType=VARCHAR}
  </select> 
  
  <!-- 回显信息查询 -->
  <select id="queryCrmHelpValue" resultMap="BaseResultMap"  parameterType="java.lang.String">
    select * from crm_help where question = #{question,jdbcType=VARCHAR}
  </select>
  
  <!-- 删除 -->
  <delete id="deleteCrmHelp" parameterType="java.lang.String" >
    delete from crm_help
    where crm_help_id = #{crmHelpId,jdbcType=VARCHAR}
  </delete>
  
  <!-- 更新 -->
  <update id="updateCrmHelp" parameterType="com.sysongy.poms.crm.model.CrmHelp" >
    update crm_help
    <set >
      <if test="crmHelpTypeId != null" >
        crm_help_type_id = #{crmHelpTypeId,jdbcType=VARCHAR},
      </if> 
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="question != null" >
        question = #{question,jdbcType=VARCHAR},
      </if>
      <if test="issuer != null" >
        issuer = #{issuer,jdbcType=VARCHAR},
      </if>
      <if test="answer != null" >
        answer = #{answer,jdbcType=VARCHAR},
      </if>
      <if test="imgs != null" >
        imgs = #{imgs,jdbcType=VARCHAR},
      </if>
      <if test="isNotice != null" >
        is_notice = #{isNotice,jdbcType=INTEGER},
      </if>
      <if test="isDeleted != null" >
        is_deleted = #{isDeleted,jdbcType=INTEGER},
      </if>
      <if test="createdDate != null" >
        created_date = #{createdDate,jdbcType=VARCHAR},
      </if>
      <if test="updatedDate != null" >
        updated_date = #{updatedDate,jdbcType=VARCHAR},
      </if>
    </set>
    where crm_help_id = #{crmHelpId,jdbcType=VARCHAR}
  </update>
  
   <!-- 添加 -->
   <insert id="add" parameterType="com.sysongy.poms.crm.model.CrmHelp" >
    insert into crm_help
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="crmHelpId != null" >
        crm_help_id,
      </if>
      <if test="crmHelpTypeId != null" >
        crm_help_type_id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="question != null" >
        question,
      </if>
      <if test="issuer != null" >
        issuer,
      </if>
      <if test="answer != null" >
        answer,
      </if>
      <if test="imgs != null" >
        imgs,
      </if>
      <if test="isNotice != null" >
        is_notice,
      </if>
      <if test="isDeleted != null" >
        is_deleted,
      </if>
      <if test="createdDate != null" >
        created_date,
      </if>
      <if test="updatedDate != null" >
        updated_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="crmHelpId != null" >
        #{crmHelpId,jdbcType=VARCHAR},
      </if>
      <if test="crmHelpTypeId != null" >
        #{crmHelpTypeId,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="question != null" >
        #{question,jdbcType=VARCHAR},
      </if>
      <if test="issuer != null" >
        #{issuer,jdbcType=VARCHAR},
      </if>
      <if test="answer != null" >
        #{answer,jdbcType=VARCHAR},
      </if>
      <if test="imgs != null" >
        #{imgs,jdbcType=VARCHAR},
      </if>
      <if test="isNotice != null" >
        #{isNotice,jdbcType=INTEGER},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=INTEGER},
      </if>
      <if test="createdDate != null" >
        #{createdDate,jdbcType=VARCHAR},
      </if>
      <if test="updatedDate != null" >
        #{updatedDate,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <!-- 列表查询 -->
   <select id="queryForPage" resultMap="MapResultMap" parameterType="com.sysongy.poms.crm.model.CrmHelp" >
         SELECT 
			  S.*,
			  C.title as title_type
       FROM crm_help AS S LEFT JOIN crm_help_type AS C
       ON S.crm_help_type_id=C.crm_help_type_id
         where 1=1
  	  <if test="crmHelpId != null &amp;&amp; crmHelpId != ''" >
        and S.crm_help_id = #{crmHelpId,jdbcType=VARCHAR}
      </if>
      <if test="crmHelpTypeId != null &amp;&amp; crmHelpTypeId != ''" >
        and S.crm_help_type_id = #{crmHelpTypeId,jdbcType=VARCHAR}
      </if>
      <if test="title!= null &amp;&amp; title != ''" >
        and S.title = #{title,jdbcType=VARCHAR}
      </if>
      <if test="question != null &amp;&amp; question != ''" >
        and S.question = #{question,jdbcType=VARCHAR}
      </if>
      <if test="issuer != null &amp;&amp; issuer != ''" >
        and S.issuer = #{issuer,jdbcType=VARCHAR}
      </if>
      <if test="answer != null &amp;&amp; answer != ''" >
        and S.answer = #{answer,jdbcType=VARCHAR}
      </if>
      <if test="imgs != null &amp;&amp; imgs != ''" >
        and S.imgs = #{imgs,jdbcType=VARCHAR}
      </if>
      <if test="isNotice != null &amp;&amp; isNotice != ''" >
        and S.is_notice = #{isNotice,jdbcType=INTEGER}
      </if>
      <if test="isDeleted != null &amp;&amp; isDeleted != ''" >
        and S.is_deleted = #{isDeleted,jdbcType=INTEGER}
      </if>
      <if test="createdDate != null &amp;&amp; createdDate != ''" >
        and S.created_date = #{createdDate,jdbcType=VARCHAR}
      </if>
      <if test="updatedDate != null &amp;&amp; updatedDate != ''" >
        and S.updated_date = #{updatedDate,jdbcType=VARCHAR}
      </if>
  </select> 
</mapper>