@CHARSET "UTF-8";
.all-hidden{display: none;}
.all-show{display: block;}
.fl-l{float: left;}
.fl-r{float: right;}
.clear{clear:both;}

.panel-title{text-align: center;}

.b-dialog-content{min-height: 300px;}
.b-dialog-hint{font-size: 30px;}
.dialog-font{margin: 20px;}
.red_star{color: f00;}
.dis_none{display: none;}

/* 按钮样式 */
.btn-bottom{margin-bottom: 3px;}
.pad-top-10{padding-top: 7px;}
.mar-right-30{margin-right: 30px;}
.mar-left-15{margin-left: 15px;}
.btn-botton{margin-bottom: 10px;}

/*Add by xiukun*/
body,
h1,h2,h3,h4,h5,h6{font-family: 'Microsoft YaHei';}
label{font-size: 12px;}
.breadcrumbs{display:none;}
.search-types .item {padding-right:20px; display: inline-block; margin-bottom:8px;}
.input-daterange.top input{width:100px;}