@CHARSET "UTF-8";
.all-hidden{display: none;}
.all-show{display: block;}
.fl-l{float: left;}
.fl-r{float: right;}
.clear{clear:both;}

.panel-title{text-align: center;}

.b-dialog-content{min-height: 300px;}
.b-dialog-hint{font-size: 30px;}
.dialog-font{margin: 20px;}
.red_star{color: #f00;}
.dis_none{display: none;}

/* 按钮样式 */
.btn-bottom{margin-bottom: 3px;}
.pad-top-10{padding-top: 7px;}
.mar-right-30{margin-right: 30px;}
.mar-left-15{margin-left: 15px;}
.btn-botton{margin-bottom: 10px;}

/*Add by xiukun*/
body,
h1,h2,h3,h4,h5,h6{font-family: 'Microsoft YaHei';}
.breadcrumbs{display:none;}
.search-types .item {padding-right:20px; display: inline-block; margin-bottom:8px;}
.input-daterange.top input{width:100px;}
.page-header h1{font-weight: normal; font-size: 21px;}
.form-horizontal .form-group.nospace{margin-left: 0; margin-right: 0;}
.file-space{padding: 12px 12px 0 12px;}
.btn-file-space{margin-top: 12px;}
.file-input .btn-file{
    border-width: 4px;
    font-size: 13px;
    padding: 4px 9px;
    line-height: 1.38;
}
.datepicker-noicon .glyphicon-ok:before {
    /*content: "";*/
}
.span-state {
    display: inline-block;
    width: 24px;
}
.option-btn-m{
    margin-right: 6px;
}
.form-horizontal .has-feedback .form-control-feedback {
    right: -16px;
}
.form-horizontal .has-feedback.nospace .form-control-feedback {
    right: -27px;
}
input[type=checkbox].ace.ace-switch.zh + .lbl::before {
    content: "是\a0\a0\a0\a0\a0\a0\a0\a0\a0\a0\a0否";
    text-indent: -16px;
}
input[type=checkbox].ace.ace-switch.zh:checked + .lbl::before {
    content: "是\a0\a0\a0\a0\a0\a0\a0\a0\a0\a0\a0否";
    text-indent: 13px;
}
.table-header {
    display: none;
}
.logo {
    background: url(../images/syongy.png) 0 4px no-repeat;
    padding-left: 25px;
}
#treeDemo {
    overflow-y: scroll;
}

.loading {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 99999;
    font-size: 36px;
}
.gastation-infomation {
    max-width: 1000px;
    margin: 2% auto 0 auto;
}
.gastation-infomation a {
	display: block;
    background-color: #ddd;
    text-align: center;
}
.gastation-infomation img{
	height:160px;
	margin: 0 auto;
	padding: 5px;
}
.gastation-infomation .title {
    border-top: 1px solid #eee;
    padding: 5px 0;
}
.gastation-infomation-items {
	margin-top: 2%;
}
.gastation-infomation-items .item {
    border-bottom: 1px solid #ddd;
    padding: 8px 0;
}
.gastation-infomation-items .value {
    color:#666;
}
.modal-header {
    border-bottom-width: 0;
}
.modal-header .close {
    position: relative;
    z-index: 2;
}
.modal .ace-thumbnails > li {
    border-width: 1px;
    border-color: #ddd;
}
.modal-header .close {
    margin-top: -8px;
}