<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
			http://www.springframework.org/schema/context
			http://www.springframework.org/schema/context/spring-context-4.2.xsd">

	<!--引入配置属性文件 -->
	<context:property-placeholder location="classpath:conf/jdbc.properties" />

	<!--自动扫描含有@Service将其注入为bean -->
	<context:component-scan base-package="com.sysongy.*.*.service" />

	<bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">
		<property name="cacheSeconds" value="0" />
		<property name="synchronizeOnSession" value="true" />
		<property name="messageConverters">
			<list>
				<bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter" />
			</list>
		</property>
		<property name="webBindingInitializer">
			<bean class="com.sysongy.core.interceptors.DateWebBinding" />
		</property>
	</bean>

</beans>