<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sysongy.poms.system.dao.SysCashBackMapper" >
  <resultMap id="BaseResultMap" type="com.sysongy.poms.system.model.SysCashBack" >
  	<id column="sys_cash_back_id" property="sys_cash_back_id" jdbcType="VARCHAR" />
    <result column="sys_cash_back_no" property="sys_cash_back_no" jdbcType="VARCHAR" />
    <result column="threshold_min_value" property="threshold_min_value" jdbcType="VARCHAR" />
    <result column="threshold_max_value" property="threshold_max_value" jdbcType="VARCHAR" />
    <result column="cash_per" property="cash_per" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="level" property="level" jdbcType="VARCHAR" />
    <result column="start_date" property="start_date" jdbcType="TIMESTAMP" />
    <result column="end_date" property="end_date" jdbcType="TIMESTAMP" />
    <result column="created_date" property="created_date" jdbcType="TIMESTAMP" />
    <result column="updated_date" property="updated_date" jdbcType="TIMESTAMP" />
    <association property="sys_cash_back_noInfo" column="sys_cash_back_no"
                 javaType="com.sysongy.poms.usysparam.model.Usysparam"
                 select="com.sysongy.poms.usysparam.dao.UsysparamMapper.queryCashBackByMcode">
    </association>
  </resultMap>
  
  <sql id="Base_Column_List" >
    sys_cash_back_id, sys_cash_back_no, threshold_min_value, threshold_max_value, cash_per, status, 
    level, start_date, end_date, created_date, updated_date
  </sql>

  <sql id="Base_Column_List1" >
    a.sys_cash_back_id, a.sys_cash_back_no as sys_cash_back_no,
    concat(a.threshold_min_value, '&lt;金额≤', a.threshold_max_value) as threshold_min_value, a.threshold_max_value, a.cash_per, a.status,
    a.level, a.start_date, a.end_date, a.created_date, a.updated_date
  </sql>
  
  <select id="findCashBackid" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select sys_cash_back_id from sys_cash_back where sys_cash_back_id like CONCAT(#{sys_cash_back_no,jdbcType=VARCHAR},'%') order by sys_cash_back_id desc limit 1  
  </select>
  
  <select id="gainProp" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select <include refid="Base_Column_List" />
     from sys_cash_back where sys_cash_back_no = #{0} and level = #{1} order by sys_cash_back_id desc limit 1
  </select>
  
  <select id="queryForPage" resultMap="BaseResultMap" parameterType="com.sysongy.poms.card.model.GasCard" >
  	 select <include refid="Base_Column_List" />
    from sys_cash_back gc where 1=1
    <trim>
      <if test="level != null &amp;&amp; level != ''" >
        and level = #{level,jdbcType=VARCHAR}
      </if>
      <if test="status != null &amp;&amp; status != ''" >
        and status = #{status,jdbcType=VARCHAR}
      </if>
      <if test="sys_cash_back_no != null &amp;&amp; sys_cash_back_no != ''" >
        and sys_cash_back_no = #{sys_cash_back_no,jdbcType=VARCHAR}
      </if>
      <if test="start_date_after != null &amp;&amp; start_date_after != ''">
        and start_date between CONCAT(#{start_date_after,jdbcType=VARCHAR},' 0:00:00') and CONCAT(#{start_date_before,jdbcType=VARCHAR},' 23:59:59') 
      </if>
    </trim>
  </select>

  <select id="queryCashBackForCRM" resultMap="BaseResultMap"  parameterType="com.sysongy.poms.card.model.GasCard" >
    select <include refid="Base_Column_List1" />
    from sys_cash_back a left outer join sys_cash_back b on a.sys_cash_back_no = b.sys_cash_back_no
    and a.level &lt; b.level
     where 1=1
    <trim>
      <if test="level != null &amp;&amp; level != ''" >
        and a.level = #{level,jdbcType=VARCHAR}
      </if>
      <if test="status != null &amp;&amp; status != ''" >
        and a.status = #{status,jdbcType=VARCHAR}
      </if>
      <if test="sys_cash_back_no != null &amp;&amp; sys_cash_back_no != ''" >
        and a.sys_cash_back_no = #{sys_cash_back_no,jdbcType=VARCHAR}
      </if>
      <if test="start_date_after != null &amp;&amp; start_date_after != ''">
        and a.start_date between CONCAT(#{start_date_after,jdbcType=VARCHAR},' 0:00:00') and CONCAT(#{start_date_before,jdbcType=VARCHAR},' 23:59:59')
      </if>
    </trim>
     and (b.sys_cash_back_id is null or b.sys_cash_back_no='') and a.status='0' order by a.threshold_min_value
  </select>

  <select id="queryForCRMPage" resultMap="BaseResultMap"  parameterType="com.sysongy.poms.card.model.GasCard" >
    select <include refid="Base_Column_List" />
    from sys_cash_back gc where 1=1
    <trim>
      <if test="level != null &amp;&amp; level != ''" >
        and level = #{level,jdbcType=VARCHAR}
      </if>
      <if test="status != null &amp;&amp; status != ''" >
        and status = #{status, jdbcType=VARCHAR}
      </if>
      <if test="start_date_after != null &amp;&amp; start_date_after != ''">
        and start_date between CONCAT(#{start_date_after,jdbcType=VARCHAR},' 0:00:00') and CONCAT(#{start_date_before,jdbcType=VARCHAR},' 23:59:59')
      </if>
    </trim>
      and (sys_cash_back_no = 102) or (sys_cash_back_no = 106) or (sys_cash_back_no = 107)
  </select>
  
  <select id="checkvalid" resultMap="BaseResultMap" parameterType="com.sysongy.poms.card.model.GasCard" >
  	 select <include refid="Base_Column_List" />
    from sys_cash_back gc where 1=1
    <trim>
        and level = #{level,jdbcType=VARCHAR}
        and sys_cash_back_no = #{sys_cash_back_no,jdbcType=VARCHAR}
    </trim>
  </select>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from sys_cash_back
    where sys_cash_back_id = #{sys_cash_back_id,jdbcType=VARCHAR}
  </select>
  
  <select id="queryCashBackByNumber" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from sys_cash_back
    where sys_cash_back_no = #{sys_cash_back_no,jdbcType=VARCHAR}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from sys_cash_back
    where sys_cash_back_id = #{sys_cash_back_id,jdbcType=VARCHAR}
  </delete>
  
  <delete id="deleteByLevel" parameterType="java.lang.String" >
    delete from sys_cash_back
    where sys_cash_back_no = #{0} and level = #{1}
  </delete>
  
  <insert id="insert" parameterType="com.sysongy.poms.system.model.SysCashBack" >
    insert into sys_cash_back (sys_cash_back_id, sys_cash_back_no, threshold_min_value, 
      threshold_max_value, cash_per, status, 
      level, start_date, end_date, 
      created_date, updated_date)
    values (#{sys_cash_back_id,jdbcType=VARCHAR}, #{sys_cash_back_no,jdbcType=VARCHAR}, #{threshold_min_value,jdbcType=VARCHAR}, 
      #{threshold_max_value,jdbcType=VARCHAR}, #{cash_per,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, 
      #{level,jdbcType=VARCHAR}, #{start_date,jdbcType=TIMESTAMP}, #{end_date,jdbcType=TIMESTAMP}, 
      #{created_date,jdbcType=TIMESTAMP}, #{updated_date,jdbcType=TIMESTAMP})
  </insert>
  
  <insert id="insertSelective" parameterType="com.sysongy.poms.system.model.SysCashBack" >
    insert into sys_cash_back
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="sys_cash_back_id != null" >
        sys_cash_back_id,
      </if>
      <if test="threshold_min_value != null" >
        threshold_min_value,
      </if>
      <if test="threshold_max_value != null" >
        threshold_max_value,
      </if>
      <if test="cash_per != null" >
        cash_per,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="level != null" >
        level,
      </if>
      <if test="start_date != null" >
        start_date,
      </if>
      <if test="end_date != null" >
        end_date,
      </if>
      <if test="created_date != null" >
        created_date,
      </if>
      <if test="updated_date != null" >
        updated_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="sys_cash_back_id != null" >
        #{sys_cash_back_id,jdbcType=VARCHAR},
      </if>
      <if test="threshold_min_value != null" >
        #{threshold_min_value,jdbcType=VARCHAR},
      </if>
      <if test="threshold_max_value != null" >
        #{threshold_max_value,jdbcType=VARCHAR},
      </if>
      <if test="cash_per != null" >
        #{cash_per,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        #{level,jdbcType=VARCHAR},
      </if>
      <if test="start_date != null" >
        #{start_date,jdbcType=TIMESTAMP},
      </if>
      <if test="end_date != null" >
        #{end_date,jdbcType=TIMESTAMP},
      </if>
      <if test="created_date != null" >
        #{created_date,jdbcType=TIMESTAMP},
      </if>
      <if test="updated_date != null" >
        #{updated_date,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sysongy.poms.system.model.SysCashBack" >
    update sys_cash_back
    <set >
      <if test="threshold_min_value != null" >
        threshold_min_value = #{threshold_min_value,jdbcType=VARCHAR},
      </if>
      <if test="threshold_max_value != null" >
        threshold_max_value = #{threshold_max_value,jdbcType=VARCHAR},
      </if>
      <if test="cash_per != null" >
        cash_per = #{cash_per,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        level = #{level,jdbcType=VARCHAR},
      </if>
      <if test="start_date != null" >
        start_date = #{start_date,jdbcType=TIMESTAMP},
      </if>
      <if test="end_date != null" >
        end_date = #{end_date,jdbcType=TIMESTAMP},
      </if>
      <if test="created_date != null" >
        created_date = #{created_date,jdbcType=TIMESTAMP},
      </if>
      <if test="updated_date != null" >
        updated_date = #{updated_date,jdbcType=TIMESTAMP},
      </if>
    </set>
    where sys_cash_back_id = #{sys_cash_back_id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sysongy.poms.system.model.SysCashBack" >
    update sys_cash_back
    set threshold_min_value = #{threshold_min_value,jdbcType=VARCHAR},
      threshold_max_value = #{threshold_max_value,jdbcType=VARCHAR},
      cash_per = #{cash_per,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      level = #{level,jdbcType=VARCHAR},
      start_date = #{start_date,jdbcType=TIMESTAMP},
      end_date = #{end_date,jdbcType=TIMESTAMP},
      created_date = #{created_date,jdbcType=TIMESTAMP},
      updated_date = #{updated_date,jdbcType=TIMESTAMP}
    where sys_cash_back_id = #{sys_cash_back_id,jdbcType=VARCHAR}
  </update>
</mapper>