<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sysongy.poms.system.dao.SysCashBackMapper" >
  <resultMap id="BaseResultMap" type="com.sysongy.poms.system.model.SysCashBack" >
    <id column="sys_cash_back_id" property="sysCashBackId" jdbcType="VARCHAR" />
    <result column="threshold_min_value" property="thresholdMinValue" jdbcType="VARCHAR" />
    <result column="threshold _max_value" property="thresholdMaxValue" jdbcType="VARCHAR" />
    <result column="cash_per" property="cashPer" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="level" property="level" jdbcType="VARCHAR" />
    <result column="start_date" property="startDate" jdbcType="TIMESTAMP" />
    <result column="end_date" property="endDate" jdbcType="TIMESTAMP" />
    <result column="created_date" property="createdDate" jdbcType="TIMESTAMP" />
    <result column="updated_date" property="updatedDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    sys_cash_back_id, threshold_min_value, "threshold _max_value", cash_per, status, 
    level, start_date, end_date, created_date, updated_date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from sys_cash_back
    where sys_cash_back_id = #{sysCashBackId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from sys_cash_back
    where sys_cash_back_id = #{sysCashBackId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.sysongy.poms.system.model.SysCashBack" >
    insert into sys_cash_back (sys_cash_back_id, threshold_min_value, 
      "threshold _max_value", cash_per, status, 
      level, start_date, end_date, 
      created_date, updated_date)
    values (#{sysCashBackId,jdbcType=VARCHAR}, #{thresholdMinValue,jdbcType=VARCHAR}, 
      #{thresholdMaxValue,jdbcType=VARCHAR}, #{cashPer,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, 
      #{level,jdbcType=VARCHAR}, #{startDate,jdbcType=TIMESTAMP}, #{endDate,jdbcType=TIMESTAMP}, 
      #{createdDate,jdbcType=TIMESTAMP}, #{updatedDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.sysongy.poms.system.model.SysCashBack" >
    insert into sys_cash_back
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="sysCashBackId != null" >
        sys_cash_back_id,
      </if>
      <if test="thresholdMinValue != null" >
        threshold_min_value,
      </if>
      <if test="thresholdMaxValue != null" >
        "threshold _max_value",
      </if>
      <if test="cashPer != null" >
        cash_per,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="level != null" >
        level,
      </if>
      <if test="startDate != null" >
        start_date,
      </if>
      <if test="endDate != null" >
        end_date,
      </if>
      <if test="createdDate != null" >
        created_date,
      </if>
      <if test="updatedDate != null" >
        updated_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="sysCashBackId != null" >
        #{sysCashBackId,jdbcType=VARCHAR},
      </if>
      <if test="thresholdMinValue != null" >
        #{thresholdMinValue,jdbcType=VARCHAR},
      </if>
      <if test="thresholdMaxValue != null" >
        #{thresholdMaxValue,jdbcType=VARCHAR},
      </if>
      <if test="cashPer != null" >
        #{cashPer,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        #{level,jdbcType=VARCHAR},
      </if>
      <if test="startDate != null" >
        #{startDate,jdbcType=TIMESTAMP},
      </if>
      <if test="endDate != null" >
        #{endDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createdDate != null" >
        #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedDate != null" >
        #{updatedDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sysongy.poms.system.model.SysCashBack" >
    update sys_cash_back
    <set >
      <if test="thresholdMinValue != null" >
        threshold_min_value = #{thresholdMinValue,jdbcType=VARCHAR},
      </if>
      <if test="thresholdMaxValue != null" >
        "threshold _max_value" = #{thresholdMaxValue,jdbcType=VARCHAR},
      </if>
      <if test="cashPer != null" >
        cash_per = #{cashPer,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        level = #{level,jdbcType=VARCHAR},
      </if>
      <if test="startDate != null" >
        start_date = #{startDate,jdbcType=TIMESTAMP},
      </if>
      <if test="endDate != null" >
        end_date = #{endDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createdDate != null" >
        created_date = #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedDate != null" >
        updated_date = #{updatedDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where sys_cash_back_id = #{sysCashBackId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sysongy.poms.system.model.SysCashBack" >
    update sys_cash_back
    set threshold_min_value = #{thresholdMinValue,jdbcType=VARCHAR},
      "threshold _max_value" = #{thresholdMaxValue,jdbcType=VARCHAR},
      cash_per = #{cashPer,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      level = #{level,jdbcType=VARCHAR},
      start_date = #{startDate,jdbcType=TIMESTAMP},
      end_date = #{endDate,jdbcType=TIMESTAMP},
      created_date = #{createdDate,jdbcType=TIMESTAMP},
      updated_date = #{updatedDate,jdbcType=TIMESTAMP}
    where sys_cash_back_id = #{sysCashBackId,jdbcType=VARCHAR}
  </update>
</mapper>