<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sysongy.poms.system.dao.SysDepositLogMapper" >
  <resultMap id="BaseResultMap" type="com.sysongy.poms.system.model.SysDepositLog" >
    <id column="sys_deposit_log_id" property="sysDepositLogId" jdbcType="VARCHAR" />
    <result column="station_id" property="stationId" jdbcType="VARCHAR" />
    <result column="account_id" property="accountId" jdbcType="VARCHAR" />
    <result column="station_type" property="station_type" jdbcType="VARCHAR" />
    <result column="station_name" property="stationName" jdbcType="VARCHAR" />
    <result column="company" property="company" jdbcType="VARCHAR" />
    <result column="deposit_time" property="depositTime" jdbcType="TIMESTAMP" />
    <result column="deposit_type" property="depositType" jdbcType="VARCHAR" />
    <result column="operator" property="operator" jdbcType="VARCHAR" />
    <result column="optime" property="optime" jdbcType="TIMESTAMP" />
    <result column="deposit" property="deposit" jdbcType="DECIMAL" />
    <result column="memo" property="memo" jdbcType="VARCHAR" />
    <result column="order_number" property="order_number" jdbcType="VARCHAR" />
    <result column="transfer_photo" property="transfer_photo" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    sys_deposit_log_id, station_id, station_name, account_id, station_type, company, deposit_time, deposit_type, 
    operator, optime, deposit, memo, order_number, transfer_photo
  </sql>
  
  <select id="queryForPage" resultMap="BaseResultMap" parameterType="com.sysongy.poms.system.model.SysDepositLog" >
  	 select <include refid="Base_Column_List" />
    from sys_deposit_log where 1=1
    <trim>
      <if test="station_type != null &amp;&amp; station_type != ''" >
        and station_type = #{station_type,jdbcType=VARCHAR}
      </if>
      <if test="stationId != null &amp;&amp; stationId != ''" >
        and station_id = #{stationId,jdbcType=VARCHAR}
      </if>
      <if test="operator != null &amp;&amp; operator != ''" >
        and operator = #{operator,jdbcType=VARCHAR}
      </if>
      <if test="optime_after != null &amp;&amp; optime_after != ''">
        and optime between CONCAT(#{optime_after,jdbcType=VARCHAR},' 0:00:00') and CONCAT(#{optime_before,jdbcType=VARCHAR},' 23:59:59') 
      </if>
    </trim>
  </select>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from sys_deposit_log
    where sys_deposit_log_id = #{sysDepositLogId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from sys_deposit_log
    where sys_deposit_log_id = #{sysDepositLogId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.sysongy.poms.system.model.SysDepositLog" >
    insert into sys_deposit_log (sys_deposit_log_id, station_id, station_name, station_type,
      account_id, company, deposit_time, order_number,
      deposit_type, operator, optime, transfer_photo,
      deposit, memo)
    values (#{sysDepositLogId,jdbcType=VARCHAR}, #{stationId,jdbcType=VARCHAR}, #{stationName,jdbcType=VARCHAR}, #{station_type,jdbcType=VARCHAR}, 
      #{accountId,jdbcType=VARCHAR}, #{company,jdbcType=VARCHAR}, #{depositTime,jdbcType=TIMESTAMP}, #{order_number,jdbcType=VARCHAR},
      #{depositType,jdbcType=VARCHAR}, #{operator,jdbcType=VARCHAR}, #{optime,jdbcType=TIMESTAMP}, #{transfer_photo,jdbcType=VARCHAR},
      #{deposit,jdbcType=DECIMAL}, #{memo,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sysongy.poms.system.model.SysDepositLog" >
    insert into sys_deposit_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="sysDepositLogId != null" >
        sys_deposit_log_id,
      </if>
      <if test="depositId != null" >
        deposit_id,
      </if>
      <if test="stationId != null" >
        station_id,
      </if>
      <if test="accountId != null" >
        account_id,
      </if>
      <if test="company != null" >
        company,
      </if>
      <if test="depositTime != null" >
        deposit_time,
      </if>
      <if test="depositType != null" >
        deposit_type,
      </if>
      <if test="operator != null" >
        operator,
      </if>
      <if test="optime != null" >
        optime,
      </if>
      <if test="deposit != null" >
        deposit,
      </if>
      <if test="memo != null" >
        memo,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="sysDepositLogId != null" >
        #{sysDepositLogId,jdbcType=VARCHAR},
      </if>
      <if test="depositId != null" >
        #{depositId,jdbcType=VARCHAR},
      </if>
      <if test="stationId != null" >
        #{stationId,jdbcType=VARCHAR},
      </if>
      <if test="accountId != null" >
        #{accountId,jdbcType=VARCHAR},
      </if>
      <if test="company != null" >
        #{company,jdbcType=VARCHAR},
      </if>
      <if test="depositTime != null" >
        #{depositTime,jdbcType=TIMESTAMP},
      </if>
      <if test="depositType != null" >
        #{depositType,jdbcType=VARCHAR},
      </if>
      <if test="operator != null" >
        #{operator,jdbcType=VARCHAR},
      </if>
      <if test="optime != null" >
        #{optime,jdbcType=TIMESTAMP},
      </if>
      <if test="deposit != null" >
        #{deposit,jdbcType=DECIMAL},
      </if>
      <if test="memo != null" >
        #{memo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sysongy.poms.system.model.SysDepositLog" >
    update sys_deposit_log
    <set >
      <if test="depositId != null" >
        deposit_id = #{depositId,jdbcType=VARCHAR},
      </if>
      <if test="stationId != null" >
        station_id = #{stationId,jdbcType=VARCHAR},
      </if>
      <if test="accountId != null" >
        account_id = #{accountId,jdbcType=VARCHAR},
      </if>
      <if test="company != null" >
        company = #{company,jdbcType=VARCHAR},
      </if>
      <if test="depositTime != null" >
        deposit_time = #{depositTime,jdbcType=TIMESTAMP},
      </if>
      <if test="depositType != null" >
        deposit_type = #{depositType,jdbcType=VARCHAR},
      </if>
      <if test="operator != null" >
        operator = #{operator,jdbcType=VARCHAR},
      </if>
      <if test="optime != null" >
        optime = #{optime,jdbcType=TIMESTAMP},
      </if>
      <if test="deposit != null" >
        deposit = #{deposit,jdbcType=DECIMAL},
      </if>
      <if test="memo != null" >
        memo = #{memo,jdbcType=VARCHAR},
      </if>
      <if test="transfer_photo != null" >
        memo = #{transfer_photo,jdbcType=VARCHAR},
      </if>
    </set>
    where sys_deposit_log_id = #{sysDepositLogId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sysongy.poms.system.model.SysDepositLog" >
    update sys_deposit_log
    set deposit_id = #{depositId,jdbcType=VARCHAR},
      station_id = #{stationId,jdbcType=VARCHAR},
      account_id = #{accountId,jdbcType=VARCHAR},
      company = #{company,jdbcType=VARCHAR},
      deposit_time = #{depositTime,jdbcType=TIMESTAMP},
      deposit_type = #{depositType,jdbcType=VARCHAR},
      operator = #{operator,jdbcType=VARCHAR},
      optime = #{optime,jdbcType=TIMESTAMP},
      deposit = #{deposit,jdbcType=DECIMAL},
      memo = #{memo,jdbcType=VARCHAR}
    where sys_deposit_log_id = #{sysDepositLogId,jdbcType=VARCHAR}
  </update>
</mapper>