<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sysongy.poms.system.dao.SysGasSourceMapper" >
  <resultMap id="BaseResultMap" type="com.sysongy.poms.system.model.SysGasSource" >
    <id column="sys_gas_source_id" property="sysGasSourceId" jdbcType="VARCHAR" />
    <result column="gas_factory_name" property="gasFactoryName" jdbcType="VARCHAR" />
    <result column="technology_type" property="technologyType" jdbcType="VARCHAR" />
    <result column="delivery_method" property="deliveryMethod" jdbcType="VARCHAR" />
    <result column="market_price" property="marketPrice" jdbcType="VARCHAR" />
    <result column="gas_factory_attr" property="gasFactoryAttr" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="created_date" property="createdDate" jdbcType="TIMESTAMP" />
    <result column="updated_date" property="updatedDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    sys_gas_source_id, gas_factory_name, technology_type, delivery_method, market_price, 
    gas_factory_attr, status, remark, created_date, updated_date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from sys_gas_source
    where sys_gas_source_id = #{sysGasSourceId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from sys_gas_source
    where sys_gas_source_id = #{sysGasSourceId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.sysongy.poms.system.model.SysGasSource" >
    insert into sys_gas_source (sys_gas_source_id, gas_factory_name, technology_type, 
      delivery_method, market_price, gas_factory_attr, 
      status, remark, created_date, 
      updated_date)
    values (#{sysGasSourceId,jdbcType=VARCHAR}, #{gasFactoryName,jdbcType=VARCHAR}, #{technologyType,jdbcType=VARCHAR}, 
      #{deliveryMethod,jdbcType=VARCHAR}, #{marketPrice,jdbcType=VARCHAR}, #{gasFactoryAttr,jdbcType=VARCHAR}, 
      #{status,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{createdDate,jdbcType=TIMESTAMP}, 
      #{updatedDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.sysongy.poms.system.model.SysGasSource" >
    insert into sys_gas_source
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="sysGasSourceId != null" >
        sys_gas_source_id,
      </if>
      <if test="gasFactoryName != null" >
        gas_factory_name,
      </if>
      <if test="technologyType != null" >
        technology_type,
      </if>
      <if test="deliveryMethod != null" >
        delivery_method,
      </if>
      <if test="marketPrice != null" >
        market_price,
      </if>
      <if test="gasFactoryAttr != null" >
        gas_factory_attr,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="createdDate != null" >
        created_date,
      </if>
      <if test="updatedDate != null" >
        updated_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="sysGasSourceId != null" >
        #{sysGasSourceId,jdbcType=VARCHAR},
      </if>
      <if test="gasFactoryName != null" >
        #{gasFactoryName,jdbcType=VARCHAR},
      </if>
      <if test="technologyType != null" >
        #{technologyType,jdbcType=VARCHAR},
      </if>
      <if test="deliveryMethod != null" >
        #{deliveryMethod,jdbcType=VARCHAR},
      </if>
      <if test="marketPrice != null" >
        #{marketPrice,jdbcType=VARCHAR},
      </if>
      <if test="gasFactoryAttr != null" >
        #{gasFactoryAttr,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createdDate != null" >
        #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedDate != null" >
        #{updatedDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sysongy.poms.system.model.SysGasSource" >
    update sys_gas_source
    <set >
      <if test="gasFactoryName != null" >
        gas_factory_name = #{gasFactoryName,jdbcType=VARCHAR},
      </if>
      <if test="technologyType != null" >
        technology_type = #{technologyType,jdbcType=VARCHAR},
      </if>
      <if test="deliveryMethod != null" >
        delivery_method = #{deliveryMethod,jdbcType=VARCHAR},
      </if>
      <if test="marketPrice != null" >
        market_price = #{marketPrice,jdbcType=VARCHAR},
      </if>
      <if test="gasFactoryAttr != null" >
        gas_factory_attr = #{gasFactoryAttr,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createdDate != null" >
        created_date = #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedDate != null" >
        updated_date = #{updatedDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where sys_gas_source_id = #{sysGasSourceId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sysongy.poms.system.model.SysGasSource" >
    update sys_gas_source
    set gas_factory_name = #{gasFactoryName,jdbcType=VARCHAR},
      technology_type = #{technologyType,jdbcType=VARCHAR},
      delivery_method = #{deliveryMethod,jdbcType=VARCHAR},
      market_price = #{marketPrice,jdbcType=VARCHAR},
      gas_factory_attr = #{gasFactoryAttr,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      created_date = #{createdDate,jdbcType=TIMESTAMP},
      updated_date = #{updatedDate,jdbcType=TIMESTAMP}
    where sys_gas_source_id = #{sysGasSourceId,jdbcType=VARCHAR}
  </update>
</mapper>