<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sysongy.poms.gastation.dao.GastationMapper" >
  <resultMap id="BaseResultMap" type="com.sysongy.poms.gastation.model.Gastation" >
    <id column="sys_gas_station_id" property="sys_gas_station_id" jdbcType="VARCHAR" />
    <result column="gas_station_name" property="gas_station_name" jdbcType="VARCHAR" />
    <result column="contact_phone" property="contact_phone" jdbcType="VARCHAR" />
    <result column="area_id" property="area_id" jdbcType="VARCHAR" />
    <result column="province_id" property="province_id" jdbcType="VARCHAR" />
    <result column="city_id" property="city_id" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="longitude" property="longitude" jdbcType="VARCHAR" />
    <result column="latitude" property="latitude" jdbcType="VARCHAR" />
    <result column="expiry_date" property="expiry_date" jdbcType="TIMESTAMP" />
    <result column="salesmen_id" property="salesmen_id" jdbcType="VARCHAR" />
    <result column="salesmen_name" property="salesmen_name" jdbcType="VARCHAR" />
    <result column="operations_id" property="operations_id" jdbcType="VARCHAR" />
    <result column="operations_name" property="operations_name" jdbcType="VARCHAR" />
    <result column="indu_com_number" property="indu_com_number" jdbcType="VARCHAR" />
    <result column="tax_number" property="tax_number" jdbcType="VARCHAR" />
    <result column="indu_com_certif" property="indu_com_certif" jdbcType="VARCHAR" />
    <result column="tax_certif" property="tax_certif" jdbcType="VARCHAR" />
    <result column="lng_certif" property="lng_certif" jdbcType="VARCHAR" />
    <result column="dcp_certif" property="dcp_certif" jdbcType="VARCHAR" />
    <result column="platform_type" property="platform_type" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="created_time" property="created_time" jdbcType="TIMESTAMP" />
    <result column="created_time" property="created_time" jdbcType="TIMESTAMP" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    sys_gas_station_id, gas_station_name, contact_phone, 
    area_id, province_id, city_id, address, longitude, latitude, expiry_date, 
    salesmen_id, salesmen_name, operations_id, operations_name, indu_com_number, tax_number, 
    indu_com_certif, tax_certif, lng_certif, dcp_certif, platform_type, status, created_time, 
    updated_time
  </sql>
  
  <select id="queryForPage" resultMap="BaseResultMap" parameterType="java.lang.String" >
  select 
    <include refid="Base_Column_List" />
    from sys_gas_station
    where 1=1
  <trim>
      <if test="gas_station_name != null &amp;&amp; gas_station_name != ''" >
        and gas_station_name = #{gas_station_name,jdbcType=VARCHAR}
      </if>
    </trim>
  </select>
  
  <select id="findGastationid" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select sys_gas_station_id from sys_gas_station where sys_gas_station_id like CONCAT(#{gas_station_province_id,jdbcType=VARCHAR},'%') order by sys_gas_station_id desc limit 1  
  </select>
  
  <select id="getAllStationByArea" resultMap="BaseResultMap" parameterType="java.lang.String" >
	select <include refid="Base_Column_List" />
     from sys_gas_station where province_id = #{province_id,jdbcType=VARCHAR}  
  </select>
     
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    from sys_gas_station
    where sys_gas_station_id = #{sys_gas_station_id,jdbcType=VARCHAR}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from sys_gas_station
    where sys_gas_station_id = #{sys_gas_station_id,jdbcType=VARCHAR}
  </delete>
  
  <insert id="insert" parameterType="com.sysongy.poms.gastation.model.Gastation" >
    insert into sys_gas_station (sys_gas_station_id, gas_station_name, contact_phone, 
      area_id, province_id, 
      city_id, address, longitude, 
      latitude, expiry_date, salesmen_id, 
      salesmen_name, operations_id, operations_name, 
      indu_com_number, tax_number, indu_com_certif, 
      tax_certif, lng_certif, dcp_certif, 
      platform_type, status, created_time, 
      updated_time)
    values (#{sys_gas_station_id,jdbcType=VARCHAR}, #{gas_station_name,jdbcType=VARCHAR}, 
      #{contact_phone,jdbcType=VARCHAR}, 
      #{area_id,jdbcType=VARCHAR}, #{province_id,jdbcType=VARCHAR}, 
      #{city_id,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{longitude,jdbcType=VARCHAR}, 
      #{latitude,jdbcType=VARCHAR}, #{expiry_date,jdbcType=TIMESTAMP}, #{salesmen_id,jdbcType=VARCHAR}, 
      #{salesmen_name,jdbcType=VARCHAR}, #{operations_id,jdbcType=VARCHAR}, #{operations_name,jdbcType=VARCHAR}, 
      #{indu_com_number,jdbcType=VARCHAR}, #{tax_number,jdbcType=VARCHAR}, #{indu_com_certif,jdbcType=VARCHAR}, 
      #{tax_certif,jdbcType=VARCHAR}, #{lng_certif,jdbcType=VARCHAR}, #{dcp_certif,jdbcType=VARCHAR}, 
      #{platform_type,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{created_time,jdbcType=TIMESTAMP}, 
      #{updated_time,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.sysongy.poms.gastation.model.Gastation" >
    insert into sys_gas_station
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="sys_gas_station_id != null" >
        sys_gas_station_id,
      </if>
      <if test="gas_station_name != null" >
        gas_station_name,
      </if>
      <if test="contact_phone != null" >
        contact_phone,
      </if>
      <if test="area_id != null" >
        area_id,
      </if>
      <if test="province_id != null" >
        province_id,
      </if>
      <if test="city_id != null" >
        city_id,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="longitude != null" >
        longitude,
      </if>
      <if test="latitude != null" >
        latitude,
      </if>
      <if test="expiry_date != null" >
        expiry_date,
      </if>
      <if test="salesmen_id != null" >
        salesmen_id,
      </if>
      <if test="salesmen_name != null" >
        salesmen_name,
      </if>
      <if test="operations_id != null" >
        operations_id,
      </if>
      <if test="operations_name != null" >
        operations_name,
      </if>
      <if test="indu_com_number != null" >
        indu_com_number,
      </if>
      <if test="tax_number != null" >
        tax_number,
      </if>
      <if test="indu_com_certif != null" >
        indu_com_certif,
      </if>
      <if test="tax_certif != null" >
        tax_certif,
      </if>
      <if test="lng_certif != null" >
        lng_certif,
      </if>
      <if test="dcp_certif != null" >
        dcp_certif,
      </if>
      <if test="platform_type != null" >
        platform_type,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="created_time != null" >
        created_time,
      </if>
      <if test="updated_time != null" >
        updated_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="sys_gasStation_id != null" >
        #{sys_gasStation_id,jdbcType=VARCHAR},
      </if>
      <if test="gas_station_name != null" >
        #{gasStation_name,jdbcType=VARCHAR},
      </if>
      <if test="contact_phone != null" >
        #{contact_phone,jdbcType=VARCHAR},
      </if>
      <if test="area_id != null" >
        #{area_id,jdbcType=VARCHAR},
      </if>
      <if test="province_id != null" >
        #{province_id,jdbcType=VARCHAR},
      </if>
      <if test="city_id != null" >
        #{city_id,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="longitude != null" >
        #{longitude,jdbcType=VARCHAR},
      </if>
      <if test="latitude != null" >
        #{latitude,jdbcType=VARCHAR},
      </if>
      <if test="expiry_date != null" >
        #{expiry_date,jdbcType=TIMESTAMP},
      </if>
      <if test="salesmen_id != null" >
        #{salesmen_id,jdbcType=VARCHAR},
      </if>
      <if test="salesmen_name != null" >
        #{salesmen_name,jdbcType=VARCHAR},
      </if>
      <if test="operations_id != null" >
        #{operations_id,jdbcType=VARCHAR},
      </if>
      <if test="operations_name != null" >
        #{operations_name,jdbcType=VARCHAR},
      </if>
      <if test="induComNumber != null" >
        #{induComNumber,jdbcType=VARCHAR},
      </if>
      <if test="tax_number != null" >
        #{tax_number,jdbcType=VARCHAR},
      </if>
      <if test="induComCertif != null" >
        #{induComCertif,jdbcType=VARCHAR},
      </if>
      <if test="tax_certif != null" >
        #{tax_certif,jdbcType=VARCHAR},
      </if>
      <if test="lng_certif != null" >
        #{lng_certif,jdbcType=VARCHAR},
      </if>
      <if test="dcp_certif != null" >
        #{dcp_certif,jdbcType=VARCHAR},
      </if>
      <if test="platform_type != null" >
        #{platform_type,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="created_time != null" >
        #{created_time,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedDate != null" >
        #{updated_time,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sysongy.poms.gastation.model.Gastation" >
    update sys_gas_station
    <set >
      <if test="gas_station_name != null" >
        gas_station_name = #{gas_station_name,jdbcType=VARCHAR},
      </if>
      <if test="contact_phone != null" >
        contact_phone = #{contact_phone,jdbcType=VARCHAR},
      </if>
      <if test="area_id != null" >
        area_id = #{area_id,jdbcType=VARCHAR},
      </if>
      <if test="province_id != null" >
        province_id = #{province_id,jdbcType=VARCHAR},
      </if>
      <if test="city_id != null" >
        city_id = #{city_id,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="longitude != null" >
        longitude = #{longitude,jdbcType=VARCHAR},
      </if>
      <if test="latitude != null" >
        latitude = #{latitude,jdbcType=VARCHAR},
      </if>
      <if test="expiry_date != null" >
        expiry_date = #{expiry_date,jdbcType=TIMESTAMP},
      </if>
      <if test="salesmen_id != null" >
        salesmen_id = #{salesmen_id,jdbcType=VARCHAR},
      </if>
      <if test="salesmen_name != null" >
        salesmen_name = #{salesmen_name,jdbcType=VARCHAR},
      </if>
      <if test="operations_id != null" >
        operations_id = #{operations_id,jdbcType=VARCHAR},
      </if>
      <if test="operations_name != null" >
        operations_name = #{operations_name,jdbcType=VARCHAR},
      </if>
      <if test="indu_com_number != null" >
        indu_com_number = #{indu_com_number,jdbcType=VARCHAR},
      </if>
      <if test="tax_number != null" >
        tax_number = #{tax_number,jdbcType=VARCHAR},
      </if>
      <if test="indu_com_certif != null" >
        indu_com_certif = #{indu_com_certif,jdbcType=VARCHAR},
      </if>
      <if test="tax_certif != null" >
        tax_certif = #{tax_certif,jdbcType=VARCHAR},
      </if>
      <if test="lng_certif != null" >
        lng_certif = #{lng_certif,jdbcType=VARCHAR},
      </if>
      <if test="dcp_certif != null" >
        dcp_certif = #{dcp_certif,jdbcType=VARCHAR},
      </if>
      <if test="platform_type != null" >
        platform_type = #{platform_type,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="created_time != null" >
        created_time = #{created_time,jdbcType=TIMESTAMP},
      </if>
      <if test="updated_time != null" >
        updated_time = #{updated_time,jdbcType=TIMESTAMP},
      </if>
    </set>
    where sys_gas_station_id = #{sys_gas_station_id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sysongy.poms.gastation.model.Gastation" >
    update sys_gas_station
    set gas_station_name = #{gas_station_name,jdbcType=VARCHAR},
      contact_phone = #{contact_phone,jdbcType=VARCHAR},
      area_id = #{area_id,jdbcType=VARCHAR},
      province_id = #{province_id,jdbcType=VARCHAR},
      city_id = #{city_id,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      longitude = #{longitude,jdbcType=VARCHAR},
      latitude = #{latitude,jdbcType=VARCHAR},
      expiry_date = #{expiry_date,jdbcType=TIMESTAMP},
      salesmen_id = #{salesmen_id,jdbcType=VARCHAR},
      salesmen_name = #{salesmen_name,jdbcType=VARCHAR},
      operations_id = #{operations_id,jdbcType=VARCHAR},
      operations_name = #{operations_name,jdbcType=VARCHAR},
      indu_com_number = #{indu_com_number,jdbcType=VARCHAR},
      tax_number = #{tax_number,jdbcType=VARCHAR},
      indu_com_certif = #{indu_com_certif,jdbcType=VARCHAR},
      tax_certif = #{tax_certif,jdbcType=VARCHAR},
      lng_certif = #{lng_certif,jdbcType=VARCHAR},
      dcp_certif = #{dcp_certif,jdbcType=VARCHAR},
      platform_type = #{platform_type,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      created_time = #{created_time,jdbcType=TIMESTAMP},
      updated_time = #{updated_time,jdbcType=TIMESTAMP}
    where sys_gas_station_id = #{sys_gas_station_id,jdbcType=VARCHAR}
  </update>
</mapper>