<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sysongy.poms.gastation.dao.GastationMapper" >
  <resultMap id="BaseResultMap" type="com.sysongy.poms.gastation.model.Gastation" >
    <id column="sys_gas_station_id" property="sys_gas_station_id" jdbcType="VARCHAR" />
    <result column="gas_station_name" property="gas_station_name" jdbcType="VARCHAR" />
    <result column="station_level" property="station_level" jdbcType="VARCHAR" />
    <result column="contact_phone" property="contact_phone" jdbcType="VARCHAR" />
    <result column="admin_username" property="admin_username" jdbcType="VARCHAR" />
    <result column="area_id" property="area_id" jdbcType="VARCHAR" />
    <result column="province_id" property="province_id" jdbcType="VARCHAR" />
    <result column="city_id" property="city_id" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="longitude" property="longitude" jdbcType="VARCHAR" />
    <result column="latitude" property="latitude" jdbcType="VARCHAR" />
    <result column="expiry_date" property="expiry_date" jdbcType="TIMESTAMP" />
    <result column="salesmen_id" property="salesmen_id" jdbcType="VARCHAR" />
    <result column="salesmen_name" property="salesmen_name" jdbcType="VARCHAR" />
    <result column="operations_id" property="operations_id" jdbcType="VARCHAR" />
    <result column="operations_name" property="operations_name" jdbcType="VARCHAR" />
    <result column="indu_com_number" property="indu_com_number" jdbcType="VARCHAR" />
    <result column="tax_number" property="tax_number" jdbcType="VARCHAR" />
    <result column="indu_com_certif" property="indu_com_certif" jdbcType="VARCHAR" />
    <result column="tax_certif" property="tax_certif" jdbcType="VARCHAR" />
    <result column="lng_certif" property="lng_certif" jdbcType="VARCHAR" />
    <result column="dcp_certif" property="dcp_certif" jdbcType="VARCHAR" />
    <result column="platform_type" property="platform_type" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="created_time" property="created_time" jdbcType="TIMESTAMP" />
    <result column="updated_time" property="updated_time" jdbcType="TIMESTAMP" />
    <result column="sys_user_account_id" property="sys_user_account_id" jdbcType="VARCHAR" />
    <result column="prepay_balance" property="prepay_balance" jdbcType="DECIMAL" />
    <result column="prepay_version" property="prepay_version" jdbcType="INTEGER" />
    <result column="promotions" property="promotions" jdbcType="VARCHAR" />
    <result column="view_count" property="viewCount" jdbcType="VARCHAR" />
    <result column="share_count" property="shareCount" jdbcType="VARCHAR" />
    
    <association column="sys_user_account_id" property="account" javaType="com.sysongy.poms.permi.model.SysUserAccount"
                 select="com.sysongy.poms.permi.dao.SysUserAccountMapper.selectByPrimaryKey">
    </association>
  </resultMap>
  
  <resultMap id="HenryResultMap" type="java.util.Map" >  
	  <result column="station_id" property="station_id" jdbcType="VARCHAR" />
	  <result column="station_name" property="station_name" jdbcType="VARCHAR" />
	  <result column="deposit" property="deposit" jdbcType="VARCHAR" />
	  <result column="salesmen_name" property="salesmen_name" jdbcType="VARCHAR" />
	  <result column="operations_name" property="operations_name" jdbcType="VARCHAR" />
	  <result column="tc_fleet_id" property="tc_fleet_id" jdbcType="VARCHAR" />
	  <result column="fleet_name" property="fleet_name" jdbcType="VARCHAR" />
	  <result column="channel" property="channel" jdbcType="VARCHAR" />
	  <result column="channel_number" property="channel_number" jdbcType="VARCHAR" />
	  <result column="cash" property="cash" jdbcType="VARCHAR" />
	  <result column="hedgefund" property="hedgefund" jdbcType="VARCHAR" />
	  <result column="summit" property="summit" jdbcType="VARCHAR" />
	  <result column="consumecount" property="consumecount" jdbcType="VARCHAR" />
	  <result column="view_count" property="viewCount" jdbcType="VARCHAR" />
      <result column="share_count" property="shareCount" jdbcType="VARCHAR" />
      <result column="promotions" property="promotions" jdbcType="VARCHAR" />
  </resultMap>
  
  <resultMap id="HenryTotalMap" type="java.util.Map" >
	  <result column="total" property="total" jdbcType="DECIMAL" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    sys_gas_station_id, gas_station_name, station_level, contact_phone, admin_username, admin_username, email,station_manager,
    area_id, province_id, city_id, address, longitude, latitude, expiry_date, 
    salesmen_id, salesmen_name, operations_id, operations_name, indu_com_number, tax_number, 
    indu_com_certif, tax_certif, lng_certif, dcp_certif, platform_type, status, created_time, 
    updated_time,prepay_balance,prepay_version,sys_user_account_id,type,map_type,gas_server,LNG_price,promotions,view_count,share_count
  </sql>
  
  <select id="queryForPage" resultMap="BaseResultMap" parameterType="java.lang.String" >
  select 
    <include refid="Base_Column_List" />
    from sys_gas_station
    where 1=1 and type=0  
  <trim>
  	  <if test="sys_gas_station_id != null &amp;&amp; sys_gas_station_id != ''" >
        and sys_gas_station_id = #{sys_gas_station_id,jdbcType=VARCHAR}
      </if>
      <if test="gas_station_name != null &amp;&amp; gas_station_name != ''" >
        and gas_station_name  LIKE CONCAT(CONCAT('%', #{gas_station_name,jdbcType=VARCHAR}), '%')
      </if>
      <if test="status!= null &amp;&amp; status != ''" >
        and status = #{status,jdbcType=VARCHAR}
      </if>
      <if test="expiry_date_after != null &amp;&amp; expiry_date_after != ''">
        and expiry_date between CONCAT(#{expiry_date_after,jdbcType=VARCHAR},' 0:00:00') and CONCAT(#{expiry_date_before,jdbcType=VARCHAR},' 23:59:59')
      </if>
    </trim>
  </select>
  
   <select id="queryForPage2" resultMap="BaseResultMap" parameterType="java.lang.String" >
  select 
    <include refid="Base_Column_List" />
    from sys_gas_station
    where 1=1  and type=1 
  <trim>
  	  <if test="sys_gas_station_id != null &amp;&amp; sys_gas_station_id != ''" >
        and sys_gas_station_id = #{sys_gas_station_id,jdbcType=VARCHAR}
      </if>
      
       <if test="map_type != null &amp;&amp; map_type != ''" >
        and map_type = #{map_type,jdbcType=VARCHAR}
      </if> 
      <if test="gas_station_name != null &amp;&amp; gas_station_name != ''" >
        and gas_station_name  LIKE CONCAT(CONCAT('%', #{gas_station_name,jdbcType=VARCHAR}), '%')
      </if>
      <if test="status!= null &amp;&amp; status != ''" >
        and status = #{status,jdbcType=VARCHAR}
      </if>
      <if test="expiry_date_after != null &amp;&amp; expiry_date_after != ''">
        and expiry_date between CONCAT(#{expiry_date_after,jdbcType=VARCHAR},' 0:00:00') and CONCAT(#{expiry_date_before,jdbcType=VARCHAR},' 23:59:59')
      </if>
    </trim>
  </select> 
  <select id="queryAll" resultMap="BaseResultMap" parameterType="java.lang.String" >
  	select 
    <include refid="Base_Column_List" />
    from sys_gas_station
  </select> 
   <select id="exists" resultMap="BaseResultMap" parameterType="java.lang.String" >
  select 
    <include refid="Base_Column_List" />
    from sys_gas_station
    where type=1
      and  CONCAT(longitude,",",latitude) = #{xy,jdbcType=VARCHAR}
      
  </select> 
  <select id="findGastationid" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select sys_gas_station_id from sys_gas_station where sys_gas_station_id like CONCAT(#{gas_station_province_id,jdbcType=VARCHAR},'%') order by sys_gas_station_id desc limit 1  
  </select>
  
  <select id="getAllStationByArea" resultMap="BaseResultMap" parameterType="java.lang.String" >
	select <include refid="Base_Column_List" />
     from sys_gas_station where province_id = #{province_id,jdbcType=VARCHAR}  
  </select>
     
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
     <include refid="Base_Column_List" />
    from sys_gas_station
    where sys_gas_station_id = #{sys_gas_station_id,jdbcType=VARCHAR}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from sys_gas_station
    where sys_gas_station_id = #{sys_gas_station_id,jdbcType=VARCHAR}
  </delete>
  
  <delete id="delete" parameterType="java.lang.String" >
    delete from sys_gas_station
    where sys_gas_station_id = #{sys_gas_station_id,jdbcType=VARCHAR} and type<![CDATA[ <> ]]>0
  </delete>
  
  <insert id="insert" parameterType="com.sysongy.poms.gastation.model.Gastation" >
    insert into sys_gas_station (sys_gas_station_id, gas_station_name, station_level, contact_phone,admin_username, email,station_manager,
      area_id, province_id, 
      city_id, address, longitude, 
      latitude, expiry_date, salesmen_id, 
      salesmen_name, operations_id, operations_name, 
      indu_com_number, tax_number, indu_com_certif, 
      tax_certif, lng_certif, dcp_certif, 
      platform_type, status, created_time, 
      updated_time,prepay_balance,prepay_version,sys_user_account_id,type,map_type,gas_server ,LNG_price ,promotions )
    values (#{sys_gas_station_id,jdbcType=VARCHAR}, 
      #{gas_station_name,jdbcType=VARCHAR}, 
      #{station_level,jdbcType=VARCHAR}, 
      #{contact_phone,jdbcType=VARCHAR}, 
      #{admin_username,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR},
      #{station_manager,jdbcType=VARCHAR},  
      #{area_id,jdbcType=VARCHAR}, #{province_id,jdbcType=VARCHAR}, 
      #{city_id,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{longitude,jdbcType=VARCHAR}, 
      #{latitude,jdbcType=VARCHAR}, #{expiry_date,jdbcType=TIMESTAMP}, #{salesmen_id,jdbcType=VARCHAR}, 
      #{salesmen_name,jdbcType=VARCHAR}, #{operations_id,jdbcType=VARCHAR}, #{operations_name,jdbcType=VARCHAR}, 
      #{indu_com_number,jdbcType=VARCHAR}, #{tax_number,jdbcType=VARCHAR}, #{indu_com_certif,jdbcType=VARCHAR}, 
      #{tax_certif,jdbcType=VARCHAR}, #{lng_certif,jdbcType=VARCHAR}, #{dcp_certif,jdbcType=VARCHAR}, 
      #{platform_type,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{created_time,jdbcType=TIMESTAMP}, 
      #{updated_time,jdbcType=TIMESTAMP},#{prepay_balance,jdbcType=DECIMAL}, #{prepay_version,jdbcType=INTEGER},
       #{sys_user_account_id,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, #{map_type,jdbcType=VARCHAR},
        #{gas_server ,jdbcType=VARCHAR}, #{lng_price ,jdbcType=VARCHAR}, #{promotions ,jdbcType=VARCHAR})
  </insert>
  
  <insert id="insertSelective" parameterType="com.sysongy.poms.gastation.model.Gastation" >
    insert into sys_gas_station
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="sys_gas_station_id != null" >
        sys_gas_station_id,
      </if>
      <if test="gas_station_name != null" >
        gas_station_name,
      </if>
      <if test="email != null" >
        email,
      </if>
       <if test="station_manager != null" >
        station_manager,
      </if>
      <if test="contact_phone != null" >
        contact_phone,
      </if>
      <if test="area_id != null" >
        area_id,
      </if>
      <if test="province_id != null" >
        province_id,
      </if>
      <if test="city_id != null" >
        city_id,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="longitude != null" >
        longitude,
      </if>
      <if test="latitude != null" >
        latitude,
      </if>
      <if test="expiry_date != null" >
        expiry_date,
      </if>
      <if test="salesmen_id != null" >
        salesmen_id,
      </if>
      <if test="salesmen_name != null" >
        salesmen_name,
      </if>
      <if test="operations_id != null" >
        operations_id,
      </if>
      <if test="operations_name != null" >
        operations_name,
      </if>
      <if test="indu_com_number != null" >
        indu_com_number,
      </if>
      <if test="tax_number != null" >
        tax_number,
      </if>
      <if test="indu_com_certif != null" >
        indu_com_certif,
      </if>
      <if test="tax_certif != null" >
        tax_certif,
      </if>
      <if test="lng_certif != null" >
        lng_certif,
      </if>
      <if test="dcp_certif != null" >
        dcp_certif,
      </if>
      <if test="platform_type != null" >
        platform_type,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="created_time != null" >
        created_time,
      </if>
      <if test="updated_time != null" >
        updated_time,
      </if>
        <if test="gas_server != null" >
        gas_server,
      </if>
        <if test="lng_price != null" >
        LNG_price,
      </if>
        <if test="promotions != null" >
        promotions,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="sys_gasStation_id != null" >
        #{sys_gasStation_id,jdbcType=VARCHAR},
      </if>
      <if test="gas_station_name != null" >
        #{gasStation_name,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="station_manager != null" >
        #{station_manager,jdbcType=VARCHAR},
      </if>
      <if test="contact_phone != null" >
        #{contact_phone,jdbcType=VARCHAR},
      </if>
      <if test="area_id != null" >
        #{area_id,jdbcType=VARCHAR},
      </if>
      <if test="province_id != null" >
        #{province_id,jdbcType=VARCHAR},
      </if>
      <if test="city_id != null" >
        #{city_id,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="longitude != null" >
        #{longitude,jdbcType=VARCHAR},
      </if>
      <if test="latitude != null" >
        #{latitude,jdbcType=VARCHAR},
      </if>
      <if test="expiry_date != null" >
        #{expiry_date,jdbcType=TIMESTAMP},
      </if>
      <if test="salesmen_id != null" >
        #{salesmen_id,jdbcType=VARCHAR},
      </if>
      <if test="salesmen_name != null" >
        #{salesmen_name,jdbcType=VARCHAR},
      </if>
      <if test="operations_id != null" >
        #{operations_id,jdbcType=VARCHAR},
      </if>
      <if test="operations_name != null" >
        #{operations_name,jdbcType=VARCHAR},
      </if>
      <if test="induComNumber != null" >
        #{induComNumber,jdbcType=VARCHAR},
      </if>
      <if test="tax_number != null" >
        #{tax_number,jdbcType=VARCHAR},
      </if>
      <if test="induComCertif != null" >
        #{induComCertif,jdbcType=VARCHAR},
      </if>
      <if test="tax_certif != null" >
        #{tax_certif,jdbcType=VARCHAR},
      </if>
      <if test="lng_certif != null" >
        #{lng_certif,jdbcType=VARCHAR},
      </if>
      <if test="dcp_certif != null" >
        #{dcp_certif,jdbcType=VARCHAR},
      </if>
      <if test="platform_type != null" >
        #{platform_type,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="created_time != null" >
        #{created_time,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedDate != null" >
        #{updated_time,jdbcType=TIMESTAMP},
      </if>
      <if test="gas_server != null" >
        #{gas_server,jdbcType=VARCHAR},
      </if>
      <if test="lng_price != null" >
        #{lng_price,jdbcType=VARCHAR},
      </if>
      <if test="promotions != null" >
        #{promotions,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <update id="updateByPrimaryKeySelective" parameterType="com.sysongy.poms.gastation.model.Gastation" >
    update sys_gas_station
    <set>
      <if test="gas_station_name != null &amp;&amp; gas_station_name != ''">
        gas_station_name = #{gas_station_name,jdbcType=VARCHAR},
      </if>
      <if test="station_level != null &amp;&amp; station_level != ''">
        station_level = #{station_level,jdbcType=VARCHAR},
      </if>
      <if test="station_manager != null &amp;&amp; station_manager != ''" >
        station_manager = #{station_manager,jdbcType=VARCHAR},
      </if>
      <if test="contact_phone != null &amp;&amp; contact_phone != ''" >
        contact_phone = #{contact_phone,jdbcType=VARCHAR},
      </if>
      <if test="area_id != null &amp;&amp; area_id != ''" >
        area_id = #{area_id,jdbcType=VARCHAR},
      </if>
      <if test="province_id != null &amp;&amp; province_id != ''" >
        province_id = #{province_id,jdbcType=VARCHAR},
      </if>
      <if test="city_id != null &amp;&amp; city_id != ''">
        city_id = #{city_id,jdbcType=VARCHAR},
      </if>
      <if test="address != null &amp;&amp; address != ''" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="longitude != null &amp;&amp; longitude != ''">
        longitude = #{longitude,jdbcType=VARCHAR},
      </if>
      <if test="latitude != null &amp;&amp; latitude != ''" >
        latitude = #{latitude,jdbcType=VARCHAR},
      </if>
      <if test="email != null &amp;&amp; email != ''" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="expiry_date != null &amp;&amp; expiry_date != ''" >
        expiry_date = #{expiry_date,jdbcType=TIMESTAMP},
      </if>
      <if test="salesmen_id != null &amp;&amp; salesmen_id != ''" >
        salesmen_id = #{salesmen_id,jdbcType=VARCHAR},
      </if>
      <if test="salesmen_name != null &amp;&amp; salesmen_name != ''" >
        salesmen_name = #{salesmen_name,jdbcType=VARCHAR},
      </if>
      <if test="operations_id != null &amp;&amp; operations_id != ''" >
        operations_id = #{operations_id,jdbcType=VARCHAR},
      </if>
      <if test="operations_name != null &amp;&amp; operations_name != ''" >
        operations_name = #{operations_name,jdbcType=VARCHAR},
      </if>
      <if test="indu_com_number != null &amp;&amp; indu_com_number != ''" >
        indu_com_number = #{indu_com_number,jdbcType=VARCHAR},
      </if>
      <if test="tax_number != null &amp;&amp; tax_number != ''" >
        tax_number = #{tax_number,jdbcType=VARCHAR},
      </if>
      <if test="indu_com_certif != null &amp;&amp; indu_com_certif != ''" >
        indu_com_certif = #{indu_com_certif,jdbcType=VARCHAR},
      </if>
      <if test="tax_certif != null &amp;&amp; tax_certif != ''" >
        tax_certif = #{tax_certif,jdbcType=VARCHAR},
      </if>
      <if test="lng_certif != null &amp;&amp; lng_certif != ''" >
        lng_certif = #{lng_certif,jdbcType=VARCHAR},
      </if>
      <if test="dcp_certif != null &amp;&amp; dcp_certif != ''" >
        dcp_certif = #{dcp_certif,jdbcType=VARCHAR},
      </if>
      <if test="platform_type != null &amp;&amp; platform_type != ''" >
        platform_type = #{platform_type,jdbcType=VARCHAR},
      </if>
      <if test="status != null &amp;&amp; status != ''" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="prepay_balance != null &amp;&amp; prepay_balance != ''" >
        prepay_balance = #{prepay_balance,jdbcType=DECIMAL},
      </if>
      
      <if test="created_time != null &amp;&amp; created_time != ''" >
        created_time = #{created_time,jdbcType=TIMESTAMP},
      </if>
      <if test="updated_time != null &amp;&amp; updated_time != ''" >
        updated_time = #{updated_time,jdbcType=TIMESTAMP},
      </if>
         <if test="gas_server != null &amp;&amp; gas_server != ''" >
        gas_server = #{gas_server,jdbcType=VARCHAR},
      </if>
         <if test="lng_price != null &amp;&amp; lng_price != ''" >
        lng_price = #{lng_price,jdbcType=VARCHAR},
      </if>
         <if test="promotions != null &amp;&amp; promotions != ''" >
        promotions = #{promotions,jdbcType=VARCHAR},
      </if>
         <if test="viewCount != null &amp;&amp; viewCount != ''" >
        view_count = #{viewCount,jdbcType=VARCHAR},
      </if>
         <if test="shareCount != null &amp;&amp; shareCount != ''" >
        share_count = #{shareCount,jdbcType=VARCHAR},
      </if>
    </set>
    where sys_gas_station_id = #{sys_gas_station_id,jdbcType=VARCHAR}
  </update>
  
  
  <update id="updateByPrimaryKeySelective2" parameterType="com.sysongy.poms.gastation.model.Gastation" >
    update sys_gas_station
    <set>
      <if test="gas_station_name != null &amp;&amp; gas_station_name != ''">
        gas_station_name = #{gas_station_name,jdbcType=VARCHAR},
      </if>
      <if test="station_level != null &amp;&amp; station_level != ''">
        station_level = #{station_level,jdbcType=VARCHAR},
      </if>
      <if test="station_manager != null &amp;&amp; station_manager != ''" >
        station_manager = #{station_manager,jdbcType=VARCHAR},
      </if>
      <if test="contact_phone != null &amp;&amp; contact_phone != ''" >
        contact_phone = #{contact_phone,jdbcType=VARCHAR},
      </if>
      <if test="area_id != null &amp;&amp; area_id != ''" >
        area_id = #{area_id,jdbcType=VARCHAR},
      </if>
      <if test="province_id != null &amp;&amp; province_id != ''" >
        province_id = #{province_id,jdbcType=VARCHAR},
      </if>
      <if test="city_id != null &amp;&amp; city_id != ''">
        city_id = #{city_id,jdbcType=VARCHAR},
      </if>
      <if test="address != null &amp;&amp; address != ''" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="longitude != null &amp;&amp; longitude != ''">
        longitude = #{longitude,jdbcType=VARCHAR},
      </if>
      <if test="latitude != null &amp;&amp; latitude != ''" >
        latitude = #{latitude,jdbcType=VARCHAR},
      </if>
      <if test="email != null &amp;&amp; email != ''" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="expiry_date != null &amp;&amp; expiry_date != ''" >
        expiry_date = #{expiry_date,jdbcType=TIMESTAMP},
      </if>
      <if test="salesmen_id != null &amp;&amp; salesmen_id != ''" >
        salesmen_id = #{salesmen_id,jdbcType=VARCHAR},
      </if>
      <if test="salesmen_name != null &amp;&amp; salesmen_name != ''" >
        salesmen_name = #{salesmen_name,jdbcType=VARCHAR},
      </if>
      <if test="operations_id != null &amp;&amp; operations_id != ''" >
        operations_id = #{operations_id,jdbcType=VARCHAR},
      </if>
      <if test="operations_name != null &amp;&amp; operations_name != ''" >
        operations_name = #{operations_name,jdbcType=VARCHAR},
      </if>
      <if test="indu_com_number != null &amp;&amp; indu_com_number != ''" >
        indu_com_number = #{indu_com_number,jdbcType=VARCHAR},
      </if>
      <if test="tax_number != null &amp;&amp; tax_number != ''" >
        tax_number = #{tax_number,jdbcType=VARCHAR},
      </if>
      <if test="indu_com_certif != null &amp;&amp; indu_com_certif != ''" >
        indu_com_certif = #{indu_com_certif,jdbcType=VARCHAR},
      </if>
      <if test="tax_certif != null &amp;&amp; tax_certif != ''" >
        tax_certif = #{tax_certif,jdbcType=VARCHAR},
      </if>
      <if test="lng_certif != null &amp;&amp; lng_certif != ''" >
        lng_certif = #{lng_certif,jdbcType=VARCHAR},
      </if>
      <if test="dcp_certif != null &amp;&amp; dcp_certif != ''" >
        dcp_certif = #{dcp_certif,jdbcType=VARCHAR},
      </if>
      <if test="platform_type != null &amp;&amp; platform_type != ''" >
        platform_type = #{platform_type,jdbcType=VARCHAR},
      </if>
      <if test="status != null &amp;&amp; status != ''" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="prepay_balance != null &amp;&amp; prepay_balance != ''" >
        prepay_balance = #{prepay_balance,jdbcType=DECIMAL},
      </if>
      
      <if test="created_time != null &amp;&amp; created_time != ''" >
        created_time = #{created_time,jdbcType=TIMESTAMP},
      </if>
      
      <if test="type != null &amp;&amp; type != ''" >
        type = #{type,jdbcType=VARCHAR},
      </if>
       <if test="map_type != null &amp;&amp; map_type != ''" >
        map_type = #{map_type,jdbcType=VARCHAR},
      </if>
      <if test="updated_time != null &amp;&amp; updated_time != ''" >
        updated_time = #{updated_time,jdbcType=TIMESTAMP},
      </if>
      <if test="promotions  != null &amp;&amp; promotions  != ''" >
        promotions  = #{promotions ,jdbcType=TIMESTAMP},
      </if>
      <if test="gas_server  != null &amp;&amp; gas_server  != ''" >
        gas_server  = #{gas_server ,jdbcType=TIMESTAMP},
      </if>
      <if test="lng_price != null &amp;&amp; lng_price != ''" >
        lng_price = #{lng_price,jdbcType=TIMESTAMP},
      </if>
      <if test="sys_gas_station_id != null &amp;&amp; sys_gas_station_id != ''" >
        sys_gas_station_id = #{sys_gas_station_id,jdbcType=TIMESTAMP},
      </if>
    </set>
    where  CONCAT(longitude,",",latitude) = #{xy,jdbcType=VARCHAR}
  </update>
  
   <update id="updatePrepayBalance" parameterType="com.sysongy.poms.gastation.model.Gastation" >
    update sys_gas_station set prepay_balance = cast(#{prepay_balance,jdbcType=DECIMAL} as decimal(10, 2)),
           prepay_version = #{prepay_version,jdbcType=INTEGER} 
      where sys_user_account_id = #{sys_user_account_id,jdbcType=VARCHAR}
      and prepay_version &lt; #{prepay_version,jdbcType=INTEGER}
  </update>
  
  <update id="updateByPrimaryKey" parameterType="com.sysongy.poms.gastation.model.Gastation" >
    update sys_gas_station
    set gas_station_name = #{gas_station_name,jdbcType=VARCHAR},
      contact_phone = #{contact_phone,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      station_manager = #{station_manager,jdbcType=VARCHAR},
      area_id = #{area_id,jdbcType=VARCHAR},
      province_id = #{province_id,jdbcType=VARCHAR},
      city_id = #{city_id,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      longitude = #{longitude,jdbcType=VARCHAR},
      latitude = #{latitude,jdbcType=VARCHAR},
      expiry_date = #{expiry_date,jdbcType=TIMESTAMP},
      salesmen_id = #{salesmen_id,jdbcType=VARCHAR},
      salesmen_name = #{salesmen_name,jdbcType=VARCHAR},
      operations_id = #{operations_id,jdbcType=VARCHAR},
      operations_name = #{operations_name,jdbcType=VARCHAR},
      indu_com_number = #{indu_com_number,jdbcType=VARCHAR},
      tax_number = #{tax_number,jdbcType=VARCHAR},
      indu_com_certif = #{indu_com_certif,jdbcType=VARCHAR},
      tax_certif = #{tax_certif,jdbcType=VARCHAR},
      lng_certif = #{lng_certif,jdbcType=VARCHAR},
      dcp_certif = #{dcp_certif,jdbcType=VARCHAR},
      platform_type = #{platform_type,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      created_time = #{created_time,jdbcType=TIMESTAMP},
      updated_time = #{updated_time,jdbcType=TIMESTAMP},
      prepay_version = #{prepay_version,jdbcType=INTEGER},
      prepay_balance = #{prepay_balance,jdbcType=DECIMAL}
    where sys_gas_station_id = #{sys_gas_station_id,jdbcType=VARCHAR}
  </update>
  
  <select id="gastionConsumeReport" resultMap="HenryResultMap" parameterType="com.sysongy.poms.order.model.SysOrder" >
    select sgs.sys_gas_station_id, sgs.gas_station_name,sgs.operations_name,sgs.salesmen_name,
	(select ifnull(sum(cash),0) from report_business rb where sgs.sys_gas_station_id = rb.channel_number and rb.order_type in('210' ,'220')
	  <if test="startDate != null &amp;&amp; startDate != ''">
		 and rb.order_date between CONCAT(#{startDate,jdbcType=VARCHAR},' 0:00:00') and CONCAT(#{endDate,jdbcType=VARCHAR},' 23:59:59')
	  </if>
	) cash,
	(select ifnull(sum(cash)*-1,0) from report_callback ra where sgs.sys_gas_station_id = ra.channel_number and ra.order_type in('210' ,'220')
	  <if test="startDate != null &amp;&amp; startDate != ''">
		 and ra.order_date between CONCAT(#{startDate,jdbcType=VARCHAR},' 0:00:00') and CONCAT(#{endDate,jdbcType=VARCHAR},' 23:59:59')
	  </if>
	) hedgefund,
	(select ifnull(sum(goods_sum),0) from report_business rb1 where sgs.sys_gas_station_id = rb1.channel_number and rb1.been_discharged = '0' and rb1.order_type in('210' ,'220')
	  <if test="startDate != null &amp;&amp; startDate != ''">
		 and rb1.order_date between CONCAT(#{startDate,jdbcType=VARCHAR},' 0:00:00') and CONCAT(#{endDate,jdbcType=VARCHAR},' 23:59:59')
	  </if>
	) summit,
	(select ifnull(count(rb2.order_id),0) from report_business rb2 where sgs.sys_gas_station_id  = rb2.channel_number and rb2.been_discharged = '0' and rb2.order_type in('210' ,'220')
	  <if test="startDate != null &amp;&amp; startDate != ''">
		 and rb2.order_date between CONCAT(#{startDate,jdbcType=VARCHAR},' 0:00:00') and CONCAT(#{endDate,jdbcType=VARCHAR},' 23:59:59')
	  </if>
	) consumecount
	from sys_gas_station sgs where 1=1
	<trim>
      <if test="channelNumber != null &amp;&amp; channelNumber != ''" >
        and sgs.sys_gas_station_id = #{channelNumber, jdbcType=VARCHAR} or sgs.gas_station_name = #{channelNumber, jdbcType=VARCHAR}
      </if>
	</trim>
    group by sgs.sys_gas_station_id
  </select>
  
  <select id="gastionConsumeReportTotal" resultMap="HenryTotalMap" parameterType="com.sysongy.poms.order.model.SysOrder" >
  	select sum(cash) total from (select sgs.sys_gas_station_id, sgs.gas_station_name,sgs.operations_name,sgs.salesmen_name,
	(select ifnull(sum(cash),0) from report_business rb where sgs.sys_gas_station_id = rb.channel_number and rb.order_type in('210' ,'220')
	  <if test="startDate != null &amp;&amp; startDate != ''">
		 and rb.order_date between CONCAT(#{startDate,jdbcType=VARCHAR},' 0:00:00') and CONCAT(#{endDate,jdbcType=VARCHAR},' 23:59:59')
	  </if>
	) cash,
	(select ifnull(sum(cash)*-1,0) from report_callback ra where sgs.sys_gas_station_id = ra.channel_number and ra.order_type in('210' ,'220')
	  <if test="startDate != null &amp;&amp; startDate != ''">
		 and ra.order_date between CONCAT(#{startDate,jdbcType=VARCHAR},' 0:00:00') and CONCAT(#{endDate,jdbcType=VARCHAR},' 23:59:59')
	  </if>
	) hedgefund,
	(select ifnull(sum(goods_sum),0) from report_business rb1 where sgs.sys_gas_station_id = rb1.channel_number and rb1.been_discharged = '0' and rb1.order_type in('210' ,'220')
	  <if test="startDate != null &amp;&amp; startDate != ''">
		 and rb1.order_date between CONCAT(#{startDate,jdbcType=VARCHAR},' 0:00:00') and CONCAT(#{endDate,jdbcType=VARCHAR},' 23:59:59')
	  </if>
	) summit,
	(select ifnull(count(rb2.order_id),0) from report_business rb2 where sgs.sys_gas_station_id  = rb2.channel_number and rb2.been_discharged = '0' and rb2.order_type in('210' ,'220')
	  <if test="startDate != null &amp;&amp; startDate != ''">
		 and rb2.order_date between CONCAT(#{startDate,jdbcType=VARCHAR},' 0:00:00') and CONCAT(#{endDate,jdbcType=VARCHAR},' 23:59:59')
	  </if>
	) consumecount
	from sys_gas_station sgs where 1=1
	<trim>
      <if test="channelNumber != null &amp;&amp; channelNumber != ''" >
        and sgs.sys_gas_station_id = #{channelNumber, jdbcType=VARCHAR} or sgs.gas_station_name = #{channelNumber, jdbcType=VARCHAR}
      </if>
	</trim>
    group by sgs.sys_gas_station_id) as total
  </select>
  
  <select id="gastionRechargeReport" resultMap="HenryResultMap" parameterType="com.sysongy.poms.order.model.SysOrder" >
	select sgs.sys_gas_station_id, sgs.gas_station_name,
	(select ifnull(sum(cash),0) from report_business rb where sgs.sys_gas_station_id = rb.channel_number and rb.deal_type ='131'
	  <if test="startDate != null &amp;&amp; startDate != ''">
		 and rb.order_date between CONCAT(#{startDate,jdbcType=VARCHAR},' 0:00:00') and CONCAT(#{endDate,jdbcType=VARCHAR},' 23:59:59')
	  </if>
	) cash,
	(select ifnull(sum(cash)*-1,0) from report_callback ra where sgs.sys_gas_station_id = ra.channel_number and ra.deal_type ='134'
	  <if test="startDate != null &amp;&amp; startDate != ''">
		 and ra.order_date between CONCAT(#{startDate,jdbcType=VARCHAR},' 0:00:00') and CONCAT(#{endDate,jdbcType=VARCHAR},' 23:59:59')
	  </if>
	) hedgefund,
	sgs.operations_name,sgs.salesmen_name
	from sys_gas_station sgs where 1=1
    <trim>
      <if test="channelNumber != null &amp;&amp; channelNumber != ''" >
        and sgs.sys_gas_station_id = #{channelNumber, jdbcType=VARCHAR} or sgs.gas_station_name = #{channelNumber, jdbcType=VARCHAR}
      </if>
	</trim>
    group by sgs.sys_gas_station_id
  </select>
  
  <select id="gastionRechargeReportTotal" resultMap="HenryTotalMap" parameterType="com.sysongy.poms.order.model.SysOrder" >
  	select sum(cash) total from (select sgs.sys_gas_station_id, sgs.gas_station_name,
	(select ifnull(sum(cash),0) from report_business rb where sgs.sys_gas_station_id = rb.channel_number and rb.order_type in('210' ,'220')
	  <if test="startDate != null &amp;&amp; startDate != ''">
		 and rb.order_date between CONCAT(#{startDate,jdbcType=VARCHAR},' 0:00:00') and CONCAT(#{endDate,jdbcType=VARCHAR},' 23:59:59')
	  </if>
	) cash,
	(select ifnull(sum(cash)*-1,0) from report_callback ra where sgs.sys_gas_station_id = ra.channel_number and ra.order_type in('210' ,'220')
	  <if test="startDate != null &amp;&amp; startDate != ''">
		 and ra.order_date between CONCAT(#{startDate,jdbcType=VARCHAR},' 0:00:00') and CONCAT(#{endDate,jdbcType=VARCHAR},' 23:59:59')
	  </if>
	) hedgefund,
	sgs.operations_name,sgs.salesmen_name
	from sys_gas_station sgs where 1=1
    <trim>
      <if test="channelNumber != null &amp;&amp; channelNumber != ''" >
        and sgs.sys_gas_station_id = #{channelNumber, jdbcType=VARCHAR} or sgs.gas_station_name = #{channelNumber, jdbcType=VARCHAR}
      </if>
	</trim>
    group by sgs.sys_gas_station_id) as total
  </select>
  
</mapper>