<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sysongy.poms.gastation.dao.GsGasPriceMapper" >
  <resultMap id="BaseResultMap" type="com.sysongy.poms.gastation.model.GsGasPrice" >
    <id column="gs_gas_price_id" property="gsGasPriceId" jdbcType="VARCHAR" />
    <result column="sys_gas_station_id" property="sysGasStationId" jdbcType="VARCHAR" />
    <result column="gas_num" property="gasNum" jdbcType="VARCHAR" />
    <result column="gas_name" property="gasName" jdbcType="VARCHAR" />
    <result column="price_id" property="price_id" jdbcType="VARCHAR" />
    <result column="unit" property="unit" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="created_date" property="createdDate" jdbcType="TIMESTAMP" />
    <result column="updated_date" property="updatedDate" jdbcType="TIMESTAMP" />
    <result column="gs_gas_source_id" property="gs_gas_source_id" jdbcType="VARCHAR" />
    <result column="is_deleted" property="is_deleted" jdbcType="INTEGER" />
    
    <association property="gasNumInfo" column="gas_num"
                 javaType="com.sysongy.poms.usysparam.model.Usysparam"
                 select="com.sysongy.poms.usysparam.dao.UsysparamMapper.queryCardTypeByMcode">
    </association>
    <association property="gasNameInfo" column="gas_name"
                 javaType="com.sysongy.poms.usysparam.model.Usysparam"
                 select="com.sysongy.poms.usysparam.dao.UsysparamMapper.queryCardTypeByMcode">
    </association>
    <association property="productPriceInfo" column="price_id"
                 javaType="com.sysongy.poms.gastation.model.ProductPrice"
                 select="com.sysongy.poms.gastation.dao.ProductPriceMapper.selectByPrimaryKey">
    </association>
    <association property="gs_gas_source_info" column="gs_gas_source_id"
                 javaType="com.sysongy.poms.liquid.model.SysGasSource"
                 select="com.sysongy.poms.liquid.dao.SysGasSourceMapper.selectByPrimaryKey">
    </association>
    <association property="gas_station" column="sys_gas_station_id"
                 javaType="com.sysongy.poms.gastation.model.Gastation"
                 select="com.sysongy.poms.gastation.dao.GastationMapper.selectByPrimaryKey">
    </association>
    <association property="unitInfo" column="unit"
                 javaType="com.sysongy.poms.gastation.model.Gastation"
                 select="com.sysongy.poms.usysparam.dao.UsysparamMapper.queryGasUnitTypeByMcode">
    </association>
  </resultMap>

  <sql id="Base_Column_List" >
    gs_gas_price_id, sys_gas_station_id, gas_num, gas_name, price_id, unit, remark, created_date,
    updated_date, gs_gas_source_id
  </sql>

  <select id="queryForPage" resultMap="BaseResultMap" parameterType="com.sysongy.poms.gastation.model.GsGasPrice" >
    select
    <include refid="Base_Column_List" />
    from gs_gas_price
    where 1=1
    <trim>
     <if test="gasName != null &amp;&amp; gasName != ''" >
      and (gas_name = #{gasName,jdbcType=VARCHAR} or gas_num = #{gasName,jdbcType=VARCHAR})
    </if>
    <if test="gasNum != null &amp;&amp; gasNum != ''" >
      and gas_num = #{gasNum,jdbcType=VARCHAR}
    </if>
    <if test="sysGasStationId != null &amp;&amp; sysGasStationId != ''" >
      and sys_gas_station_id = #{sysGasStationId,jdbcType=VARCHAR}
    </if>
    <if test="gasNum != null &amp;&amp; gasNum != ''" >
      and gas_num = #{gasNum,jdbcType=VARCHAR}
    </if>
    <if test="created_date_before != null &amp;&amp; created_date_before != ''" >
      and created_date between CONCAT(#{created_date_after,jdbcType=VARCHAR},' 0:00:00') and CONCAT(#{created_date_before,jdbcType=VARCHAR},' 23:59:59')
    </if>
    </trim>
     and is_deleted=0
  </select>


  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from gs_gas_price
    where gs_gas_price_id = #{gsGasPriceId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    update  gs_gas_price set is_deleted=1
    where gs_gas_price_id = #{gsGasPriceId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.sysongy.poms.gastation.model.GsGasPrice" >
    insert into gs_gas_price (gs_gas_price_id, sys_gas_station_id, gas_num, 
      gas_name, price_id, unit,
      remark, created_date, updated_date, gs_gas_source_id, is_deleted
      )
    values (#{gsGasPriceId,jdbcType=VARCHAR}, #{sysGasStationId,jdbcType=VARCHAR}, #{gasNum,jdbcType=VARCHAR}, 
      #{gasName,jdbcType=VARCHAR}, #{price_id,jdbcType=VARCHAR}, #{unit,jdbcType=VARCHAR},
      #{remark,jdbcType=VARCHAR}, #{createdDate,jdbcType=TIMESTAMP}, #{updatedDate,jdbcType=TIMESTAMP},
      #{gs_gas_source_id,jdbcType=VARCHAR}, 0
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sysongy.poms.gastation.model.GsGasPrice" >
    insert into gs_gas_price
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="gsGasPriceId != null" >
        gs_gas_price_id,
      </if>
      <if test="sysGasStationId != null" >
        sys_gas_station_id,
      </if>
      <if test="gasNum != null" >
        gas_num,
      </if>
      <if test="gasName != null" >
        gas_name,
      </if>
      <if test="price_id != null" >
        price_id,
      </if>
      <if test="unit != null" >
        unit,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="createdDate != null" >
        created_date,
      </if>
      <if test="updatedDate != null" >
        updated_date,
      </if>
      <if test="gs_gas_source_id != null" >
        gs_gas_source_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="gsGasPriceId != null" >
        #{gsGasPriceId,jdbcType=VARCHAR},
      </if>
      <if test="sysGasStationId != null" >
        #{sysGasStationId,jdbcType=VARCHAR},
      </if>
      <if test="gasNum != null" >
        #{gasNum,jdbcType=VARCHAR},
      </if>
      <if test="gasName != null" >
        #{gasName,jdbcType=VARCHAR},
      </if>
      <if test="price_id != null" >
        #{price_id,jdbcType=VARCHAR},
      </if>
      <if test="unit != null" >
        #{unit,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createdDate != null" >
        #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedDate != null" >
        #{updatedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="gs_gas_source_id != null" >
        #{gs_gas_source_id,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sysongy.poms.gastation.model.GsGasPrice" >
    update gs_gas_price
    <set >
      <if test="sysGasStationId != null" >
        sys_gas_station_id = #{sysGasStationId,jdbcType=VARCHAR},
      </if>
      <if test="gasNum != null" >
        gas_num = #{gasNum,jdbcType=VARCHAR},
      </if>
      <if test="gasName != null" >
        gas_name = #{gasName,jdbcType=VARCHAR},
      </if>
      <if test="price_id != null" >
        price_id = #{price_id,jdbcType=VARCHAR},
      </if>
      <if test="unit != null" >
        unit = #{unit,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createdDate != null" >
        created_date = #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedDate != null" >
        updated_date = #{updatedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="gs_gas_source_id != null" >
        gs_gas_source_id = #{gs_gas_source_id,jdbcType=VARCHAR},
      </if>
    </set>
    where gs_gas_price_id = #{gsGasPriceId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sysongy.poms.gastation.model.GsGasPrice" >
    update gs_gas_price
    set sys_gas_station_id = #{sysGasStationId,jdbcType=VARCHAR},
      gas_num = #{gasNum,jdbcType=VARCHAR},
      gas_name = #{gasName,jdbcType=VARCHAR},
      price_id = #{price_id,jdbcType=VARCHAR},
      unit = #{unit,jdbcType=VARCHAR},
      gs_gas_source_id = #{gs_gas_source_id,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      created_date = #{createdDate,jdbcType=TIMESTAMP},
      updated_date = #{updatedDate,jdbcType=TIMESTAMP}
    where gs_gas_price_id = #{gsGasPriceId,jdbcType=VARCHAR}
  </update>

  <select id="isExists" resultType="java.lang.Integer" parameterType="com.sysongy.poms.gastation.model.GsGasPrice" >
    select
    count(*)
    from gs_gas_price
    where 1=1
    <trim>
      <if test="gsGasPriceId!= null &amp;&amp; gsGasPriceId != ''" >
        and gs_gas_price_id = #{gsGasPriceId,jdbcType=VARCHAR}
      </if>
    </trim>
  </select>

</mapper>