<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sysongy.poms.gastation.dao.GsGasPriceMapper" >
  <resultMap id="BaseResultMap" type="com.sysongy.poms.gastation.model.GsGasPrice" >
    <id column="gs_gas_price_id" property="gsGasPriceId" jdbcType="VARCHAR" />
    <result column="sys_gas_station_id" property="sysGasStationId" jdbcType="VARCHAR" />
    <result column="gas_num" property="gasNum" jdbcType="VARCHAR" />
    <result column="gas_name" property="gasName" jdbcType="VARCHAR" />
    <result column="price_id" property="price_id" jdbcType="VARCHAR" />
    <result column="unit" property="unit" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="created_date" property="createdDate" jdbcType="TIMESTAMP" />
    <result column="updated_date" property="updatedDate" jdbcType="TIMESTAMP" />
    <result column="gs_gas_source_id" property="gs_gas_source_id" jdbcType="VARCHAR" />
    <result column="is_deleted" property="is_deleted" jdbcType="INTEGER" />

    <result column="fixed_discount" property="fixed_discount" jdbcType="FLOAT" />
    <result column="minus_money" property="minus_money" jdbcType="VARCHAR" />
    <result column="preferential_type" property="preferential_type" jdbcType="VARCHAR" />

    <association property="gasNumInfo" column="gas_num"
                 javaType="com.sysongy.poms.usysparam.model.Usysparam"
                 select="com.sysongy.poms.usysparam.dao.UsysparamMapper.queryCardTypeByMcode">
    </association>
    <association property="gasNameInfo" column="gas_name"
                 javaType="com.sysongy.poms.usysparam.model.Usysparam"
                 select="com.sysongy.poms.usysparam.dao.UsysparamMapper.queryCardTypeByMcode">
    </association>
    <association property="productPriceInfo" column="price_id"
                 javaType="com.sysongy.poms.gastation.model.ProductPrice"
                 select="com.sysongy.poms.gastation.dao.ProductPriceMapper.selectByPrimaryKey">
    </association>
    <association property="gs_gas_source_info" column="gs_gas_source_id"
                 javaType="com.sysongy.poms.liquid.model.SysGasSource"
                 select="com.sysongy.poms.liquid.dao.SysGasSourceMapper.selectByPrimaryKey">
    </association>
    <association property="gas_station" column="sys_gas_station_id"
                 javaType="com.sysongy.poms.gastation.model.Gastation"
                 select="com.sysongy.poms.gastation.dao.GastationMapper.selectByPrimaryKey">
    </association>
    <association property="unitInfo" column="unit"
                 javaType="com.sysongy.poms.gastation.model.Gastation"
                 select="com.sysongy.poms.usysparam.dao.UsysparamMapper.queryGasUnitTypeByMcode">
    </association>
  </resultMap>
  <resultMap id="MapResultMap" type="java.util.Map" >
    <result column="station_id" property="station_id" jdbcType="VARCHAR" />
    <result column="station_name" property="station_name" jdbcType="VARCHAR" />
    <result column="deposit" property="deposit" jdbcType="VARCHAR" />
    <result column="salesmen_name" property="salesmen_name" jdbcType="VARCHAR" />
    <result column="operations_name" property="operations_name" jdbcType="VARCHAR" />
    <result column="tc_fleet_id" property="tc_fleet_id" jdbcType="VARCHAR" />
    <result column="fleet_name" property="fleet_name" jdbcType="VARCHAR" />
    <result column="channel" property="channel" jdbcType="VARCHAR" />
    <result column="channel_number" property="channel_number" jdbcType="VARCHAR" />
    <result column="cash" property="cash" jdbcType="VARCHAR" />
    <result column="hedgefund" property="hedgefund" jdbcType="VARCHAR" />
    <result column="summit" property="summit" jdbcType="VARCHAR" />
    <result column="consumecount" property="consumecount" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    gs_gas_price_id, sys_gas_station_id, gas_num, gas_name, price_id, unit, remark, created_date,
    updated_date, gs_gas_source_id,fixed_discount,minus_money,preferential_type
  </sql>

  <select id="queryForPage" resultMap="BaseResultMap" parameterType="com.sysongy.poms.gastation.model.GsGasPrice" >
    select
    <include refid="Base_Column_List" />
    from gs_gas_price a left join usysparam b on a.gas_name=b.mcode 
    where 1=1
    <trim>
     <if test="gasName != null &amp;&amp; gasName != ''" >
      and (gas_name=#{gasName,jdbcType=VARCHAR} or b.mname=#{gasName,jdbcType=VARCHAR})
    </if>
    <if test="gasNum != null &amp;&amp; gasNum != ''" >
      and gas_num = #{gasNum,jdbcType=VARCHAR}
    </if>
    <if test="sysGasStationId != null &amp;&amp; sysGasStationId != ''" >
      and sys_gas_station_id = #{sysGasStationId,jdbcType=VARCHAR}
    </if>
    <if test="gasNum != null &amp;&amp; gasNum != ''" >
      and gas_num = #{gasNum,jdbcType=VARCHAR}
    </if>
    <if test="price_id != null &amp;&amp; price_id != ''" >
      and price_id = #{price_id,jdbcType=VARCHAR}
    </if>
    <if test="created_date_before != null &amp;&amp; created_date_before != ''" >
      and created_date between CONCAT(#{created_date_after,jdbcType=VARCHAR},' 0:00:00') and CONCAT(#{created_date_before,jdbcType=VARCHAR},' 23:59:59')
    </if>
    </trim>
     and is_deleted=0
  </select>


  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from gs_gas_price  a left join usysparam b on a.gas_name=b.mcode
    where a.gs_gas_price_id = #{gsGasPriceId,jdbcType=VARCHAR}
  </select>

  <!--根据气站ID和商品类型查询气品价格信息-->
  <select id="queryGsPriceByStationId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select * from gs_gas_price where is_deleted = 0 AND sys_gas_station_id = #{0} and gas_name = #{1}
  </select>

  <!--根据气站ID和商品ID查询气品价格信息-->
  <select id="queryGsPriceByGsPriceId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select * from gs_gas_price where is_deleted = 0 AND sys_gas_station_id = #{0} and gs_gas_price_id = #{1}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    update  gs_gas_price set is_deleted=1
    where gs_gas_price_id = #{gsGasPriceId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.sysongy.poms.gastation.model.GsGasPrice" >
    insert into gs_gas_price (gs_gas_price_id, sys_gas_station_id, gas_num, 
      gas_name, price_id, unit,
      remark, created_date, updated_date, gs_gas_source_id, is_deleted ,fixed_discount,minus_money,preferential_type
      )
    values (#{gsGasPriceId,jdbcType=VARCHAR}, #{sysGasStationId,jdbcType=VARCHAR}, #{gasNum,jdbcType=VARCHAR}, 
      #{gasName,jdbcType=VARCHAR}, #{price_id,jdbcType=VARCHAR}, #{unit,jdbcType=VARCHAR},
      #{remark,jdbcType=VARCHAR}, #{createdDate,jdbcType=TIMESTAMP}, #{updatedDate,jdbcType=TIMESTAMP},
      #{gs_gas_source_id,jdbcType=VARCHAR}, 0,
      #{fixed_discount ,jdbcType=FLOAT},
       #{minus_money,jdbcType=VARCHAR},
       #{preferential_type,jdbcType=VARCHAR}

      )
  </insert>
  <insert id="insertSelective" parameterType="com.sysongy.poms.gastation.model.GsGasPrice" >
    insert into gs_gas_price
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="gsGasPriceId != null" >
        gs_gas_price_id,
      </if>
      <if test="sysGasStationId != null" >
        sys_gas_station_id,
      </if>
      <if test="gasNum != null" >
        gas_num,
      </if>
      <if test="gasName != null" >
        gas_name,
      </if>
      <if test="price_id != null" >
        price_id,
      </if>
      <if test="unit != null" >
        unit,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="createdDate != null" >
        created_date,
      </if>
      <if test="updatedDate != null" >
        updated_date,
      </if>
      <if test="gs_gas_source_id != null" >
        gs_gas_source_id,
      </if>
      <if test="fixed_discount != null" >
        fixed_discount,
      </if>
      <if test="minus_money != null" >
        minus_money,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="gsGasPriceId != null" >
        #{gsGasPriceId,jdbcType=VARCHAR},
      </if>
      <if test="sysGasStationId != null" >
        #{sysGasStationId,jdbcType=VARCHAR},
      </if>
      <if test="gasNum != null" >
        #{gasNum,jdbcType=VARCHAR},
      </if>
      <if test="gasName != null" >
        #{gasName,jdbcType=VARCHAR},
      </if>
      <if test="price_id != null" >
        #{price_id,jdbcType=VARCHAR},
      </if>
      <if test="unit != null" >
        #{unit,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createdDate != null" >
        #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedDate != null" >
        #{updatedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="gs_gas_source_id != null" >
        #{gs_gas_source_id,jdbcType=VARCHAR},
      </if>
      <if test="fixed_discount != null" >
      #{fixed_discount ,jdbcType=FLOAT},
      </if>
      <if test="minus_money != null" >
        #{minus_money ,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sysongy.poms.gastation.model.GsGasPrice" >
    update gs_gas_price
    <set >
      <if test="sysGasStationId != null" >
        sys_gas_station_id = #{sysGasStationId,jdbcType=VARCHAR},
      </if>
      <if test="gasNum != null" >
        gas_num = #{gasNum,jdbcType=VARCHAR},
      </if>
      <if test="gasName != null" >
        gas_name = #{gasName,jdbcType=VARCHAR},
      </if>
      <if test="price_id != null" >
        price_id = #{price_id,jdbcType=VARCHAR},
      </if>
      <if test="unit != null" >
        unit = #{unit,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createdDate != null" >
        created_date = #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedDate != null" >
        updated_date = #{updatedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="gs_gas_source_id != null" >
        gs_gas_source_id = #{gs_gas_source_id,jdbcType=VARCHAR},
      </if>

        fixed_discount= #{fixed_discount ,jdbcType=FLOAT},


        minus_money=  #{minus_money ,jdbcType=VARCHAR},
      preferential_type =  #{preferential_type ,jdbcType=VARCHAR}

    </set>
    where gs_gas_price_id = #{gsGasPriceId,jdbcType=VARCHAR}
  </update>

  <update id="updateSysGasStation" parameterType="com.sysongy.poms.gastation.model.GsGasPrice" >
   UPDATE 
  sys_gas_station  c
SET
  LNG_price = 
  (SELECT 
    GROUP_CONCAT(d.`mname`, '-', b.product_price) 
  FROM
    gs_gas_price a,
    `product_price` b,
    
    usysparam d 
  WHERE b.product_id = a.gs_gas_price_id 
    AND b.`product_price_status` = 1 
    AND a.sys_gas_station_id = c.sys_gas_station_id 
    AND a.`gas_name` = d.`mcode` 
  GROUP BY c.sys_gas_station_id) where c.sys_gas_station_id= #{gsGasPriceId,jdbcType=VARCHAR} 
    
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sysongy.poms.gastation.model.GsGasPrice" >
    update gs_gas_price
    set sys_gas_station_id = #{sysGasStationId,jdbcType=VARCHAR},
      gas_num = #{gasNum,jdbcType=VARCHAR},
      gas_name = #{gasName,jdbcType=VARCHAR},
      price_id = #{price_id,jdbcType=VARCHAR},
      unit = #{unit,jdbcType=VARCHAR},
      gs_gas_source_id = #{gs_gas_source_id,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      created_date = #{createdDate,jdbcType=TIMESTAMP},
      updated_date = #{updatedDate,jdbcType=TIMESTAMP},
      fixed_discount=#{fixed_discount,jdbcType=FLOAT},
      minus_money=#{minus_money,jdbcType=VARCHAR},
      preferential_type=#{preferential_type ,jdbcType=VARCHAR}
    where gs_gas_price_id = #{gsGasPriceId,jdbcType=VARCHAR}
  </update>

  <select id="isExists" resultType="java.lang.Integer" parameterType="com.sysongy.poms.gastation.model.GsGasPrice" >
    select
    count(*)
    from gs_gas_price
    where 1=1
    <trim>
      <if test="gsGasPriceId!= null &amp;&amp; gsGasPriceId != ''" >
        and gs_gas_price_id = #{gsGasPriceId,jdbcType=VARCHAR}
      </if>
    </trim>
  </select>

  <!--查询价格信息列表-->
  <select id="queryPriceList" resultMap="MapResultMap" >
    select b.mname as gasName,pp.product_price as gasPrice,ggp.unit from gs_gas_price ggp left join product_price pp on ggp.price_id = pp.id
    left join usysparam b on ggp.gas_name=b.mcode
  </select>
    <!--获取折扣信息-->
  <select id="queryDiscount" resultMap="MapResultMap" parameterType="com.sysongy.poms.gastation.model.GsGasPrice" >
  	SELECT
		gs_gas_price.sys_gas_station_id,
		gs_gas_price.gas_name,
		gs_gas_price.unit,
		gs_gas_price.preferential_type,
		gs_gas_price.fixed_discount,
		gs_gas_price.minus_money,
		product_price.product_price,
		gs_gas_price.remark
	FROM
		gs_gas_price
	LEFT JOIN product_price ON gs_gas_price.price_id = product_price.id
	WHERE
		gs_gas_price.sys_gas_station_id = #{gsGasPriceId,jdbcType=VARCHAR}
	AND product_price.product_price = (
		SELECT
			MAX(product_price)
		FROM
			product_price
		LEFT JOIN gs_gas_price ON product_price.id = gs_gas_price.price_id
		WHERE
			gs_gas_price.sys_gas_station_id = #{gsGasPriceId,jdbcType=VARCHAR}
		AND product_price.product_price_status = '1'
		AND gs_gas_price.is_deleted = '0'
		LIMIT 1
	)LIMIT 1
	<!-- SELECT
		gs_gas_price.sys_gas_station_id,
		gs_gas_price.gas_name,
		gs_gas_price.unit,
		gs_gas_price.preferential_type,
		gs_gas_price.fixed_discount,
		gs_gas_price.minus_money,
		product_price.product_price,
		gs_gas_price.remark
	FROM
		gs_gas_price
	LEFT JOIN product_price ON gs_gas_price.price_id = product_price.id
	WHERE
		gs_gas_price.sys_gas_station_id = #{gsGasPriceId,jdbcType=VARCHAR}
	AND product_price.product_price_status = '1' and gs_gas_price.is_deleted='0' -->
  </select>
     <!--通过气站ID和价格获取单个气品信息-->
  <select id="queryGsPrice" resultMap="BaseResultMap" parameterType="java.lang.String" >
	SELECT
		gs_gas_price.sys_gas_station_id,
		gs_gas_price.gas_name,
		gs_gas_price.unit,
		gs_gas_price.preferential_type,
		gs_gas_price.fixed_discount,
		gs_gas_price.minus_money,
		product_price.product_price,
		gs_gas_price.remark
	FROM
		gs_gas_price
	LEFT JOIN product_price ON gs_gas_price.price_id = product_price.id
	WHERE
		gs_gas_price.sys_gas_station_id = #{0} and product_price.product_price= #{1}
	AND product_price.product_price_status = '1' and gs_gas_price.is_deleted='0' limit 1
  </select>
  <!-- 根据气站ID查询气站当前最高气价信息 -->
   <select id="queryGsGasPriceInfo" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
     <include refid="Base_Column_List" /> ,
    MAX(product_price.product_price)as price from gs_gas_price 
	LEFT JOIN product_price ON gs_gas_price.price_id = product_price.id
	WHERE product_price_status ='1' and is_deleted = '0' and sys_gas_station_id = #{gsGasPriceId,jdbcType=VARCHAR}
  </select>
</mapper>