<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sysongy.poms.gastation.dao.ProductPriceMapper" >
  <resultMap id="BaseResultMap" type="com.sysongy.poms.gastation.model.ProductPrice" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="product_price_id" property="productPriceId" jdbcType="VARCHAR" />
    <result column="product_price" property="productPrice" jdbcType="DECIMAL" />
    <result column="product_unit" property="productUnit" jdbcType="VARCHAR" />
    <result column="version" property="version" jdbcType="INTEGER" />
    <result column="product_price_status" property="productPriceStatus" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="strat_time" property="stratTime" jdbcType="TIMESTAMP" />
    <result column="finish_time" property="finishTime" jdbcType="TIMESTAMP" />
    <result column="product_price_type" property="product_price_type" jdbcType="VARCHAR" />
    <result column="product_id" property="product_id" jdbcType="VARCHAR" />
    <association property="product_price_type_info" column="product_price_type"
                 javaType="com.sysongy.poms.usysparam.model.Usysparam"
                 select="com.sysongy.poms.usysparam.dao.UsysparamMapper.queryProductPriceTypeByMcode">
    </association>
    <association property="productPriceIdInfo" column="product_price_id"
                 javaType="com.sysongy.poms.usysparam.model.Usysparam"
                 select="com.sysongy.poms.usysparam.dao.UsysparamMapper.queryCardTypeByMcode">
    </association>
    <association property="product_info" column="product_id"
                 javaType="com.sysongy.poms.gastation.model.ProductPrice"
                 select="com.sysongy.poms.gastation.dao.ProductPriceMapper.selectByPrimaryKey">
    </association>
    <association property="productUnitInfo" column="product_unit"
                 javaType="com.sysongy.poms.usysparam.model.Usysparam"
                 select="com.sysongy.poms.usysparam.dao.UsysparamMapper.queryGasUnitTypeByMcode">
    </association>
  </resultMap>
  <sql id="Base_Column_List" >
    id, product_price_id, product_price, product_unit, version, product_price_status, 
    create_time, strat_time, finish_time, product_id
  </sql>

  <select id="queryForPage" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from product_price
    where 1=1  order by product_price_status desc
  </select>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from product_price
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from product_price
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.sysongy.poms.gastation.model.ProductPrice" >
    insert into product_price (id, product_price_id, product_price,
      product_unit, version, product_price_status, 
      create_time, strat_time, finish_time
      )
    values (#{id,jdbcType=VARCHAR}, #{productPriceId,jdbcType=VARCHAR}, #{productPrice,jdbcType=DECIMAL}, 
      #{productUnit,jdbcType=VARCHAR}, #{version,jdbcType=INTEGER}, #{productPriceStatus,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{stratTime,jdbcType=TIMESTAMP}, #{finishTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sysongy.poms.gastation.model.ProductPrice" >
    insert into product_price
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="productPriceId != null" >
        product_price_id,
      </if>
      <if test="productPrice != null" >
        product_price,
      </if>
      <if test="productUnit != null" >
        product_unit,
      </if>
      <if test="version != null" >
        version,
      </if>
      <if test="productPriceStatus != null" >
        product_price_status,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="stratTime != null" >
        strat_time,
      </if>
      <if test="finishTime != null" >
        finish_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="productPriceId != null" >
        #{productPriceId,jdbcType=VARCHAR},
      </if>
      <if test="productPrice != null" >
        #{productPrice,jdbcType=DECIMAL},
      </if>
      <if test="productUnit != null" >
        #{productUnit,jdbcType=VARCHAR},
      </if>
      <if test="version != null" >
        #{version,jdbcType=INTEGER},
      </if>
      <if test="productPriceStatus != null" >
        #{productPriceStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="stratTime != null" >
        #{stratTime,jdbcType=TIMESTAMP},
      </if>
      <if test="finishTime != null" >
        #{finishTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sysongy.poms.gastation.model.ProductPrice" >
    update product_price
    <set >
      <if test="productPriceId != null" >
        product_price_id = #{productPriceId,jdbcType=VARCHAR},
      </if>
      <if test="productPrice != null" >
        product_price = #{productPrice,jdbcType=DECIMAL},
      </if>
      <if test="productUnit != null" >
        product_unit = #{productUnit,jdbcType=VARCHAR},
      </if>
      <if test="version != null" >
        version = #{version,jdbcType=INTEGER},
      </if>
      <if test="productPriceStatus != null" >
        product_price_status = #{productPriceStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="stratTime != null" >
        strat_time = #{stratTime,jdbcType=TIMESTAMP},
      </if>
      <if test="finishTime != null" >
        finish_time = #{finishTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sysongy.poms.gastation.model.ProductPrice" >
    update product_price
    set product_price_id = #{productPriceId,jdbcType=VARCHAR},
      product_price = #{productPrice,jdbcType=DECIMAL},
      product_unit = #{productUnit,jdbcType=VARCHAR},
      version = #{version,jdbcType=INTEGER},
      product_price_status = #{productPriceStatus,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      strat_time = #{stratTime,jdbcType=TIMESTAMP},
      finish_time = #{finishTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <select id="isExists" resultType="java.lang.Integer" parameterType="com.sysongy.poms.gastation.model.ProductPrice" >
    select
    count(*)
    from product_price
    where 1=1
    <trim>
      <if test="id!= null &amp;&amp; id != ''" >
        and id = #{id,jdbcType=VARCHAR}
      </if>
    </trim>
  </select>

  <update id="updatePriceStatus" parameterType="com.sysongy.poms.gastation.model.ProductPrice" >
    update product_price
    set product_price_status = #{productPriceStatus,jdbcType=VARCHAR}
    where product_id = #{product_id,jdbcType=VARCHAR}
  </update>
</mapper>