<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sysongy.poms.card.dao.GasCardMapper" >

  <resultMap id="BaseResultList" type="com.sysongy.poms.card.model.GasCard" >
    <id column="card_no" property="card_no" jdbcType="VARCHAR" />
    <result column="card_type" property="card_type" jdbcType="VARCHAR" />
    <result column="card_status" property="card_status" jdbcType="VARCHAR" />
    <result column="card_property" property="card_property" jdbcType="VARCHAR" />
    <result column="operator" property="operator" jdbcType="VARCHAR" />
    <result column="storage_time" property="storage_time" jdbcType="TIMESTAMP" />
    <result column="release_time" property="release_time" jdbcType="TIMESTAMP" />
    <result column="memo" property="memo" jdbcType="VARCHAR" />
    <result column="workstation" property="workstation" jdbcType="VARCHAR" />
    <result column="workstation_resp" property="workstation_resp" jdbcType="VARCHAR" />
    <result column="batch_no" property="batch_no" jdbcType="VARCHAR" />
    <result column="card_flag_id" property="card_flag_id" jdbcType="INTEGER" />
    <result column="station_receive_time" property="station_receive_time" jdbcType="TIMESTAMP" />
    <result column="sysUserId" property="sysUserId" jdbcType="VARCHAR" />
    <association property="card_type_info" column="card_type"
                 javaType="com.sysongy.poms.usysparam.model.Usysparam"
                 select="com.sysongy.poms.usysparam.dao.UsysparamMapper.queryCardTypeByMcode">
    </association>
    <association property="cardStatusInfo" column="card_status"
                 javaType="com.sysongy.poms.usysparam.model.Usysparam"
                 select="com.sysongy.poms.usysparam.dao.UsysparamMapper.queryCardStatusByMcode">
    </association>
    <association property="sysUserIdInfo" column="sysUserId"
                 javaType="com.sysongy.poms.permi.model.SysUser"
                 select="com.sysongy.poms.permi.dao.SysUserMapper.queryUserById">
    </association>
    <association property="card_property_info" column="card_property"
                 javaType="com.sysongy.poms.usysparam.model.Usysparam"
                 select="com.sysongy.poms.usysparam.dao.UsysparamMapper.queryOrderPropertyByMcode">
    </association>
  </resultMap>

  <sql id="Base_Column_List" >
    card_no, card_type, card_status, card_property, operator, storage_time, release_time, memo, workstation, workstation_resp, batch_no, card_flag_id, sysUserId, station_receive_time
  </sql>

  <sql id="Base_Column_List1" >
    driver.sys_driver_id as driverID, driver.full_name as dName, driver.mobile_phone as mPhone, card_no, card_type, card_status, card_property, operator, storage_time, release_time, gc.memo as memo, workstation, workstation_resp, batch_no, card_flag_id, sysUserId, station_receive_time
  </sql>

  <select id="queryForPage" resultMap="BaseResultList"  parameterType="com.sysongy.poms.card.model.GasCard" >
  	 select <include refid="Base_Column_List1" />
    from gas_card gc
     left outer join sys_driver driver on gc.card_no = driver.card_id
    where 1=1
    <trim>
      <if test="card_no != null &amp;&amp; card_no != ''" >
        and card_no = #{card_no,jdbcType=VARCHAR}
      </if>
      <if test="card_type != null &amp;&amp; card_type != ''" >
        and card_type = #{card_type,jdbcType=VARCHAR}
      </if>
      <if test="card_status != null &amp;&amp; card_status != ''" >
        and card_status = #{card_status,jdbcType=VARCHAR}
      </if>
      <if test="operator != null &amp;&amp; operator != ''">
        and operator LIKE CONCAT(CONCAT('%',  #{operator,jdbcType=VARCHAR}), '%')
      </if>
      <if test="workstation != null &amp;&amp; workstation != ''">
         and workstation = #{workstation,jdbcType=VARCHAR}
      </if>
      <if test="workstation_resp != null &amp;&amp; workstation_resp != ''">
         workstation_resp = #{workstation_resp,jdbcType=VARCHAR}
      </if>
      <if test="workstation_resp != null &amp;&amp; workstation_resp != ''">
         batch_no = #{batch_no,jdbcType=VARCHAR}
      </if>
      <if test="storage_time_after != null &amp;&amp; storage_time_after != ''">
        and storage_time between CONCAT(#{storage_time_after,jdbcType=VARCHAR},' 0:00:00') and CONCAT(#{storage_time_before,jdbcType=VARCHAR},' 23:59:59')
      </if>
    </trim>
  </select>

  <select id="queryCardFor2StatusInfo" resultMap="BaseResultList"  parameterType="com.sysongy.poms.card.model.GasCard" >
    select <include refid="Base_Column_List1" />
    from gas_card gc
    left outer join sys_driver driver on gc.card_no = driver.card_id
    where 1=1
    <trim>
      <if test="card_no != null &amp;&amp; card_no != ''" >
        and (card_no = #{card_no,jdbcType=VARCHAR} or (driver.mobile_phone = #{card_no,jdbcType=VARCHAR}))
      </if>
      <if test="card_type != null &amp;&amp; card_type != ''" >
        and card_type = #{card_type,jdbcType=VARCHAR}
      </if>
      <if test="operator != null &amp;&amp; operator != ''">
        and operator = #{operator,jdbcType=VARCHAR}
      </if>
      <if test="workstation != null &amp;&amp; workstation != ''">
        and workstation = #{workstation,jdbcType=VARCHAR}
      </if>
      <if test="workstation_resp != null &amp;&amp; workstation_resp != ''">
        workstation_resp = #{workstation_resp,jdbcType=VARCHAR}
      </if>
      <if test="workstation_resp != null &amp;&amp; workstation_resp != ''">
        batch_no = #{batch_no,jdbcType=VARCHAR}
      </if>
      <if test="storage_time_after != null &amp;&amp; storage_time_after != ''">
        and storage_time between CONCAT(#{storage_time_after,jdbcType=VARCHAR},' 0:00:00') and CONCAT(#{storage_time_before,jdbcType=VARCHAR},' 23:59:59')
      </if>
    </trim>
       and (card_status = 3 or card_status = 4)
  </select>


  <select id="queryGasCardForCRM" resultMap="BaseResultList"
          parameterType="com.sysongy.api.client.controller.model.CRMCardUpdateInfo" >
    select <include refid="Base_Column_List" />
    from gas_card gc
    where 1=1
    <trim>
      <if test="startID != null &amp;&amp; startID != ''" >
        and CAST(card_no as unsigned) &gt; #{startID,jdbcType=INTEGER}
      </if>
      <if test="endID != null &amp;&amp; endID != ''" >
        and CAST(card_no as unsigned) &lt; #{endID,jdbcType=INTEGER}
      </if>
      <if test="sys_gas_station_id != null &amp;&amp; sys_gas_station_id != ''">
        and workstation = #{sys_gas_station_id, jdbcType=VARCHAR}
      </if>
    </trim>
      and card_status=2
  </select>



  <select id="queryForCRMPage" resultMap="BaseResultList"  parameterType="com.sysongy.poms.card.model.GasCard" >
    select <include refid="Base_Column_List1" />
    from gas_card gc
    left outer join sys_driver driver on gc.card_no = driver.card_id
    where 1=1
    <trim>
      <if test="card_no != null &amp;&amp; card_no != ''" >
        and (card_no = #{card_no,jdbcType=VARCHAR} or (driver.mobile_phone = #{card_no,jdbcType=VARCHAR})
      </if>
      <if test="card_type != null &amp;&amp; card_type != ''" >
        and card_type = #{card_type,jdbcType=VARCHAR}
      </if>
      <if test="card_status != null &amp;&amp; card_status != ''" >
        and card_status = #{card_status,jdbcType=VARCHAR}
      </if>
      <if test="operator != null &amp;&amp; operator != ''">
        and operator = #{operator,jdbcType=VARCHAR}
      </if>
      <if test="workstation != null &amp;&amp; workstation != ''">
        and workstation = #{workstation,jdbcType=VARCHAR}
      </if>
      <if test="workstation_resp != null &amp;&amp; workstation_resp != ''">
        workstation_resp = #{workstation_resp,jdbcType=VARCHAR}
      </if>
      <if test="workstation_resp != null &amp;&amp; workstation_resp != ''">
        batch_no = #{batch_no,jdbcType=VARCHAR}
      </if>
      <if test="storage_time_after != null &amp;&amp; storage_time_after != ''">
        and storage_time between CONCAT(#{storage_time_after,jdbcType=VARCHAR},' 0:00:00') and CONCAT(#{storage_time_before,jdbcType=VARCHAR},' 23:59:59')
      </if>
    </trim>
  </select>

  <select id="queryForPageUpdate" resultMap="BaseResultList"  parameterType="com.sysongy.api.client.controller.model.CRMCardUpdateInfo" >
    select <include refid="Base_Column_List1" />
    from gas_card gc
     left outer join sys_driver driver on gc.card_no = driver.card_id
     where 1=1
    <trim>
      <if test="card_no != null &amp;&amp; card_no != ''" >
        and card_no = #{card_no,jdbcType=VARCHAR}
      </if>
      <if test="card_type != null &amp;&amp; card_type != ''" >
        and card_type = #{card_type,jdbcType=VARCHAR}
      </if>
      <if test="operator != null &amp;&amp; operator != ''">
        and operator = #{operator,jdbcType=VARCHAR}
      </if>
      <if test="workstation != null &amp;&amp; workstation != ''">
        and workstation = #{workstation,jdbcType=VARCHAR}
      </if>
      <if test="workstation_resp != null &amp;&amp; workstation_resp != ''">
        workstation_resp = #{workstation_resp,jdbcType=VARCHAR}
      </if>
      <if test="workstation_resp != null &amp;&amp; workstation_resp != ''">
        batch_no = #{batch_no,jdbcType=VARCHAR}
      </if>
      <if test="storage_time_after != null &amp;&amp; storage_time_after != ''">
        and storage_time between CONCAT(#{storage_time_after,jdbcType=VARCHAR},' 0:00:00') and CONCAT(#{storage_time_before,jdbcType=VARCHAR},' 23:59:59')
      </if>
    </trim>
       and CAST(card_no as unsigned) &gt; #{startID,jdbcType=INTEGER} and CAST(card_no as unsigned)  &lt; #{endID,jdbcType=INTEGER}
       order by CAST(card_no as unsigned) and (card_status = 3 or card_status = 4)
  </select>

  <select id="selectByCardNo" resultMap="BaseResultList" parameterType="java.lang.String" >
    select <include refid="Base_Column_List" /> from gas_card where card_no = #{cardNo,jdbcType=VARCHAR}
  </select>

  <select id="selectByCardNoForCRM" resultMap="BaseResultList" parameterType="java.lang.String" >
    select
     <include refid="Base_Column_List" />
       from gas_card
      where card_no = #{cardNo,jdbcType=VARCHAR}
  </select>

  <select id="selectByPrimaryKey" resultMap="BaseResultList" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from gas_card where card_no = #{cardNo,jdbcType=VARCHAR}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from gas_card where card_no = #{cardNo,jdbcType=VARCHAR}
  </delete>
  
  <insert id="insert" parameterType="com.sysongy.poms.card.model.GasCard" >
    insert into gas_card (card_no, card_type, card_status, card_property, operator, storage_time, release_time, memo, workstation, workstation_resp, batch_no)
    values (#{card_no,jdbcType=VARCHAR}, #{card_type,jdbcType=VARCHAR}, #{card_status,jdbcType=VARCHAR}, #{card_property,jdbcType=VARCHAR}, #{operator,jdbcType=VARCHAR}, #{storage_time,jdbcType=TIMESTAMP}, #{release_time,jdbcType=TIMESTAMP}, #{memo,jdbcType=VARCHAR}, #{workstation,jdbcType=VARCHAR}, #{workstation_resp,jdbcType=VARCHAR}, #{batch_no,jdbcType=VARCHAR})
  </insert>
  
  <insert id="insertSelective" parameterType="com.sysongy.poms.card.model.GasCard" >
    insert into gas_card
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="card_no != null" >
        and card_no,
      </if>
      <if test="card_type != null" >
        and card_type,
      </if>
      <if test="card_status != null" >
        and card_status,
      </if>
      <if test="operator != null" >
        and operator,
      </if>
      <if test="storage_time != null" >
         storage_time,
      </if>
      <if test="release_time != null" >
        release_time,
      </if>
      <if test="workstation != null" >
        workstation,
      </if>
      <if test="workstation_resp != null" >
        workstation_resp,
      </if>
      <if test="batch_no != null" >
        batch_no
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="card_no != null" >
        #{card_no,jdbcType=VARCHAR},
      </if>
      <if test="card_type != null" >
        #{card_type,jdbcType=VARCHAR},
      </if>
      <if test="card_status != null" >
        #{card_status,jdbcType=VARCHAR},
      </if>
      <if test="operator != null" >
        #{operator,jdbcType=VARCHAR},
      </if>
      <if test="storage_time != null" >
        #{storage_time,jdbcType=TIMESTAMP},
      </if>
      <if test="release_time != null" >
        #{release_time,jdbcType=TIMESTAMP},
      </if>
      <if test="memo != null" >
        #{memo,jdbcType=VARCHAR},
      </if>
      <if test="workstation != null" >
        #{workstation,jdbcType=VARCHAR},
      </if>
      <if test="workstation_resp != null" >
        #{workstation_resp,jdbcType=VARCHAR},
      </if>
      <if test="batch_no != null" >
        #{batch_no,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <insert id="insertBatch" parameterType="java.util.List" >
    insert into gas_card (card_no, card_type, card_status, card_property, operator, storage_time, release_time, memo, batch_no)
    values
    <foreach collection="list" item="item" index="index" separator="," >  
        (#{item.card_no},#{item.card_type},#{item.card_status}, #{item.card_property}, #{item.operator},#{item.storage_time},#{item.release_time},#{item.memo},#{item.batch_no})  
    </foreach> 
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.sysongy.poms.card.model.GasCard" >
    update gas_card
    <set >
      <if test="card_type != null" >
        card_type = #{card_type,jdbcType=VARCHAR},
      </if>
      <if test="card_status != null" >
        card_status = #{card_status,jdbcType=VARCHAR},
      </if>
      <if test="card_property != null" >
        card_property = #{card_property,jdbcType=VARCHAR},
      </if>
      <if test="operator != null" >
        operator = #{operator,jdbcType=VARCHAR},
      </if>
      <if test="release_time != null" >
        release_time = #{release_time,jdbcType=TIMESTAMP},
      </if>
      <if test="memo != null" >
        memo = #{memo,jdbcType=VARCHAR},
      </if>
      <if test="workstation != null" >
        workstation = #{workstation,jdbcType=VARCHAR},
      </if>
      <if test="workstation_resp != null" >
        workstation_resp = #{workstation_resp,jdbcType=VARCHAR},
      </if>
      <if test="station_receive_time != null" >
        station_receive_time = #{station_receive_time,jdbcType=TIMESTAMP},
      </if>
    </set>
    where card_no = #{card_no,jdbcType=VARCHAR}
  </update>
  
  <update id="updateByPrimaryKey" parameterType="com.sysongy.poms.card.model.GasCard" >
    update gas_card
    set card_type = #{card_type,jdbcType=VARCHAR},
      card_status = #{card_status,jdbcType=VARCHAR},
      operator = #{operator,jdbcType=VARCHAR},
      storage_time = #{storage_time,jdbcType=TIMESTAMP},
      release_time = #{release_time,jdbcType=TIMESTAMP},
      memo = #{memo,jdbcType=VARCHAR},
      workstation = #{workstation,jdbcType=VARCHAR},
      workstation_resp = #{workstation_resp,jdbcType=VARCHAR},
      batch_no = #{batch_no,jdbcType=VARCHAR},
      station_receive_time = #{station_receive_time,jdbcType=TIMESTAMP}
    where card_no = #{card_no,jdbcType=VARCHAR}
  </update>

  <update id="updateCardStatus" parameterType="com.sysongy.api.client.controller.model.CRMCardUpdateInfo" >
    update gas_card
    <set >
      <if test="statusType != null" >
        card_status = #{statusType, jdbcType=VARCHAR},
      </if>
      <if test="station_receive_time != null" >
        station_receive_time = #{station_receive_time, jdbcType=TIMESTAMP},
      </if>
      <if test="sysUserId != null" >
        sysUserId = #{sysUserId, jdbcType=VARCHAR},
      </if>
    </set>
     where CAST(card_no as unsigned) &gt; #{startID,jdbcType=INTEGER} and CAST(card_no as unsigned) &lt; #{endID,jdbcType=INTEGER}
      and card_status=2
  </update>

</mapper>